
            <!-- Rodapé com Bootstrap -->
            <footer class="bg-dark text-light">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Contato</h4>
                            <p>Email: costatony79@gmail.com</p>
                        </div>
    
                    </div>
                </div>
            </footer> 