<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/america"><img src="/img/logo-asr.png" width="90" height="90" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">GEOGRAFIA</div>
            <div class=" display-4 text-center">ATIVIDADE AVALIATIVA</div>
            <div class=" display-5 text-center">30 pontos</div>
       </div>
        <br>
       <div class="container bg-light">
            <div class=" display-5">INSTRUÇÕES:</div>
            <br>
            <div class=" display-6 text-justify">Leia atentamente o enunciado da questão e escolha uma das opções. Após o término da atividade avaliativa, verifique se todas as questões foram marcadas e clique no botão responder.</div>
            <br>
            <div class=" display-6 text-justify"><b>Observações:</b></div>
            <ol>
                <li>A atividade não será enviada, caso qualquer questão, o seu nome e a turma não sejam marcadas ou preenchidas.</li>
                <li>Preencha seu nome completo <b>NOMES ESCRITOS DE FORMA ERRADA OU INCOMPLETOS, SERÃO IGNORADOS E A NOTA SERÁ ZERADA.</b></li>
                <li>Preencha a sua turma <b>ALUNOS SEM TURMA OU COM TURMA ERRADA NÃO TERÃO A NOTA CONTABILIZADA.</b></li>
                <li>Você pode pesquisar em qualquer material, para responder as questões.</li>
                <li>Você não pode colar as respostas dos seus colegas. <b>Caso seja flagrado, sua nota será automaticamente zerada. <i>FIQUE LIGADO!</i></b></li>
                <li>Quando você responder a atividade avaliativa você será direcionado para uma página que irá lhe informar as suas respostas e a sua nota.</li>
            </ol>
            <br>
            <div class="display-6">BOA SORTE!</div>
            <br>
       </div>
    <hr>
    <div class="container">
        <form method="POST" action="/gabarito_101_bim_3" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>
            <div class="input-group mb-3">              
                <span class="input-group-text" id="basic-addon1">Turma:</span>
                <input type="text" class="form-control" placeholder="Digite sua turma aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="turma" id="turma" maxlength="3">
              </div>
            <div class="container-sm">

              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Israel X Palestina</h5>
                        <p class="card-text"><div class="texto_paragrafo">A história do conflito entre Israel e Palestina remonta a décadas de disputas territoriais, políticas e religiosas profundamente enraizadas na região do Oriente Médio. A origem desse conflito remonta ao final do século XIX, com o surgimento da ideia sionista e a busca por um lar nacional judaico.

                          Após séculos de diáspora e perseguições aos judeus, o movimento sionista, liderado por Theodor Herzl, ganhou força no final do século XIX. Seu objetivo era a criação de um Estado judeu na terra historicamente conhecida como Terra de Israel ou Palestina.
                          
                          Em 1947, a ONU apresentou o Plano de Partilha da Palestina, sugerindo a divisão do território em dois Estados - um judeu e um árabe. Os líderes sionistas aceitaram o plano, enquanto a liderança árabe rejeitou a proposta, alegando que era injusta e desconsiderava seus direitos.
                          
                          Em 14 de maio de 1948, David Ben-Gurion, líder sionista, declarou a independência do Estado de Israel. Imediatamente, países vizinhos árabes, como Egito, Síria, Iraque e Jordânia, invadiram o recém-criado Estado em uma tentativa de anular a declaração e proteger os interesses dos palestinos.
                          
                          O conflito resultou em uma guerra que durou aproximadamente um ano e deixou sérias consequências. Israel emergiu vitorioso, ampliando suas fronteiras além das áreas designadas pelo Plano de Partilha. Enquanto isso, muitos palestinos se tornaram refugiados e perderam suas terras.
                          
                          Desde então, o conflito entre Israel e Palestina tem sido caracterizado por disputas territoriais, questões de soberania, direitos humanos e a busca por uma solução pacífica. Inúmeras tentativas foram feitas para alcançar a paz, como os Acordos de Oslo na década de 1990, mas nenhum acordo duradouro foi alcançado até o momento.
                          
                          As tensões entre as partes envolvidas continuam a alimentar o ciclo de violência e hostilidade na região, com episódios frequentes de confrontos armados, atentados terroristas e protestos. A questão central permanece a disputa pela posse e direitos sobre a terra e o estabelecimento de fronteiras definidas.
                          
                          Embora a história da formação do Estado de Israel seja celebrada pelos judeus como a realização de um sonho de séculos, para os palestinos representa a perda de suas terras ancestrais e a negação de seus direitos. A busca por uma solução justa e duradoura ainda é um desafio complexo e delicado, que demanda o envolvimento de todas as partes interessadas e compromisso com o diálogo e a negociação.</div></p>
                      </div>
                      <div class="text-right"><small>Texto gerado por IA em 13/09/2023</small></div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 1</h5>
                        <p class="card-text">Qual é a origem do conflito entre Israel e Palestina?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q1" value="A" maxlength="1">Disputas políticas no Oriente Médio.</li>
                                    <li><input type="radio" name="q1" value="B" maxlength="1">Disputas religiosas na região.</li>
                                    <li><input type="radio" name="q1" value="C" maxlength="1">Disputas territoriais antigas.</li>
                                    <li><input type="radio" name="q1" value="D" maxlength="1">Surgimento do movimento sionista.</li>
                                    <li><input type="radio" name="q1" value="E" maxlength="1">Consequências da Segunda Guerra Mundial.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                       
                                 
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 2</h5>
                        <p class="card-text">O que foi proposto pelo Plano de Partilha da Palestina apresentado pela ONU em 1947?</p>
                        <div class="form-group">
                            <div class="btn-group">
                                <ol type="A">
                                    <li><input type="radio" name="q2" value="A" maxlength="1">A criação de um Estado árabe na Palestina.</li>
                                    <li><input type="radio" name="q2" value="B" maxlength="1">A divisão do território em dois Estados - um judeu e um árabe.</li>
                                    <li><input type="radio" name="q2" value="C" maxlength="1">A unificação de Israel e Palestina em um único Estado.</li>
                                    <li><input type="radio" name="q2" value="D" maxlength="1">A independência total da Palestina.</li>
                                    <li><input type="radio" name="q2" value="E" maxlength="1">A retirada de Israel da região.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                     
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 3</h5>
                        <p class="card-text">Por que a liderança árabe rejeitou o Plano de Partilha da Palestina?</p>
                        <div class="form-group">
                            <div class="btn-group">
                                <ol type="A">
                                    <li><input type="radio" name="q3" value="A" maxlength="1">Por considerar injusto e desconsiderar seus direitos.</li>
                                    <li><input type="radio" name="q3" value="B" maxlength="1">Por falta de apoio da comunidade internacional.</li>
                                    <li><input type="radio" name="q3" value="C" maxlength="1">Por pressão dos Estados Unidos.</li>
                                    <li><input type="radio" name="q3" value="D" maxlength="1">Por não concordar com a independência da Palestina.</li>
                                    <li><input type="radio" name="q3" value="E" maxlength="1">Por não acreditar na viabilidade de um Estado judeu.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 4</h5>
                        <p class="card-text">O que aconteceu imediatamente após a declaração de independência de Israel em 1948?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q4" value="A" maxlength="1">A liderança árabe reconheceu o Estado de Israel.</li>
                                    <li><input type="radio" name="q4" value="B" maxlength="1">Países árabes vizinhos invadiram Israel.</li>
                                    <li><input type="radio" name="q4" value="C" maxlength="1">A ONU aprovou a divisão da Palestina em dois Estados.</li>
                                    <li><input type="radio" name="q4" value="D" maxlength="1">Israel se tornou um Estado binacional.</li>
                                    <li><input type="radio" name="q4" value="E" maxlength="1">O conflito entre Israel e Palestina foi resolvido.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 5</h5>
                        <p class="card-text">Quais são os principais temas que caracterizam o conflito entre Israel e Palestina?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q5" value="A" maxlength="1">Disputas territoriais e questões de soberania.</li>
                                    <li><input type="radio" name="q5" value="B" maxlength="1">Questões religiosas e direitos humanos.</li>
                                    <li><input type="radio" name="q5" value="C" maxlength="1">Conflitos étnicos e econômicos.</li>
                                    <li><input type="radio" name="q5" value="D" maxlength="1">Tensões ideológicas e políticas.</li>
                                    <li><input type="radio" name="q5" value="E" maxlength="1">Questões culturais e ambientais.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                                     
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="text-center"><img src="/img/russia versos ucrânia.png" class="card-img-top imagem_reduzida" alt="Descrição da Imagem"></div>
                        <h5 class="card-title">Guerra na Ucrânia</h5>
                        <p class="card-text"><div class="texto_paragrafo">As origens históricas das relações entre Rússia e Ucrânia são profundas, complexas e, muitas vezes, conflituosas. O estado medieval da Rus' de Kiev, estabelecido no século IX, é considerado por muitos como o precursor tanto da Rússia moderna quanto da Ucrânia. Sua capital, Kiev, é hoje a capital da Ucrânia. Durante este período, o cristianismo foi adotado, o que influenciou profundamente a cultura e a identidade de ambos os povos.

                          Após a invasão mongol no século XIII, o centro de poder da Rus' começou a se deslocar para o norte, para a região de Moscou. Moscou gradualmente emergiu como um principado dominante, enquanto a região de Kiev, junto com outras partes da atual Ucrânia, enfrentava o domínio da Lituânia e depois da Polônia.
                          
                          No século XVI, os cossacos emergiram como uma força formidável na Ucrânia. Eles estabeleceram o Hetmanate, um estado cossaco autônomo que, por vezes, alinhou-se à Moscou contra a Polônia. O Tratado de Pereyaslav de 1654 selou essa aliança, embora as interpretações desse tratado sejam motivo de debate entre historiadores russos e ucranianos.
                          
                          Nos séculos XVIII e XIX, após uma série de partilhas da Polônia, grande parte da Ucrânia foi incorporada ao Império Russo. Durante esse período, houve uma intensa russificação da Ucrânia, com restrições ao uso da língua ucraniana.
                          
                          Após a Revolução Russa de 1917, a Ucrânia teve breves períodos de independência. No entanto, após vários conflitos e intervenções, a maior parte da Ucrânia tornou-se uma república soviética. Sob Stalin, a Ucrânia enfrentou a repressão brutal, incluindo o Holodomor, uma fome artificial que matou milhões. No entanto, após a Segunda Guerra Mundial, a Ucrânia teve sua territorialidade ampliada, com a adição da Crimeia em 1954.
                          
                          Com o colapso da União Soviética em 1991, a Ucrânia declarou independência. No entanto, as relações com a Rússia continuaram complicadas. As tensões culminaram em 2014, com a anexação da Crimeia pela Rússia e o conflito em andamento no leste da Ucrânia.
                          
                          Desde a sua independência, a Ucrânia tem procurado estreitar os laços com o Ocidente, especialmente com a União Europeia e a OTAN. A aspiração da Ucrânia de se aproximar da OTAN e das estruturas europeias tem sido uma fonte de tensão com a Rússia. O desejo da Ucrânia de se juntar à OTAN e o aumento da cooperação militar entre a Ucrânia e os países ocidentais tem exacerbado as relações com a Rússia.
                          
                          Em resumo, as relações entre Rússia e Ucrânia são profundamente enraizadas na história compartilhada, mas também marcadas por disputas e tensões. A interação complexa de afinidades culturais, religiosas, econômicas e políticas, juntamente com as aspirações geopolíticas da Ucrânia, continua a moldar as relações bilaterais no presente.</div></p>
                          <div class="text-right"><small>Texto gerado por IA em 14/09/2023</small></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 6</h5>
                        <p class="card-text">Em que século a região de Kiev começou a se deslocar para o norte em direção a Moscou após a invasão mongol?</p>
                        <div class="form-group">
                            <div class="btn-group">
                                <ol type="A">
                                    <li><input type="radio" name="q6" value="A" maxlength="1">Século IX.</li>
                                    <li><input type="radio" name="q6" value="B" maxlength="1">Século XI.</li>
                                    <li><input type="radio" name="q6" value="C" maxlength="1">Século XIII.</li>
                                    <li><input type="radio" name="q6" value="D" maxlength="1">Século XV.</li>
                                    <li><input type="radio" name="q6" value="E" maxlength="1">Século XVI.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 7</h5>
                        <p class="card-text">O que o Tratado de Pereyaslav de 1654 selou entre Ucrânia e Moscou?</p>
                        <div class="form-group">
                            <div class="btn-group">
                                <ol type="A">
                                    <li><input type="radio" name="q7" value="A" maxlength="1">Uma aliança comercial.</li>
                                    <li><input type="radio" name="q7" value="B" maxlength="1">Uma declaração de guerra.</li>
                                    <li><input type="radio" name="q7" value="C" maxlength="1">Uma aliança militar e política.</li>
                                    <li><input type="radio" name="q7" value="D" maxlength="1">Uma separação diplomática.</li>
                                    <li><input type="radio" name="q7" value="E" maxlength="1">Um tratado de paz.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                     
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 8</h5>
                        <p class="card-text">Qual período é frequentemente referido como a era dos "Três Impérios" em relação à Ucrânia?</p>
                        <div class="form-group">
                            <div class="btn-group">
                                <ol type="A">
                                    <li><input type="radio" name="q8" value="A" maxlength="1">Séculos IX-XII.</li>
                                    <li><input type="radio" name="q8" value="B" maxlength="1">Séculos XIII-XVI.</li>
                                    <li><input type="radio" name="q8" value="C" maxlength="1">Séculos XVII-XIX.</li>
                                    <li><input type="radio" name="q8" value="D" maxlength="1">Séculos XIX-XXI.</li>
                                    <li><input type="radio" name="q8" value="E" maxlength="1">Séculos XIV-XVI.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 9</h5>
                        <p class="card-text">O que a Revolução Laranja na Ucrânia, em 2004, representou?</p>
                        <div class="form-group">
                            <div class="btn-group">
                                <ol type="A">
                                    <li><input type="radio" name="q9" value="A" maxlength="1">Um movimento para alinhar a Ucrânia com a Rússia.</li>
                                    <li><input type="radio" name="q9" value="B" maxlength="1">Um protesto contra corrupção eleitoral.</li>
                                    <li><input type="radio" name="q9" value="C" maxlength="1">Um movimento para se juntar à União Europeia.</li>
                                    <li><input type="radio" name="q9" value="D" maxlength="1">Uma revolta contra políticas econômicas.</li>
                                    <li><input type="radio" name="q9" value="E" maxlength="1">Um movimento de independência cultural.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 10</h5>
                        <p class="card-text">Com qual objetivo a Ucrânia tem buscado estreitar seus laços com a OTAN e o Ocidente?</p>
                        <div class="form-group">
                            <div class="btn-group">
                                <ol type="A">
                                    <li><input type="radio" name="q10" value="A" maxlength="1">Obter ajuda econômica.</li>
                                    <li><input type="radio" name="q10" value="B" maxlength="1">Estabelecer uma hegemonia cultural.</li>
                                    <li><input type="radio" name="q10" value="C" maxlength="1">Garantir proteção militar contra ameaças externas.</li>
                                    <li><input type="radio" name="q10" value="D" maxlength="1">Promover o turismo ocidental.</li>
                                    <li><input type="radio" name="q10" value="E" maxlength="1">Fomentar a educação ocidental na Ucrânia.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                          
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 11</h5>
                        <p class="card-text">Em que séculos a DIT tem suas raízes históricas relacionadas ao processo de colonização?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q11" value="A">Séculos XIII e XIV.</li>
                                <li><input type="radio" name="q11" value="B">Séculos XVI e XVII.</li>
                                <li><input type="radio" name="q11" value="C">Séculos XVIII e XIX.</li>
                                <li><input type="radio" name="q11" value="D">Séculos X e XI.</li>
                                <li><input type="radio" name="q11" value="E">Séculos XIV e XV.</li>
                            </ol>
                        </div>
                    </div>
                                                   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 12</h5>
                        <p class="card-text">Quem desenvolveu a teoria das vantagens comparativas?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q12" value="A">Adam Smith.</li>
                                <li><input type="radio" name="q12" value="B">John Maynard Keynes.</li>
                                <li><input type="radio" name="q12" value="C">Karl Marx.</li>
                                <li><input type="radio" name="q12" value="D">David Ricardo.</li>
                                <li><input type="radio" name="q12" value="E">Milton Friedman.</li>
                            </ol>
                        </div>
                    </div>
                    
                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 13</h5>
                        <p class="card-text">O que caracteriza a divisão horizontal na Divisão Internacional do Trabalho?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q13" value="A">Especialização em diferentes estágios da cadeia de produção.</li>
                                <li><input type="radio" name="q13" value="B">Especialização em produtos diferenciados em termos de qualidade e design.</li>
                                <li><input type="radio" name="q13" value="C">Produção de bens com base em recursos naturais abundantes.</li>
                                <li><input type="radio" name="q13" value="D">Focar na produção de bens de alta tecnologia.</li>
                                <li><input type="radio" name="q13" value="E">Produção baseada exclusivamente no comércio interno.</li>
                            </ol>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 14</h5>
                        <p class="card-text">Qual das seguintes opções é uma consequência da DIT para os países em desenvolvimento?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q14" value="A">Especialização em setores de alta tecnologia.</li>
                                <li><input type="radio" name="q14" value="B">Especialização em produtos primários com preços voláteis.</li>
                                <li><input type="radio" name="q14" value="C">Diminuição da dependência do comércio internacional.</li>
                                <li><input type="radio" name="q14" value="D">Aumento no valor agregado dos produtos exportados.</li>
                                <li><input type="radio" name="q14" value="E">Estabilidade nos preços dos produtos exportados.</li>
                            </ol>
                        </div>
                    </div>
                    
                                
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 15</h5>
                        <p class="card-text">Como a mudança climática pode influenciar a DIT?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q15" value="A">Promovendo estabilidade na produção de bens e serviços.</li>
                                <li><input type="radio" name="q15" value="B">Reduzindo a demanda por soluções ecológicas e sustentáveis.</li>
                                <li><input type="radio" name="q15" value="C">Aumentando a produção de produtos tecnológicos em todos os países.</li>
                                <li><input type="radio" name="q15" value="D">Afetando a produção em países mais vulneráveis aos seus efeitos.</li>
                                <li><input type="radio" name="q15" value="E">Impedindo a importação e exportação de bens entre os países.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 16</h5>
                        <p class="card-text">Em que século a Revolução Industrial intensificou a Divisão Internacional do Trabalho?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q16" value="A">Século XIX.</li>
                                <li><input type="radio" name="q16" value="B">Século XVII.</li>
                                <li><input type="radio" name="q16" value="C">Século XVIII.</li>
                                <li><input type="radio" name="q16" value="D">Século XVI.</li>
                                <li><input type="radio" name="q16" value="E">Século XX.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 17</h5>
                        <p class="card-text">Qual é o principal objetivo da Organização Mundial do Comércio (OMC) e do Fundo Monetário Internacional (FMI) em relação ao comércio internacional?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q17" value="A">Impor barreiras comerciais.</li>
                                <li><input type="radio" name="q17" value="B">Promover a liberalização do comércio.</li>
                                <li><input type="radio" name="q17" value="C">Estabelecer tarifas altas.</li>
                                <li><input type="radio" name="q17" value="D">Promover a monopolização comercial.</li>
                                <li><input type="radio" name="q17" value="E">Isolar economicamente os países.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 18</h5>
                        <p class="card-text">Como o avanço tecnológico e a automação têm influenciado a Divisão Internacional do Trabalho?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q18" value="A">Diminuindo a produtividade.</li>
                                <li><input type="radio" name="q18" value="B">Aumentando os custos de produção.</li>
                                <li><input type="radio" name="q18" value="C">Reduzindo a interdependência econômica.</li>
                                <li><input type="radio" name="q18" value="D">Aumentando a produtividade e reduzindo os custos.</li>
                                <li><input type="radio" name="q18" value="E">Limitando a capacidade de exportação dos países.</li>
                            </ol>
                        </div>
                    </div>
                                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 19</h5>
                        <p class="card-text">Por que alguns países podem se beneficiar da demanda por soluções ecológicas e sustentáveis na DIT?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q19" value="A">Devido à alta produção de combustíveis fósseis.</li>
                                <li><input type="radio" name="q19" value="B">Devido à resistência à adoção de tecnologias verdes.</li>
                                <li><input type="radio" name="q19" value="C">Por serem menos vulneráveis aos efeitos da mudança climática.</li>
                                <li><input type="radio" name="q19" value="D">Por terem expertise e capacidade de produzir soluções verdes.</li>
                                <li><input type="radio" name="q19" value="E">Devido à sua localização geográfica favorável.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 20</h5>
                        <p class="card-text">Quais são os dois tipos principais de Divisão Internacional do Trabalho mencionados no texto?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q20" value="A">Divisão diagonal e diversificada.</li>
                                <li><input type="radio" name="q20" value="B">Divisão vertical e horizontal.</li>
                                <li><input type="radio" name="q20" value="C">Divisão interna e externa.</li>
                                <li><input type="radio" name="q20" value="D">Divisão linear e circular.</li>
                                <li><input type="radio" name="q20" value="E">Divisão primária e secundária.</li>
                            </ol>
                        </div>
                    </div>
                                        
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 21</h5>
                        <p class="card-text">Qual teórico é responsável pela teoria das vantagens comparativas, que fundamenta a DIT?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q21" value="A">Adam Smith.</li>
                                <li><input type="radio" name="q21" value="B">John Maynard Keynes.</li>
                                <li><input type="radio" name="q21" value="C">Karl Marx.</li>
                                <li><input type="radio" name="q21" value="D">David Ricardo.</li>
                                <li><input type="radio" name="q21" value="E">Alfred Marshall.</li>
                            </ol>
                        </div>
                    </div>
                                                                   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 22</h5>
                        <p class="card-text">Por que a especialização econômica pode levar a desigualdades entre os países?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q22" value="A">Porque países em desenvolvimento tendem a se especializar em setores de maior valor agregado.</li>
                                <li><input type="radio" name="q22" value="B">Porque a especialização gera preços estáveis no mercado internacional.</li>
                                <li><input type="radio" name="q22" value="C">Porque países em desenvolvimento tendem a se especializar em produtos primários com preços voláteis.</li>
                                <li><input type="radio" name="q22" value="D">Porque todos os países se especializam igualmente em todos os produtos.</li>
                                <li><input type="radio" name="q22" value="E">Porque a especialização diminui o comércio internacional.</li>
                            </ol>
                        </div>
                    </div>
                                      
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 23</h5>
                        <p class="card-text">Quais são as implicações da mudança climática na Divisão Internacional do Trabalho?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q23" value="A">Redução do comércio internacional e diminuição da produção.</li>
                                <li><input type="radio" name="q23" value="B">Elevação constante da demanda por produtos não sustentáveis.</li>
                                <li><input type="radio" name="q23" value="C">Dificuldades na produção em países vulneráveis e demanda por soluções ecológicas em outros.</li>
                                <li><input type="radio" name="q23" value="D">Eliminação completa da necessidade de soluções ecológicas.</li>
                                <li><input type="radio" name="q23" value="E">Criação de barreiras comerciais em relação a produtos sustentáveis.</li>
                            </ol>
                        </div>
                    </div>
                    
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 24</h5>
                        <p class="card-text">O que a globalização fez em relação à Divisão Internacional do Trabalho?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q24" value="A">Reduziu a interdependência econômica entre os países.</li>
                                <li><input type="radio" name="q24" value="B">Diminuiu os fluxos comerciais entre as nações.</li>
                                <li><input type="radio" name="q24" value="C">Limitou a fragmentação da produção em diferentes regiões do mundo.</li>
                                <li><input type="radio" name="q24" value="D">Intensificou a DIT, aumentando a interdependência econômica entre países.</li>
                                <li><input type="radio" name="q24" value="E">Isolou economicamente as nações menos desenvolvidas.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 25</h5>
                        <p class="card-text">Qual é o papel de organizações internacionais como a OMC e o FMI no contexto da DIT?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q25" value="A">Promover o isolacionismo econômico e restringir o comércio internacional.</li>
                                <li><input type="radio" name="q25" value="B">Impor barreiras comerciais e regulamentar estritamente os fluxos financeiros.</li>
                                <li><input type="radio" name="q25" value="C">Estabelecer regras e regulamentações para o comércio internacional, promovendo sua liberalização.</li>
                                <li><input type="radio" name="q25" value="D">Promover apenas os interesses dos países desenvolvidos.</li>
                                <li><input type="radio" name="q25" value="E">Limitar a interdependência econômica e restringir a globalização.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 26</h5>
                        <p class="card-text">O que significa a "divisão horizontal" na Divisão Internacional do Trabalho?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q26" value="A">Especialização em diferentes estágios da cadeia de produção.</li>
                                <li><input type="radio" name="q26" value="B">Especialização em produtos de diferentes qualidades e design.</li>
                                <li><input type="radio" name="q26" value="C">Especialização em produtos com base no valor de mercado.</li>
                                <li><input type="radio" name="q26" value="D">Especialização em produtos com base na demanda regional.</li>
                                <li><input type="radio" name="q26" value="E">Especialização em produtos de uma única categoria.</li>
                            </ol>
                        </div>
                    </div>
                    
                          
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 27</h5>
                        <p class="card-text">Quais são os possíveis efeitos da automação na Divisão Internacional do Trabalho?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q27" value="A">Elevação dos custos de produção e diminuição da produtividade.</li>
                                <li><input type="radio" name="q27" value="B">Aumento da produtividade e redução dos custos de produção.</li>
                                <li><input type="radio" name="q27" value="C">Diminuição da necessidade de mão de obra em todos os setores.</li>
                                <li><input type="radio" name="q27" value="D">Promoção de uma maior centralização da produção em um único país.</li>
                                <li><input type="radio" name="q27" value="E">Eliminação total da necessidade de comércio internacional.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 28</h5>
                        <p class="card-text">Qual foi um fator histórico que intensificou a Divisão Internacional do Trabalho no século XVIII?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q28" value="A">Descobrimento da América.</li>
                                <li><input type="radio" name="q28" value="B">Revolução Industrial.</li>
                                <li><input type="radio" name="q28" value="C">Primeira Guerra Mundial.</li>
                                <li><input type="radio" name="q28" value="D">Renascimento Cultural.</li>
                                <li><input type="radio" name="q28" value="E">Formação da Liga das Nações.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 29</h5>
                        <p class="card-text">Por que países em desenvolvimento podem se tornar dependentes de setores específicos no contexto da DIT?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q29" value="A">Devido à abundância de recursos naturais e mão de obra qualificada.</li>
                                <li><input type="radio" name="q29" value="B">Devido à facilidade de diversificar sua economia e infraestrutura avançada.</li>
                                <li><input type="radio" name="q29" value="C">Devido à especialização em setores com preços estáveis no mercado internacional.</li>
                                <li><input type="radio" name="q29" value="D">Devido à especialização em setores com preços voláteis e dificuldades em diversificar suas economias.</li>
                                <li><input type="radio" name="q29" value="E">Devido ao alto consumo interno e demanda estável por produtos primários.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 30</h5>
                        <p class="card-text">O que a "divisão vertical" na Divisão Internacional do Trabalho implica?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q30" value="A">Especialização em produtos de diferentes qualidades e design.</li>
                                <li><input type="radio" name="q30" value="B">Especialização em diferentes estágios da cadeia de produção.</li>
                                <li><input type="radio" name="q30" value="C">Especialização em produtos com base na demanda regional.</li>
                                <li><input type="radio" name="q30" value="D">Especialização em produtos de uma única categoria.</li>
                                <li><input type="radio" name="q30" value="E">Especialização em produtos com base no valor de mercado.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>              
              <br>    
            </div>
    
                    
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>