<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/america"><img src="/img/logo-asr.png" width="90" height="90" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">GEOGRAFIA</div>
            <div class=" display-4 text-center">ATIVIDADE AVALIATIVA</div>
            <div class=" display-5 text-center">30 pontos</div>
       </div>
        <br>
       <div class="container bg-light">
            <div class=" display-5">INSTRUÇÕES:</div>
            <br>
            <div class=" display-6 text-justify">Leia atentamente o enunciado da questão e escolha uma das opções. Após o término da atividade avaliativa, verifique se todas as questões foram marcadas e clique no botão responder.</div>
            <br>
            <div class=" display-6 text-justify"><b>Observações:</b></div>
            <ol>
                <li>A atividade não será enviada, caso qualquer questão, o seu nome e a turma não sejam marcadas ou preenchidas.</li>
                <li>Preencha seu nome completo <b>NOMES ESCRITOS DE FORMA ERRADA OU INCOMPLETOS, SERÃO IGNORADOS E A NOTA SERÁ ZERADA.</b></li>
                <li>Preencha a sua turma <b>ALUNOS SEM TURMA OU COM TURMA ERRADA NÃO TERÃO A NOTA CONTABILIZADA.</b></li>
                <li>Você pode pesquisar em qualquer material, para responder as questões.</li>
                <li>Você não pode colar as respostas dos seus colegas. <b>Caso seja flagrado, sua nota será automaticamente zerada. <i>FIQUE LIGADO!</i></b></li>
                <li>Quando você responder a atividade avaliativa você será direcionado para uma página que irá lhe informar as suas respostas e a sua nota.</li>
            </ol>
            <br>
            <div class="display-6">BOA SORTE!</div>
            <br>
       </div>
    <hr>
    <div class="container">
        <form method="POST" action="/gabarito_303_bim_3" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>
            <div class="input-group mb-3">              
                <span class="input-group-text" id="basic-addon1">Turma:</span>
                <input type="text" class="form-control" placeholder="Digite sua turma aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="turma" id="turma" maxlength="3">
              </div>
            <div class="container-sm">
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1</h5>
                    
                        <p class="card-text">Observe no gráfico abaixo as notas de alguns alunos do 4º ano.</p>
                    
                        <div class="text-center"><img class="img-fluid" src="/img/matd28_1.png" alt="Gráfico de Notas"></div>
                    
                        <p>Qual desses alunos tirou nota 7?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q1" value="A" maxlength="1">Carla</li>
                                    <li><input type="radio" name="q1" value="B" maxlength="1">Fábio</li>
                                    <li><input type="radio" name="q1" value="C" maxlength="1">Joana</li>
                                    <li><input type="radio" name="q1" value="D" maxlength="1">Saulo</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2</h5>
                    
                        <p class="card-text">Observe no gráfico abaixo o resultado de uma pesquisa realizada no 5º ano de uma escola sobre a preferência por estilos musicais.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_2.png" alt="Gráfico de Estilos Musicais">
                        </div>
                    
                        <p>De acordo com esse gráfico, qual é o estilo musical escolhido pela maior quantidade de estudantes dessa turma?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q2" value="A" maxlength="1">Pagode</li>
                                    <li><input type="radio" name="q2" value="B" maxlength="1">Rock</li>
                                    <li><input type="radio" name="q2" value="C" maxlength="1">Romântica</li>
                                    <li><input type="radio" name="q2" value="D" maxlength="1">Sertanejo</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                             
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3</h5>
                    
                        <p class="card-text">No gráfico abaixo são apresentados dados sobre o número de alunos do 4° e do 5° ano de quatro escolas.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_3.png" alt="Gráfico de Alunos do 4° e 5° Ano">
                        </div>
                    
                        <p>Em qual dessas escolas há o maior número de alunos no 4° ano?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q3" value="A" maxlength="1">Escola 1</li>
                                    <li><input type="radio" name="q3" value="B" maxlength="1">Escola 2</li>
                                    <li><input type="radio" name="q3" value="C" maxlength="1">Escola 3</li>
                                    <li><input type="radio" name="q3" value="D" maxlength="1">Escola 4</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4</h5>
                    
                        <p class="card-text">A escola “Quatro Estações” realizou eleições para escolher os representantes de turma. A professora Mara, da turma do terceiro ano, registrou os votos de cada um dos candidatos no gráfico abaixo:</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_4.png" alt="Gráfico de Eleições no Terceiro Ano">
                        </div>
                    
                        <p>Quem ganhou a eleição nessa turma do terceiro ano?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q4" value="A" maxlength="1">Mônica</li>
                                    <li><input type="radio" name="q4" value="B" maxlength="1">Márcia</li>
                                    <li><input type="radio" name="q4" value="C" maxlength="1">Maurício</li>
                                    <li><input type="radio" name="q4" value="D" maxlength="1">Marcelo</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5</h5>
                    
                        <p class="card-text">O gráfico abaixo mostra a quantidade de pontos feitos pelos times A, B, C e D no campeonato de futebol da escola.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_5.png" alt="Gráfico de Pontos dos Times de Futebol">
                        </div>
                    
                        <p>De acordo com o gráfico, quantos pontos o time C conquistou?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q5" value="A" maxlength="1">50</li>
                                    <li><input type="radio" name="q5" value="B" maxlength="1">40</li>
                                    <li><input type="radio" name="q5" value="C" maxlength="1">35</li>
                                    <li><input type="radio" name="q5" value="D" maxlength="1">30</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
      
                  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 6</h5>
                    
                        <p class="card-text">No final do ano os alunos do 5º ano fizeram uma pesquisa na sala para saber onde cada um ia passar as férias. Cada aluno podia escolher um só lugar.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_6.png" alt="Gráfico de Locais de Férias">
                        </div>
                    
                        <p>Qual dos locais foi o menos escolhido pelos alunos para passarem as férias?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q6" value="A" maxlength="1">Casa</li>
                                    <li><input type="radio" name="q6" value="B" maxlength="1">Fazenda do tio</li>
                                    <li><input type="radio" name="q6" value="C" maxlength="1">Praia</li>
                                    <li><input type="radio" name="q6" value="D" maxlength="1">Sítio da vovó</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 7</h5>
                    
                        <p class="card-text">Os estudantes do 5º ano realizaram uma entrevista com quatro turmas da escola para verificar que profissões os estudantes desejam seguir futuramente. Observe o gráfico abaixo que representa o resultado dessa pesquisa.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_7.png" alt="Gráfico de Profissões Desejadas">
                        </div>
                    
                        <p>Nessa pesquisa, qual foi a profissão mais escolhida?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q7" value="A" maxlength="1">Advogado</li>
                                    <li><input type="radio" name="q7" value="B" maxlength="1">Dentista</li>
                                    <li><input type="radio" name="q7" value="C" maxlength="1">Médico</li>
                                    <li><input type="radio" name="q7" value="D" maxlength="1">Professor</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                     
                      </div>
                  
                    </div>
                  </div>
                </div>

              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 8</h5>
                    
                        <p class="card-text">O gráfico abaixo mostra a quantidade de alunos de uma escola, de 1ª a 4ª série.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_8.png" alt="Gráfico de Alunos por Série">
                        </div>
                    
                        <p>Quantos alunos têm essa escola?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q8" value="A" maxlength="1">12</li>
                                    <li><input type="radio" name="q8" value="B" maxlength="1">15</li>
                                    <li><input type="radio" name="q8" value="C" maxlength="1">48</li>
                                    <li><input type="radio" name="q8" value="D" maxlength="1">50</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 9</h5>
                    
                        <p class="card-text">Este gráfico apresenta o perfil de altitude de alguns dos morros da cidade do Rio de Janeiro. O número de metros que o Morro Pão de Açúcar tem a mais que o seu vizinho, Morro da Urca, é de</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_9.png" alt="Gráfico de Altitude de Morros">
                        </div>
                    
                        <p>O número de metros que o Morro Pão de Açúcar tem a mais que o seu vizinho, Morro da Urca, é de</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q9" value="A" maxlength="1">176 m</li>
                                    <li><input type="radio" name="q9" value="B" maxlength="1">196 m</li>
                                    <li><input type="radio" name="q9" value="C" maxlength="1">314 m</li>
                                    <li><input type="radio" name="q9" value="D" maxlength="1">490 m</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 10</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q10" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q10" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q10" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q10" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 11</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q11" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q11" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q11" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q11" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 12</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q12" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q12" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q12" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q12" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 13</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q13" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q13" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q13" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q13" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 14</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q14" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q14" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q14" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q14" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 15</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q15" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q15" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q15" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q15" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 16</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q16" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q16" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q16" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q16" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 17</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q17" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q17" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q17" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q17" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 18</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q18" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q18" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q18" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q18" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 19</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q19" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q19" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q19" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q19" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 20</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q20" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q20" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q20" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q20" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 21</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q21" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q21" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q21" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q21" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 22</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q22" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q22" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q22" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q22" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 23</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q23" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q23" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q23" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q23" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 24</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q24" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q24" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q24" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q24" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 25</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q25" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q25" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q25" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q25" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 26</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q26" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q26" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q26" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q26" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 27</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q27" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q27" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q27" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q27" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 28</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q28" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q28" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q28" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q28" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 29</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q29" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q29" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q29" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q29" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 30</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q30" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q30" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q30" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q30" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>              
              <br>    
            </div>
    
                    
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>