<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/america"><img src="/img/logo-asr.png" width="90" height="90" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">GEOGRAFIA</div>
            <div class=" display-4 text-center">ATIVIDADE AVALIATIVA</div>
            <div class=" display-5 text-center">30 pontos</div>
       </div>
        <br>
       <div class="container bg-light">
            <div class=" display-5">INSTRUÇÕES:</div>
            <br>
            <div class=" display-6 text-justify">Leia atentamente o enunciado da questão e escolha uma das opções. Após o término da atividade avaliativa, verifique se todas as questões foram marcadas e clique no botão responder.</div>
            <br>
            <div class=" display-6 text-justify"><b>Observações:</b></div>
            <ol>
                <li>A atividade não será enviada, caso qualquer questão, o seu nome e a turma não sejam marcadas ou preenchidas.</li>
                <li>Preencha seu nome completo <b>NOMES ESCRITOS DE FORMA ERRADA OU INCOMPLETOS, SERÃO IGNORADOS E A NOTA SERÁ ZERADA.</b></li>
                <li>Preencha a sua turma <b>ALUNOS SEM TURMA OU COM TURMA ERRADA NÃO TERÃO A NOTA CONTABILIZADA.</b></li>
                <li>Você pode pesquisar em qualquer material, para responder as questões.</li>
                <li>Você não pode colar as respostas dos seus colegas. <b>Caso seja flagrado, sua nota será automaticamente zerada. <i>FIQUE LIGADO!</i></b></li>
                <li>Quando você responder a atividade avaliativa você será direcionado para uma página que irá lhe informar as suas respostas e a sua nota.</li>
            </ol>
            <br>
            <div class="display-6">BOA SORTE!</div>
            <br>
       </div>
    <hr>
    <div class="container">
        <form method="POST" action="/gabarito_303_bim_3" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>
            <div class="input-group mb-3">              
                <span class="input-group-text" id="basic-addon1">Turma:</span>
                <input type="text" class="form-control" placeholder="Digite sua turma aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="turma" id="turma" maxlength="3">
              </div>
            <div class="container-sm">
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1</h5>
                        <p class="card-text">Em que consistem as teorias demográficas?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1"> Consistem em um conjunto de ideias que buscam explicar a dinâmica das populações humanas.</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1"> São teorias matemáticas que preveem o crescimento populacional.</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1"> Analisam apenas as migrações humanas ao longo da história.</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1"> Concentram-se exclusivamente na natalidade em diferentes regiões do mundo.</li>
                                <li><input type="radio" name="q1" value="E" maxlength="1"> Referem-se a uma análise das mudanças na dieta humana ao longo dos séculos.</li>
                            </ol>
                        </div>
                    </div>
                                       
                                 
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2</h5>
                        <p class="card-text">De acordo com a teoria malthusiana, qual era a principal preocupação de Thomas Malthus em relação ao crescimento populacional e à produção de alimentos?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1"> O crescimento populacional ocorre em progressão geométrica, enquanto a produção de alimentos em progressão aritmética.</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1"> O crescimento populacional e a produção de alimentos ocorrem em progressão geométrica.</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1"> A produção de alimentos cresce mais rapidamente do que a população.</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1"> A urbanização e a industrialização são os principais fatores que afetam o crescimento populacional.</li>
                                <li><input type="radio" name="q2" value="E" maxlength="1"> Malthus acreditava que a tecnologia resolveria todos os problemas de escassez de alimentos.</li>
                            </ol>
                        </div>
                    </div>                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3</h5>
                        <p class="card-text">Por que o malthusianismo é considerado ultrapassado nos dias de hoje?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1"> Porque a produção de alimentos ainda não consegue acompanhar o crescimento populacional.</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1"> Porque a urbanização e a industrialização não afetaram as taxas de natalidade.</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1"> Porque a tecnologia e a medicina têm acelerado o crescimento populacional.</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1"> Porque a produção de alimentos tem crescido mais rapidamente do que a população, e as taxas de natalidade diminuíram em muitos lugares.</li>
                                <li><input type="radio" name="q3" value="E" maxlength="1"> Porque Thomas Malthus reviu suas teorias e as atualizou para o século atual.</li>
                            </ol>
                        </div>
                    </div>
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4</h5>
                        <p class="card-text">Para Malthus, a única solução possível para a relação entre produção de alimentos e o crescimento populacional era:</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1"> O desenvolvimento tecnológico para aumentar a produção de alimentos.</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1"> O controle rigoroso das taxas de natalidade.</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1"> A expansão das áreas agrícolas.</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1"> A migração em massa para regiões com abundância de alimentos.</li>
                                <li><input type="radio" name="q4" value="E" maxlength="1"> A fome, que ele via como um mecanismo natural de controle da população.</li>
                            </ol>
                        </div>
                    </div>
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5</h5>
                        <p class="card-text">De acordo com os neomalthusianos, qual é a solução proposta para o problema do crescimento populacional?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1"> A fome como um mecanismo natural de controle da população.</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1"> O desenvolvimento tecnológico para aumentar a produção de alimentos.</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1"> A educação e a contracepção.</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1"> A migração em massa para regiões com abundância de alimentos.</li>
                                <li><input type="radio" name="q5" value="E" maxlength="1"> A expansão das áreas agrícolas.</li>
                            </ol>
                        </div>
                    </div>                                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 6</h5>
                        <p class="card-text">Por que os neomalthusianos consideram a educação importante em relação ao crescimento populacional?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1"> Porque a educação promove o desenvolvimento tecnológico.</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1"> Porque a educação ajuda a controlar a migração.</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1"> Porque a educação ajuda as pessoas a entenderem as consequências de ter muitos filhos.</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1"> Porque a educação aumenta a produção de alimentos.</li>
                                <li><input type="radio" name="q6" value="E" maxlength="1"> Porque a educação reduz as taxas de mortalidade infantil.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 7</h5>
                        <p class="card-text">O que tem sido criticado em relação às políticas de controle da natalidade baseadas no neomalthusianismo?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1"> A falta de acesso à educação.</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1"> A promoção da migração em massa.</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1"> A violação dos direitos reprodutivos das mulheres.</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1"> A ausência de incentivos econômicos.</li>
                                <li><input type="radio" name="q7" value="E" maxlength="1"> A falta de acesso à contracepção.</li>
                            </ol>
                        </div>
                    </div>
                    
                     
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 8</h5>
                        <p class="card-text">Qual é a principal preocupação dos reformistas em relação ao problema da população?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A" maxlength="1"> O tamanho da população.</li>
                                <li><input type="radio" name="q8" value="B" maxlength="1"> A distribuição desigual dos recursos.</li>
                                <li><input type="radio" name="q8" value="C" maxlength="1"> A falta de acesso à educação.</li>
                                <li><input type="radio" name="q8" value="D" maxlength="1"> A urbanização descontrolada.</li>
                            </ol>
                        </div>
                    </div>                 
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 9</h5>
                        <p class="card-text">De acordo com os reformistas, qual é a solução proposta para o problema da pobreza?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A" maxlength="1"> Redução do tamanho da população.</li>
                                <li><input type="radio" name="q9" value="B" maxlength="1"> Melhoria das condições de vida.</li>
                                <li><input type="radio" name="q9" value="C" maxlength="1"> Restrição do acesso a alimentos.</li>
                                <li><input type="radio" name="q9" value="D" maxlength="1"> A distribuição igualitária dos recursos e a redistribuição da riqueza.</li>
                            </ol>
                        </div>
                    </div>                  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 10</h5>
                        <p class="card-text">O que é a transição demográfica e em que estágios ela ocorre?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A" maxlength="1"> A transição demográfica é um processo de crescimento rápido da população.</li>
                                <li><input type="radio" name="q10" value="B" maxlength="1"> A transição demográfica é um processo de envelhecimento da população.</li>
                                <li><input type="radio" name="q10" value="C" maxlength="1"> A transição demográfica é um processo de diminuição das taxas de natalidade e de mortalidade.</li>
                                <li><input type="radio" name="q10" value="D" maxlength="1"> A transição demográfica é um processo de migração em massa.</li>
                            </ol>
                        </div>
                    </div>                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 11</h5>
                        <p class="card-text">Quais são duas das principais consequências da transição demográfica?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q11" value="A" maxlength="1"> A diminuição das taxas de mortalidade e o aumento da força de trabalho.</li>
                                <li><input type="radio" name="q11" value="B" maxlength="1"> O crescimento rápido da população e a urbanização.</li>
                                <li><input type="radio" name="q11" value="C" maxlength="1"> O aumento das taxas de natalidade e a diminuição da expectativa de vida.</li>
                                <li><input type="radio" name="q11" value="D" maxlength="1"> O envelhecimento da população e a diminuição da força de trabalho.</li>
                            </ol>
                        </div>
                    </div>                               
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 12</h5>
                        <p class="card-text">Qual é a população atual do Brasil de acordo com os dados do Instituto Brasileiro de Geografia e Estatística (IBGE)?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q12" value="A" maxlength="1"> 100.062.512 habitantes.</li>
                                <li><input type="radio" name="q12" value="B" maxlength="1"> 150.062.512 habitantes.</li>
                                <li><input type="radio" name="q12" value="C" maxlength="1"> 200.062.512 habitantes.</li>
                                <li><input type="radio" name="q12" value="D" maxlength="1"> 203.062.512 habitantes.</li>
                                <li><input type="radio" name="q12" value="E" maxlength="1"> 250.062.512 habitantes.</li>
                            </ol>
                        </div>
                    </div>
                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 13</h5>
                        <p class="card-text">Qual é a região do Brasil que concentra boa parte da população do país, de acordo com o texto?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q13" value="A" maxlength="1"> Norte.</li>
                                <li><input type="radio" name="q13" value="B" maxlength="1"> Nordeste.</li>
                                <li><input type="radio" name="q13" value="C" maxlength="1"> Centro-Oeste.</li>
                                <li><input type="radio" name="q13" value="D" maxlength="1"> Sul.</li>
                                <li><input type="radio" name="q13" value="E" maxlength="1"> Sudeste.</li>
                            </ol>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                        <div class="container">
                          <h5 class="card-title">QUESTÃO 14</h5>
                          <p class="card-text">Hoje, de acordo com dados oficiais do IBGE, os municípios mais populosos do Brasil são:</p>

                          <div class="form-group">
                              <ol type="A">
                                  <li><input type="radio" name="q14" value="A" maxlength="1"> São Paulo, Rio de Janeiro e Belo Horizonte.</li>
                                  <li><input type="radio" name="q14" value="B" maxlength="1"> Rio de Janeiro, São Paulo e Salvador.</li>
                                  <li><input type="radio" name="q14" value="C" maxlength="1"> Brasília, Belo Horizonte e São Paulo.</li>
                                  <li><input type="radio" name="q14" value="D" maxlength="1"> São Paulo, Rio de Janeiro e Brasília.</li>
                                  <li><input type="radio" name="q14" value="E" maxlength="1"> Salvador, Rio de Janeiro e São Paulo.</li>
                              </ol>
                          </div>
                      </div>
                                
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 15</h5>
                        <p class="card-text">Observe o mapa abaixo:</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/brasil-densidade-demografica-scaled.jpg" alt="Mapa de Ocupação no Brasil">
                        </div>
                        <br>                    
                        <p>De acordo com esse mapa, as áreas de maior concentração de pessoas, no Brasil são:</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q15" value="A" maxlength="1"> As áreas de floresta amazônica.</li>
                                <li><input type="radio" name="q15" value="B" maxlength="1"> As áreas de cerrado no interior do país, conforme o mapa.</li>
                                <li><input type="radio" name="q15" value="C" maxlength="1"> As áreas de montanhas e planaltos.</li>
                                <li><input type="radio" name="q15" value="D" maxlength="1"> As regiões litorâneas.</li>
                                <li><input type="radio" name="q15" value="E" maxlength="1"> As áreas de pantanal no centro-oeste.</li>
                            </ol>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 16</h5>
                        <p class="card-text">Qual é a principal diferenciação entre a população urbana e a população rural?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q16" value="A" maxlength="1"> A localidade de habitação e o tipo de atividades predominantes.</li>
                                <li><input type="radio" name="q16" value="B" maxlength="1"> A etnia das pessoas.</li>
                                <li><input type="radio" name="q16" value="C" maxlength="1"> O gênero das pessoas.</li>
                                <li><input type="radio" name="q16" value="D" maxlength="1"> A diferença de renda entre os grupos.</li>
                                <li><input type="radio" name="q16" value="E" maxlength="1"> A idade das pessoas.</li>
                            </ol>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 17</h5>
                        <p class="card-text">Marque a alternativa que apresenta os cinco países mais populosos do mundo em ordem crescente.</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q17" value="A" maxlength="1"> China, Índia, Indonésia, Paquistão e Estados Unidos.</li>
                                <li><input type="radio" name="q17" value="B" maxlength="1"> Índia, Paquistão, Indonésia, Estados Unidos e China.</li>
                                <li><input type="radio" name="q17" value="C" maxlength="1"> Estados Unidos, China, Indonésia, Índia e Paquistão.</li>
                                <li><input type="radio" name="q17" value="D" maxlength="1"> Paquistão, Estados Unidos, Índia, China e Indonésia.</li>
                                <li><input type="radio" name="q17" value="E" maxlength="1"> Índia, China, Estados Unidos, Indonésia e Paquistão.</li>
                            </ol>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Informações sobre Roraima</h5>
                        <div class="texto_paragrafo">
                            <p>Com uma população estimada de 605.761 habitantes (IBGE, estimativa 2019), Roraima é o estado menos populoso e menos povoado do Brasil. A densidade demográfica registrada no censo de 2010 foi de apenas 2,01 hab./km2, quando a população total era de 450.479 habitantes. A capital, Boa Vista, concentra a maior parte desse contingente, com uma estimativa de 339.213 habitantes em 2018 (IBGE CIDADES, 2019).</p>
                        </div>
                    
                        <div class="texto_paragrafo">
                            <p>O estado de Roraima teve um aumento significativo da população devido à intensa imigração a partir de 2015, principalmente da Venezuela. Boa Vista é o município mais populoso, com um aumento de 284.313 habitantes em 2010 para 332.020 habitantes em 2017. A estimativa de 2019 foi de 399.213 habitantes. Em contraste, o município de Alto Alegre tinha 16.448 habitantes no censo de 2010 e reduziu para 15.510 em 2019 (IBGE, CENSO 2010; IBGE estimativas 2017 e 2019).</p>
                        </div>
                    
                        <div class="texto_paragrafo">
                            <p>Em 2010, Roraima apresentou uma taxa de urbanização de 76,55%, acima da média na região Norte (73,53%) mas abaixo da média nacional (84,36%). Boa Vista é o município com maior concentração urbana, atingindo 97,7%, enquanto Amajari possui a menor, com 13,07% em 2010 (IBGE, 2010).</p>
                        </div>
                    
                        <div class="texto_paragrafo">
                            <p>Boa Vista é fundamental nesse contexto, com apenas 2,29% de população rural e concentrando 63,11% de toda a população do estado (IBGE, 2010).</p>
                        </div>
                    
                        <div class="texto_paragrafo">
                            <p>Roraima possui uma população bastante variada, com uma presença significativa de indígenas que influenciam fortemente a cultura do estado. Em 2010, a população indígena total era de 49.673 pessoas, correspondendo a 11,02% da população do estado. Alguns municípios, como Uiramutã, Normandia, Pacaraima e Amajari, têm uma alta concentração de indígenas, representando, respectivamente, 88,14%, 56,95%, 55,45% e 53,76% da população. Em Boa Vista, essa população representava apenas 3,01%. Comparativamente, no Brasil, esse grupo correspondia a apenas 0,43% do total, e na região Norte, a participação era de 1,93% (IBGE, 2010).</p>
                        </div>
                    
                        <div class="texto_paragrafo">
                            <p>Em Roraima, a população masculina era predominante em 1991, representando 55,24% da população. No censo de 2000, essa proporção reduziu para 51,18%, e em 2010, para 50,8% (IBGE, Censos demográficos). Essa variação está relacionada a processos migratórios significativos. O índice de razão de sexo em Roraima é de 103,26, indicando uma predominância de homens. Alguns municípios, como Cantá, Bonfim e Amajari, têm índices ainda maiores de razão de sexo, enquanto Boa Vista e Normandia têm os menores índices nesse critério.</p>
                        </div>
                    
                        <div class="texto_paragrafo">
                            <p>Outro aspecto importante na análise demográfica é a razão de dependência, que compara a população com idade inferior a 15 anos e com idade acima de 65 anos à população com idade entre 15 e 64 anos. Isso reflete a proporção de pessoas inativas que dependem da população ativa. Em Roraima, os municípios de Uiramutã e Normandia apresentam uma razão de dependência de 118,4 e 104,9, respectivamente.</p>
                        </div>
                        <div class="texto_paragrafo">
                          <p>[...]</p>
                      </div>
                        <div class="text-right">
                         Atlas Geográfico Escolar de Roraimac | 1ª Edição - 2020 p.47
                        </div>
                    </div>
                    
                    <div class="container">
                      <h5 class="card-title">QUESTÃO 18</h5>
                      <p class="card-text">De acordo com o texto, qual é a taxa de urbanização de Roraima em 2010 e como essa taxa se compara à média nacional?</p>
                  
                      <div class="form-group">
                          <ol type="A">
                              <li><input type="radio" name="q18" value="A" maxlength="1"> A taxa de urbanização em 2010 foi de 73,53%, superior à média nacional de 84,36%.</li>
                              <li><input type="radio" name="q18" value="B" maxlength="1"> A taxa de urbanização em 2010 foi de 84,36%, superior à média nacional de 73,53%.</li>
                              <li><input type="radio" name="q18" value="C" maxlength="1"> A taxa de urbanização em 2010 foi de 76,55%, inferior à média nacional de 84,36%.</li>
                              <li><input type="radio" name="q18" value="D" maxlength="1"> A taxa de urbanização em 2010 foi de 73,53%, igual à média nacional de 73,53%.</li>
                              <li><input type="radio" name="q18" value="E" maxlength="1"> A taxa de urbanização em 2010 não foi mencionada no texto.</li>
                          </ol>
                      </div>
                  </div>                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 19</h5>
                        <p class="card-text">Ainda de acordo com o texto acima, qual município de Roraima possui a menor concentração urbana e qual é a sua taxa de urbanização?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q19" value="A" maxlength="1"> Boa Vista, com 97,7% de taxa de urbanização.</li>
                                <li><input type="radio" name="q19" value="B" maxlength="1"> Amajari com 13,07% de taxa de urbanização.</li>
                                <li><input type="radio" name="q19" value="C" maxlength="1"> Uiramutã, com 88,14% de taxa de urbanização.</li>
                                <li><input type="radio" name="q19" value="D" maxlength="1"> Normandia, com 56,95% de taxa de urbanização.</li>
                                <li><input type="radio" name="q19" value="E" maxlength="1"> Pacaraima, com 55,45% de taxa de urbanização.</li>
                            </ol>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 20</h5>
                        <p class="card-text">De acordo com o mapa abaixo, qual foi o único município de Roraima que teve redução populacional, entre os anos de 2010 e 2019?</p>
                        <div class="text-center">
                            <img class="img-fluid" src="/img/evolucaopupolacionalRR.png" alt="Mapa de Roraima">
                        </div>
                        <br>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q20" value="A" maxlength="1"> Boa Vista.</li>
                                <li><input type="radio" name="q20" value="B" maxlength="1"> Cantá.</li>
                                <li><input type="radio" name="q20" value="C" maxlength="1"> Alto Alegre.</li>
                                <li><input type="radio" name="q20" value="D" maxlength="1"> Uiramutã.</li>
                                <li><input type="radio" name="q20" value="E" maxlength="1"> Normandia.</li>
                            </ol>
                        </div>
                    </div>
                    
            

                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 21</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q21" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q21" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q21" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q21" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 22</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q22" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q22" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q22" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q22" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 23</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q23" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q23" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q23" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q23" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 24</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q24" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q24" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q24" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q24" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 25</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q25" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q25" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q25" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q25" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 26</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q26" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q26" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q26" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q26" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 27</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q27" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q27" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q27" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q27" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 28</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q28" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q28" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q28" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q28" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 29</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q29" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q29" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q29" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q29" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 30</h5>
                    
                        <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                    
                        <div class="text-center">
                            <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                        </div>
                    
                        <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q30" value="A" maxlength="1">1ª semana</li>
                                    <li><input type="radio" name="q30" value="B" maxlength="1">2ª semana</li>
                                    <li><input type="radio" name="q30" value="C" maxlength="1">3ª semana</li>
                                    <li><input type="radio" name="q30" value="D" maxlength="1">4ª semana</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>              
              <br>    
            </div>
    
                    
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>