<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
  
        <hr>
       <div class="container-fluid">
        <div class="text-center"><img class="img-fluid" src="/img/62.png" alt=""></div>
        <br>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">TERCEIRO BIMESTRE</h5>
       
                        <p class="card-text"><a class="btn btn-success btn-block" href="/62_teceiro_bimestre">Atividade Avaliativa</a></p>
                    </div>
                </div>
                
            </div>
           
            <div class="col-4">
                
            </div>
           
            <div class="col-4">
                
            </div>
           
           
        </div>
       </div>

         <hr>       
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>