<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/america"><img src="/img/logo-asr.png" width="90" height="90" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">GEOGRAFIA</div>
            <div class=" display-4 text-center">ATIVIDADE AVALIATIVA</div>
            <div class=" display-5 text-center">30 pontos</div>
       </div>
        <br>
       <div class="container bg-light">
            <div class=" display-5">INSTRUÇÕES:</div>
            <br>
            <div class=" display-6 text-justify">Leia atentamente o enunciado da questão e escolha uma das opções. Após o término da atividade avaliativa, verifique se todas as questões foram marcadas e clique no botão responder.</div>
            <br>
            <div class=" display-6 text-justify"><b>Observações:</b></div>
            <ol>
                <li>A atividade não será enviada, caso qualquer questão, o seu nome e a turma não sejam marcadas ou preenchidas.</li>
                <li>Preencha seu nome completo <b>NOMES ESCRITOS DE FORMA ERRADA OU INCOMPLETOS, SERÃO IGNORADOS E A NOTA SERÁ ZERADA.</b></li>
                <li>Preencha a sua turma <b>ALUNOS SEM TURMA OU COM TURMA ERRADA NÃO TERÃO A NOTA CONTABILIZADA.</b></li>
                <li>Você pode pesquisar em qualquer material, para responder as questões.</li>
                <li>Você não pode colar as respostas dos seus colegas. <b>Caso seja flagrado, sua nota será automaticamente zerada. <i>FIQUE LIGADO!</i></b></li>
                <li>Quando você responder a atividade avaliativa você será direcionado para uma página que irá lhe informar as suas respostas e a sua nota.</li>
            </ol>
            <br>
            <div class="display-6">BOA SORTE!</div>
            <br>
       </div>
    <hr>
    <div class="container">
        <form method="POST" action="/gabarito_63_bim_3" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>
            <div class="input-group mb-3">              
                <span class="input-group-text" id="basic-addon1">Turma:</span>
                <input type="text" class="form-control" placeholder="Digite sua turma aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="turma" id="turma" maxlength="3">
              </div>
            <div class="container-sm">

              <div class="container">
                <div class="row">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Cidade Compacta versus Cidade Dispersa: Compreendendo as Formas Urbanas</h5>
                       
                        <div class="card-text texto_paragrafo">
                          <h5>Introdução:</h5>
                          
                          As cidades são centros dinâmicos de atividades humanas, onde a forma urbana desempenha um papel fundamental na maneira como as pessoas vivem, trabalham e se deslocam. Duas formas urbanas amplamente discutidas são a cidade compacta e a cidade dispersa. Neste artigo, vamos explorar as características e as implicações dessas duas formas de desenvolvimento urbano.
                          
                          <h5>Cidade Compacta:</h5>
                          Uma cidade compacta é caracterizada por uma alta densidade populacional e uma estrutura urbana mais concentrada. Nesse modelo, as edificações são construídas próximas umas das outras, incentivando o uso eficiente do espaço. A infraestrutura, como escolas, hospitais e serviços públicos, é facilmente acessível a pé ou por meio de transporte público. Além disso, a cidade compacta tende a promover um senso de comunidade, uma vez que as pessoas estão mais próximas umas das outras.
                          Vantagens da Cidade Compacta:
                          <ol>
                            <li>Uso eficiente do espaço: Com edifícios mais próximos uns dos outros, menos terra é consumida, o que contribui para a preservação de áreas naturais.</li>
                            <li>Menos tempo de deslocamento: A proximidade entre as residências e as instalações comerciais reduz a necessidade de longos deslocamentos, resultando em menor tempo gasto no trânsito.</li>
                            <li>Maior acessibilidade: Com infraestrutura concentrada, as pessoas podem facilmente acessar serviços e amenidades a pé ou usando o transporte público, promovendo uma mobilidade mais sustentável.</li>
                            <li>Interação social: A maior densidade populacional promove a interação entre as pessoas, estimulando a criação de comunidades fortes e vibrantes.</li>
                          </ol>
                          
                          <h5>Cidade Dispersa:</h5>
                          A cidade dispersa, por outro lado, é caracterizada por uma baixa densidade populacional e uma expansão urbana mais espalhada. Nesse modelo, as edificações são separadas umas das outras, geralmente com grandes áreas verdes ou vazias entre elas. A infraestrutura é projetada principalmente para o uso de veículos particulares, tornando o transporte público menos eficiente.
                          Desafios da Cidade Dispersa:
                          1. Consumo excessivo de terra: A cidade dispersa requer mais espaço para acomodar as mesmas atividades que uma cidade compacta, levando à expansão contínua e ao consumo de áreas naturais.
                          2. Maior dependência de veículos: Com a infraestrutura voltada para o transporte individual, as pessoas dependem mais de carros, resultando em congestionamentos, poluição do ar e emissões de gases de efeito estufa.
                          3. Menor interação social: A distância entre as edificações dificulta a interação entre as pessoas, resultando em comunidades menos coesas e maior isolamento social.
                          <h5>Encontrando um equilíbrio:</h5>
                          Embora existam vantagens e desafios associados tanto à cidade compacta quanto à cidade dispersa, a busca por um equilíbrio é essencial. O planejamento urbano inteligente deve considerar a importância da densidade populacional, a acessibilidade aos serviços e a proteção do meio ambiente. Estratégias como o desenvolvimento de áreas mistas, o investimento em transporte público eficiente e o uso criativo do espaço urbano podem ajudar a promover um desenvolvimento urbano mais equilibrado.
                          <h5>Conclusão:</h5>
                          A forma urbana desempenha um papel significativo na vida das pessoas e no futuro sustentável das cidades. A cidade compacta oferece vantagens em termos de eficiência, acessibilidade e interação social, enquanto a cidade dispersa apresenta desafios relacionados ao consumo de terra, dependência de veículos e menor coesão comunitária. Encontrar um equilíbrio entre essas formas é fundamental para criar cidades mais habitáveis, sustentáveis e inclusivas. O planejamento urbano inteligente e a participação cidadã são essenciais nesse processo de busca por um desenvolvimento urbano equilibrado.
                          <h5>Referência:</h5>
                          World Resources Institute (WRI). (2023, março 8). Cidade compacta, cidade dispersa: entenda o que é forma urbana. Recuperado em 10 de março de 2023, de https://www.wribrasil.org.br/noticias/cidade-compacta-cidade-dispersa-entenda-o-que-e-forma-urbana
                          
                        </div>
                    </div>
                  </div>
                </div>
              </div>
                
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1</h5>
                        <p class="card-text">O que caracteriza uma cidade compacta, de acordo com o texto?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A"> Baixa densidade populacional.</li>
                                <li><input type="radio" name="q1" value="B"> Uso predominante de veículos particulares.</li>
                                <li><input type="radio" name="q1" value="C"> Alta densidade populacional.</li>
                                <li><input type="radio" name="q1" value="D"> Predominância de áreas verdes.</li>
                                <li><input type="radio" name="q1" value="E"> Distância entre edificações.</li>
                            </ol>
                        </div>
                    </div>
                        
                                 
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2</h5>
                        <p class="card-text">Quais são as vantagens da cidade compacta mencionadas no texto?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A"> Consumo excessivo de terra.</li>
                                <li><input type="radio" name="q2" value="B"> Maior dependência de veículos.</li>
                                <li><input type="radio" name="q2" value="C"> Menor interação social.</li>
                                <li><input type="radio" name="q2" value="D"> Menor tempo de deslocamento.</li>
                                <li><input type="radio" name="q2" value="E"> Uso eficiente do espaço.</li>
                            </ol>
                        </div>
                    </div>
                                       
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3</h5>
                        <p class="card-text">Quais são os desafios da cidade dispersa mencionados no texto?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A"> Consumo excessivo de terra.</li>
                                <li><input type="radio" name="q3" value="B"> Menor coesão comunitária.</li>
                                <li><input type="radio" name="q3" value="C"> Maior acessibilidade.</li>
                                <li><input type="radio" name="q3" value="D"> Uso eficiente do espaço.</li>
                                <li><input type="radio" name="q3" value="E"> Menor tempo de deslocamento.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4</h5>
                        <p class="card-text">O que é fundamental para criar cidades mais habitáveis, sustentáveis e inclusivas, de acordo com o texto?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A"> A expansão contínua da cidade.</li>
                                <li><input type="radio" name="q4" value="B"> A dependência de carros para deslocamentos.</li>
                                <li><input type="radio" name="q4" value="C"> O planejamento urbano inteligente e a participação cidadã.</li>
                                <li><input type="radio" name="q4" value="D"> A predominância do uso de veículos particulares.</li>
                                <li><input type="radio" name="q4" value="E"> O uso de grandes áreas verdes.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5</h5>
                        <p class="card-text">Por que é importante encontrar um equilíbrio entre as formas urbanas compactas e dispersas?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A"> Para promover a expansão contínua das cidades.</li>
                                <li><input type="radio" name="q5" value="B"> Para criar cidades exclusivamente compactas.</li>
                                <li><input type="radio" name="q5" value="C"> Para garantir a predominância do uso de veículos particulares.</li>
                                <li><input type="radio" name="q5" value="D"> Para evitar a coesão comunitária.</li>
                                <li><input type="radio" name="q5" value="E"> Para criar cidades mais habitáveis e sustentáveis.</li>
                            </ol>
                        </div>
                    </div>
                                                      
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="container">
                <div class="row">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Urbanização</h5>
                       
                        <div class="texto_paragrafo">
                        A urbanização é um fenômeno que ocorre por todo o mundo, transformando a organização dos municípios e trazendo mudanças significativas para a vida das pessoas. Dentro dos municípios, é possível identificar diversas zonas, sendo as mais comuns as zonas urbanas e as zonas rurais.
                        
                        Nas zonas urbanas, encontramos uma maior concentração de população e infraestruturas desenvolvidas, como edifícios, comércios, escolas e hospitais. Essas áreas são marcadas pela presença de ruas asfaltadas, iluminação pública, transporte público e oferta diversificada de serviços. É nelas que, geralmente, ocorre a maior parte das atividades econômicas, sociais e culturais.
                        
                        Já nas zonas rurais, a presença de população é menor e as atividades econômicas estão relacionadas principalmente à agricultura, pecuária e extrativismo. Nesse contexto, as áreas são majoritariamente compostas por paisagens naturais, como campos, florestas e rios. As infraestruturas são mais limitadas, com estradas rurais e uma menor oferta de serviços públicos e comerciais.
                        
                        Um fenômeno importante relacionado à urbanização é o êxodo rural. Ele ocorre quando pessoas deixam as zonas rurais em busca de oportunidades nas zonas urbanas. Os motivos para esse movimento podem ser diversos, como a busca por melhores condições de vida, acesso a serviços e infraestrutura, oferta de empregos e oportunidades de estudo. O êxodo rural tem impactos significativos tanto nas zonas urbanas, que enfrentam um aumento populacional e demandas por infraestruturas e serviços, quanto nas zonas rurais, que sofrem com a diminuição da população e a consequente transformação de suas atividades econômicas.
                        
                        Em suma, a urbanização traz consigo um rearranjo das zonas dos municípios, dividindo-os entre áreas urbanas e áreas rurais. Compreender as características e diferenças entre essas zonas é fundamental para entender o funcionamento e os desafios do ambiente urbano e rural, assim como para avaliar os impactos do êxodo rural na sociedade como um todo.
                        </div>
                    </div>
                  </div>
            
                </div>
                </div>

              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 6</h5>
                        <p class="card-text">Qual o principal fenômeno relacionado à urbanização descrito no texto?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q6" value="A" maxlength="1">O aumento da população nas áreas urbanas</li>
                                    <li><input type="radio" name="q6" value="B" maxlength="1">A transformação das atividades econômicas</li>
                                    <li><input type="radio" name="q6" value="C" maxlength="1">A diminuição da população nas áreas rurais</li>
                                    <li><input type="radio" name="q6" value="D" maxlength="1">O surgimento de infraestruturas nas áreas urbanas</li>
                                    <li><input type="radio" name="q6" value="E" maxlength="1">A busca por melhores condições de vida</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    

                    
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 7</h5>
                        <p class="card-text">Quais são as características comuns encontradas nas zonas urbanas descritas no texto?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q7" value="A" maxlength="1">Ruas não pavimentadas e falta de infraestrutura</li>
                                    <li><input type="radio" name="q7" value="B" maxlength="1">Presença de campos, florestas e rios</li>
                                    <li><input type="radio" name="q7" value="C" maxlength="1">Concentração de população e infraestruturas desenvolvidas</li>
                                    <li><input type="radio" name="q7" value="D" maxlength="1">Ausência de serviços públicos e comerciais</li>
                                    <li><input type="radio" name="q7" value="E" maxlength="1">Atividades econômicas relacionadas à agricultura e pecuária</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                     
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 8</h5>
                        <p class="card-text">Quais são os impactos do êxodo rural?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q8" value="A" maxlength="1">Aumento da população nas zonas rurais e diminuição nas zonas urbanas</li>
                                    <li><input type="radio" name="q8" value="B" maxlength="1">Transformação das atividades econômicas nas zonas rurais</li>
                                    <li><input type="radio" name="q8" value="C" maxlength="1">Aumento da oferta de serviços públicos e comerciais nas zonas urbanas</li>
                                    <li><input type="radio" name="q8" value="D" maxlength="1">Maior demanda por infraestruturas e serviços nas zonas urbanas</li>
                                    <li><input type="radio" name="q8" value="E" maxlength="1">Falta de oportunidades de estudo e emprego nas zonas rurais</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 9</h5>
                        <p class="card-text">Os municípios roraimenses coloridos no mapa abaixo são:</p>
                    
                        <div class="text-center">
                            <img src="/img/roraima_9.png" alt="Mapa de Roraima">
                        </div>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q9" value="A" maxlength="1">Bonfim, Cantá e Pacaraima</li>
                                    <li><input type="radio" name="q9" value="B" maxlength="1">Normandia, Uiramutã e Alto Alegre</li>
                                    <li><input type="radio" name="q9" value="C" maxlength="1">Amajari, Cantá e São Luiz</li>
                                    <li><input type="radio" name="q9" value="D" maxlength="1">Caracaraí, Mucajaí e Rorainópolis</li>
                                    <li><input type="radio" name="q9" value="E" maxlength="1">Iracema, Caroebe e São João da Baliza</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                        
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 10</h5>
                        <p class="card-text">No mapa abaixo, as cidades coloridas são:</p>
                    
                        <div class="text-center">
                            <img src="/img/roraima_10.png" alt="Mapa de cidades">
                        </div>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q10" value="A" maxlength="1">Uiramutã, Normandia e Pacaraima</li>
                                    <li><input type="radio" name="q10" value="B" maxlength="1">Amajari, Alto Alegre e Boa Vista</li>
                                    <li><input type="radio" name="q10" value="C" maxlength="1">Mucajaí, Caracaraí e Caroebe</li>
                                    <li><input type="radio" name="q10" value="D" maxlength="1">São João da Baliza, Iracema e São Luís</li>
                                    <li><input type="radio" name="q10" value="E" maxlength="1">Rorainópolis, Bonfim e Cantá</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 11</h5>
                        <p class="card-text">A cidade colorida no mapa abaixo é:</p>
                    
                        <div class="text-center">
                            <img src="/img/roraima_11.png" alt="Mapa com cidade colorida">
                        </div>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q11" value="A" maxlength="1">Uiramutã</li>
                                    <li><input type="radio" name="q11" value="B" maxlength="1">Normandia</li>
                                    <li><input type="radio" name="q11" value="C" maxlength="1">Pacaraima</li>
                                    <li><input type="radio" name="q11" value="D" maxlength="1">Amajari</li>
                                    <li><input type="radio" name="q11" value="E" maxlength="1">Boa Vista</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                              
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 12</h5>
                        <p class="card-text">São o menor e o maior municípios de Roraima (em extensão territorial), respectivamente:</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q12" value="A" maxlength="1">Normandia e Mucajaí</li>
                                    <li><input type="radio" name="q12" value="B" maxlength="1">São Luiz e Caracaraí</li>
                                    <li><input type="radio" name="q12" value="C" maxlength="1">Uiramutã e Boa Vista</li>
                                    <li><input type="radio" name="q12" value="D" maxlength="1">São João da Baliza e Cantá</li>
                                    <li><input type="radio" name="q12" value="E" maxlength="1">Alto Alegre e Caroebe</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 13</h5>
                        <p class="card-text">Na hierarquia urbana, as cidades desempenham diferentes papéis em termos de serviços, influência econômica e tamanho. Em Roraima, a cidade que assume o papel de maior influência, concentração de serviços e é considerada o centro urbano mais importante do estado é a capital. Qual é o município que se enquadra como a capital de Roraima, desempenhando o papel de maior destaque na hierarquia urbana?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q13" value="A" maxlength="1">Uiramutã</li>
                                    <li><input type="radio" name="q13" value="B" maxlength="1">Boa Vista</li>
                                    <li><input type="radio" name="q13" value="C" maxlength="1">São João da Baliza</li>
                                    <li><input type="radio" name="q13" value="D" maxlength="1">Cantá</li>
                                    <li><input type="radio" name="q13" value="E" maxlength="1">Normandia</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 14</h5>
                        <p class="card-text">Marque a alternativa que apresenta o nível **errado** de classificação dos municípios roraimenses abaixo em relação à hierarquia urbana:</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q14" value="A" maxlength="1">Boa Vista - Capital Regional C</li>
                                    <li><input type="radio" name="q14" value="B" maxlength="1">Cantá - Centro Local</li>
                                    <li><input type="radio" name="q14" value="C" maxlength="1">Alto Alegre - Centro Local</li>
                                    <li><input type="radio" name="q14" value="D" maxlength="1">Mucajaí - Centro Local</li>
                                    <li><input type="radio" name="q14" value="E" maxlength="1">Caracaraí - Centro Regional</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Os três setores da economia</h5>
                    <div class="card-text texto_paragrafo">Olá, crianças! Hoje vamos aprender sobre os três setores da economia, que são como times que trabalham juntos para garantir que tudo funcione no mundo dos negócios.

                      O primeiro setor é o setor primário. Ele envolve as atividades relacionadas à natureza, como a agricultura, a pesca e a mineração. É nesse setor que são produzidos os alimentos que comemos, os minerais que usamos para construir coisas e os recursos naturais que são essenciais para a vida no planeta. Os trabalhadores desse setor são chamados de agricultores, pescadores, mineradores, entre outros. Sem eles, não teríamos sustento e muitas coisas que usamos no nosso dia a dia!
                      
                      Agora, vamos falar sobre o segundo setor, que é o setor secundário. Ele envolve a transformação dos recursos naturais em produtos que podemos comprar e usar. Por exemplo, quando as frutas e vegetais são colhidos, eles são processados e embalados antes de chegarem às prateleiras dos supermercados. O mesmo acontece com a indústria de roupas, móveis, brinquedos e muito mais! Esse setor é formado por fábricas, indústrias e empresas que transformam esses recursos em algo útil para nós. Sem o setor secundário, não teríamos roupas bonitas para usar nem brinquedos divertidos para brincar.
                      
                      Por fim, temos o terceiro setor, que é o setor terciário. Esse setor está relacionado aos serviços que recebemos. Ele inclui atividades como educação, saúde, transporte, lazer e até mesmo a criação de conteúdo digital, como vídeos e jogos. É por meio desse setor que temos acesso a diferentes serviços que nos ajudam em nosso dia a dia. Por exemplo, os professores que nos ensinam, os médicos que cuidam da nossa saúde, os motoristas de ônibus que nos levam para a escola e as pessoas que trabalham em parques de diversão. O terceiro setor é como a cereja do bolo, ele complementa os outros setores, garantindo que tenhamos acesso a tudo o que precisamos para viver bem.
                      
                      Então, agora vocês já sabem sobre os três setores da economia: o setor primário, que lida com a natureza; o setor secundário, que transforma os recursos naturais em produtos; e o setor terciário, que oferece serviços para a nossa vida. Todos eles são importantes e trabalham juntos para manter nossa sociedade funcionando.</div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 15</h5>
                        <p class="card-text">Qual setor da economia lida diretamente com a natureza, incluindo atividades como agricultura e mineração?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q15" value="A" maxlength="1">Setor Secundário</li>
                                    <li><input type="radio" name="q15" value="B" maxlength="1">Setor Terciário</li>
                                    <li><input type="radio" name="q15" value="C" maxlength="1">Setor Quaternário</li>
                                    <li><input type="radio" name="q15" value="D" maxlength="1">Setor Primário</li>
                                    <li><input type="radio" name="q15" value="E" maxlength="1">Setor Cinco</li>
                                </ol>
                            </div>
                        </div>
                    </div>                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 16</h5>
                        <p class="card-text">O que o setor secundário da economia envolve?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q16" value="A" maxlength="1">Atividades relacionadas à natureza</li>
                                    <li><input type="radio" name="q16" value="B" maxlength="1">Produção de alimentos</li>
                                    <li><input type="radio" name="q16" value="C" maxlength="1">Transformação de recursos naturais em produtos</li>
                                    <li><input type="radio" name="q16" value="D" maxlength="1">Prestação de serviços diversos</li>
                                    <li><input type="radio" name="q16" value="E" maxlength="1">Nenhuma das alternativas</li>
                                </ol>
                            </div>
                        </div>
                    </div>                   
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 17</h5>
                        <p class="card-text">Quais são as atividades relacionadas ao setor terciário da economia?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q17" value="A" maxlength="1">Atividades de transformação</li>
                                    <li><input type="radio" name="q17" value="B" maxlength="1">Atividades agrícolas</li>
                                    <li><input type="radio" name="q17" value="C" maxlength="1">Prestação de serviços</li>
                                    <li><input type="radio" name="q17" value="D" maxlength="1">Atividades de mineração</li>
                                    <li><input type="radio" name="q17" value="E" maxlength="1">Nenhuma das alternativas</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">                   
                      <div class="container">
                        <h5 class="card-title">Questão 18</h5>
                        <p class="card-text">O que é o setor quaternário da economia?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q18" value="A" maxlength="1">Setor relacionado à natureza</li>
                                    <li><input type="radio" name="q18" value="B" maxlength="1">Setor de produção de alimentos</li>
                                    <li><input type="radio" name="q18" value="C" maxlength="1">Setor de transformação de recursos naturais</li>
                                    <li><input type="radio" name="q18" value="D" maxlength="1">Setor de prestação de serviços</li>
                                    <li><input type="radio" name="q18" value="E" maxlength="1">Setor de tecnologia e pesquisa avançada</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 19</h5>
                        <p class="card-text">Qual é a importância do setor terciário da economia?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q19" value="A" maxlength="1">Garante alimentos para a população</li>
                                    <li><input type="radio" name="q19" value="B" maxlength="1">Transforma recursos naturais em produtos</li>
                                    <li><input type="radio" name="q19" value="C" maxlength="1">Oferece serviços essenciais para a vida cotidiana</li>
                                    <li><input type="radio" name="q19" value="D" maxlength="1">Explora recursos minerais</li>
                                    <li><input type="radio" name="q19" value="E" maxlength="1">Não tem importância na economia</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <div class="container">
                <div class="row">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">DIFERENTES PAISAGENS RURAIS p.165</h5>
                      <div class="card-text texto_paragrafo">Em várias partes do mundo é praticada a chamada agricultura tradicional, que se caracteriza por empregar grande número de trabalhadores e um número reduzido de máquinas e equipamentos.

                        Em outros países, incluindo o Brasil, os produtores rurais vêm adotando técnicas e equipamentos mais avançados. Essa modernização do campo tem trazido duas consequências principais: aumento da produtividade das lavouras e redução do número de trabalhadores rurais, que são substituídos pela tecnologia das máquinas.
                        
                        Assim, encontramos países com paisagens rurais agrícolas distintas, devido a vários elementos, entre eles: a tecnologia empregada, o tamanho da propriedade (pequena, média ou grande), o tipo de cultivo (alimentos para seres humanos, pastagens para gado, matéria-prima para a indústria etc.).
                        
                        A pecuária também é classificada em moderna (ou intensiva) ou tradicional (ou extensiva). Na pecuária moderna, em geral, a produtividade é alta, são usadas técnicas de inseminação artificial, uso de antibióticos, vacinas e outros medicamentos, acompanhamento veterinário, preocupação com a alimentação animal, entre outros cuidados. O gado, por exemplo, é criado principalmente em sistema de confinamento, ou seja, preso em estábulos.
                        
                        Na pecuária tradicional, geralmente, há baixa produtividade, o controle da reprodução e saúde dos animais não é feito por técnicas de laboratório nem com excesso de medicamentos; utilizam-se processos mais naturais. É chamada de extensiva pois o gado é criado solto nas propriedades, que também se dedicam à produção agrícola.
                        
                        Além da criação de gado, no campo são praticados outros tipos de criação, como a de peixes (piscicultura) e a de aves (avicultura).
                        
                        As paisagens com predomínio de elementos naturais transformadas pelo extrativismo — extração de recursos minerais, vegetais e animais — também são consideradas espaços rurais. A extração mineral, por exemplo, modifica o relevo original, elimina a vegetação e escava o solo. A tecnologia aplicada ao extrativismo pode variar de instrumentos muito simples a modernos equipamentos.</div>
                    </div>
                  </div>
                </div>
              </div>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 20</h5>
                        <p class="card-text">Quais são as duas principais consequências da modernização do campo mencionadas no texto?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q20" value="A" maxlength="1">Aumento do número de trabalhadores rurais e maior utilização de máquinas.</li>
                                    <li><input type="radio" name="q20" value="B" maxlength="1">Redução da produtividade das lavouras e aumento do número de trabalhadores rurais.</li>
                                    <li><input type="radio" name="q20" value="C" maxlength="1">Aumento da produtividade das lavouras e redução do número de trabalhadores rurais.</li>
                                    <li><input type="radio" name="q20" value="D" maxlength="1">Maior preocupação com a alimentação animal e diminuição da produtividade das lavouras.</li>
                                    <li><input type="radio" name="q20" value="E" maxlength="1">Utilização de técnicas de inseminação artificial e aumento da produtividade das lavouras.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 21</h5>
                        <p class="card-text">O que caracteriza a pecuária moderna em comparação com a pecuária tradicional, de acordo com o texto?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q21" value="A" maxlength="1">Baixa produtividade e uso de técnicas de inseminação artificial.</li>
                                    <li><input type="radio" name="q21" value="B" maxlength="1">Confinamento dos animais e preocupação com a alimentação animal.</li>
                                    <li><input type="radio" name="q21" value="C" maxlength="1">Uso de antibióticos e sistema de criação extensiva.</li>
                                    <li><input type="radio" name="q21" value="D" maxlength="1">Controle da reprodução e saúde dos animais por técnicas de laboratório.</li>
                                    <li><input type="radio" name="q21" value="E" maxlength="1">Utilização de processos naturais e baixa produtividade.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                                                       
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 22</h5>
                        <p class="card-text">Quais são os elementos que podem causar diferenças nas paisagens rurais agrícolas em diferentes países, conforme mencionado no texto?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q22" value="A" maxlength="1">O uso de antibióticos e vacinas na criação de gado.</li>
                                    <li><input type="radio" name="q22" value="B" maxlength="1">A preocupação com a alimentação animal e a produtividade das lavouras.</li>
                                    <li><input type="radio" name="q22" value="C" maxlength="1">A utilização de máquinas e equipamentos modernos na agricultura.</li>
                                    <li><input type="radio" name="q22" value="D" maxlength="1">O tipo de cultivo, o tamanho da propriedade e a tecnologia empregada.</li>
                                    <li><input type="radio" name="q22" value="E" maxlength="1">A criação de gado solto nas propriedades e a produção agrícola.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                      
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 23</h5>
                        <p class="card-text">Quais são as atividades econômicas mostradas na figura abaixo:</p>
                        <div class="text-center">
                            <img class="img-fluid" src="/img/atividades_23.png">
                        </div>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q23" value="A" maxlength="1">A - Indústria B - Comércio</li>
                                    <li><input type="radio" name="q23" value="B" maxlength="1">A - Pecuária B - Mineração</li>
                                    <li><input type="radio" name="q23" value="C" maxlength="1">A - Agricultura B - Mineração</li>
                                    <li><input type="radio" name="q23" value="D" maxlength="1">A - Comércio B - Extrativismo</li>
                                    <li><input type="radio" name="q23" value="E" maxlength="1">A - Pecuária B - Agricultura</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="text-center">
                      <img class="img-fluid" src="/img/p166.png" alt="">
                    </div>
                  </div>
               
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <div class="text-center">
                      <img class="img-fluid" src="/img/p167.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 24</h5>
                        <p class="card-text">O que caracteriza as empresas agrícolas modernas, também conhecidas como agronegócio, de acordo com o texto?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q24" value="A" maxlength="1">Utilização de técnicas modernas e uso de máquinas para o aumento da produtividade.</li>
                                    <li><input type="radio" name="q24" value="B" maxlength="1">Utilização de técnicos e engenheiros agrícolas.</li>
                                    <li><input type="radio" name="q24" value="C" maxlength="1">Mecanização do trabalho e uso de tecnologia.</li>
                                    <li><input type="radio" name="q24" value="D" maxlength="1">Produção de alimentos tradicionais.</li>
                                    <li><input type="radio" name="q24" value="E" maxlength="1">Criação de gado em sistema de confinamento.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 25</h5>
                        <p class="card-text">O que representou o grande salto para a modernização da agricultura após a década de 1960, conforme mencionado no texto?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q25" value="A" maxlength="1">Revolução genética.</li>
                                    <li><input type="radio" name="q25" value="B" maxlength="1">Utilização do sistema de irrigação.</li>
                                    <li><input type="radio" name="q25" value="C" maxlength="1">Mecanização do trabalho.</li>
                                    <li><input type="radio" name="q25" value="D" maxlength="1">Revolução Verde.</li>
                                    <li><input type="radio" name="q25" value="E" maxlength="1">Plantio de sementes transgênicas.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 26</h5>
                        <p class="card-text">O que são sementes transgênicas, de acordo com o texto?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q26" value="A" maxlength="1">Sementes modificadas geneticamente para melhorar a produtividade agrícola e a resistência dos cultivos às pragas.</li>
                                    <li><input type="radio" name="q26" value="B" maxlength="1">Sementes tradicionais usadas na agricultura familiar.</li>
                                    <li><input type="radio" name="q26" value="C" maxlength="1">Sementes usadas na produção de alimentos orgânicos.</li>
                                    <li><input type="radio" name="q26" value="D" maxlength="1">Sementes produzidas sem o uso de fertilizantes químicos.</li>
                                    <li><input type="radio" name="q26" value="E" maxlength="1">Sementes utilizadas na produção de rações para animais.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                          
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 27</h5>
                        <p class="card-text">Quais foram os efeitos da modernização da agricultura mencionados no texto?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q27" value="A" maxlength="1">Redução da produtividade agrícola global.</li>
                                    <li><input type="radio" name="q27" value="B" maxlength="1">Aumento do êxodo rural.</li>
                                    <li><input type="radio" name="q27" value="C" maxlength="1">Desaparecimento das propriedades familiares.</li>
                                    <li><input type="radio" name="q27" value="D" maxlength="1">Diminuição do uso de tecnologia no campo.</li>
                                    <li><input type="radio" name="q27" value="E" maxlength="1">Aumento da produção agrícola tradicional.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 28</h5>
                        <p class="card-text">O que as propriedades familiares ainda são responsáveis, conforme mencionado no texto?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q28" value="A" maxlength="1">Pelo uso de sementes transgênicas.</li>
                                    <li><input type="radio" name="q28" value="B" maxlength="1">Pela modernização da agricultura.</li>
                                    <li><input type="radio" name="q28" value="C" maxlength="1">Pela produção de alimentos orgânicos.</li>
                                    <li><input type="radio" name="q28" value="D" maxlength="1">Pelo abastecimento de alimentos e diversidade de cultivos consumidos nas cidades.</li>
                                    <li><input type="radio" name="q28" value="E" maxlength="1">Pela aplicação de pesticidas na agricultura.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 29</h5>
                        <p class="card-text">O que a Revolução Verde provocou na produção agrícola, de acordo com o texto?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q29" value="A" maxlength="1">Diminuição da produtividade.</li>
                                    <li><input type="radio" name="q29" value="B" maxlength="1">Aumento do uso de trabalho humano.</li>
                                    <li><input type="radio" name="q29" value="C" maxlength="1">Redução do uso de fertilizantes químicos.</li>
                                    <li><input type="radio" name="q29" value="D" maxlength="1">Maior uso de pesticidas.</li>
                                    <li><input type="radio" name="q29" value="E" maxlength="1">Mecanização do trabalho no campo.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 30</h5>
                        <p class="card-text">O que caracteriza as empresas agrícolas modernas, também conhecidas como agronegócio, de acordo com o texto?</p>
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q30" value="A" maxlength="1">Uso de sementes transgênicas.</li>
                                    <li><input type="radio" name="q30" value="B" maxlength="1">Utilização de técnicos e engenheiros agrícolas.</li>
                                    <li><input type="radio" name="q30" value="C" maxlength="1">Mecanização do trabalho e uso de tecnologia.</li>
                                    <li><input type="radio" name="q30" value="D" maxlength="1">Produção de alimentos tradicionais.</li>
                                    <li><input type="radio" name="q30" value="E" maxlength="1">Criação de gado em sistema de confinamento.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>              
              <br>    
            </div>
    
                    
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>