<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="d-flex align-items-md-center bg-primary">
                <img class="img-fluid rounded float-left" src="/img/logo América Sarmento.fw.png" alt="">
                <h1>PROFESSOR TONY COSTA</h1>   
            </header>
        </div>

        <br>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-8">
                    
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="container">
            <footer class="d-flex align-items-md-center bg-primary">
                <div class="lead">PROFESSOR TONY COSTA</div>
            </footer>
        </div>
    
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>