<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
  
        <hr>
       <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cupiditate assumenda exercitationem vel, unde fugit cumque perspiciatis ab consectetur minima nulla sequi quibusdam ea asperiores beatae temporibus obcaecati facilis iusto.</p>

                
            </div> 
            <div class="col-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem amet dolor voluptatem nesciunt! Veritatis maxime consequuntur magnam minima ipsa, consectetur, impedit nobis quibusdam cum neque, inventore doloribus itaque culpa autem.</p>

                
            </div>    
            <div class="col-4">
                <img class="img-fluid" src="/img/asr_frente.png" alt="">

                
            </div>              
        </div>

       </div>

         <hr>       
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>