<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
  
        <hr>
       <div class="container-fluid">
        <div class="row">
            <div class="col">
              <blockquote class="blockquote text-center">
                <p class="mb-2">Ninguém educa ninguém, ninguém educa a si mesmo, os homens se educam entre si, mediatizados pelo mundo.</p>
                <footer class="blockquote-footer">Paulo Freire Pedagogia do oprimido. Rio de Janeiro: <cite title="Título da fonte">Paz e Terra</cite>, 1987.</footer>
                <img class="img-fluid imagem_arredondada" src="/img/paulo freire.png" alt="">
              </blockquote>  
     
            </div> 
   
            <div class="col text-center">
                <img class="img-fluid" src="/img/asr_frente.png" alt="">               
            </div>              
        </div>

       </div>

         <hr>       
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>