<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Professor Tony Costa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Página Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">61/62/63/64</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">101/102</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">303/304</a>
                    </li>
                </ul>
            </div>
        </nav>


        

           <!-- Rodapé com Bootstrap -->
    <footer class="bg-dark text-light p-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Contato</h4>
                    <p>Email: costatony79@gmail.com</p>
                </div>
                <div class="col-md-6">
                    <h4>Redes Sociais</h4>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class=""></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
   
      

    
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>