<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <img class="img-fluid rounded float-left" src="/img/logo_pmbv.png" alt="">
                <h3 class="display-5">ATIVIDADES DIÁRIAS</h3>
            </header>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <td><h3>DIVISÃO DE NÚMEROS NATURAIS</h3></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>DIVISÃO POR UM ALGARISMO</th>
                        </tr>
                        <tr>
                            <td><a href="/divisao">ACESSE A ATIVIDADE</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
      
          </div>

        </div>
        <%- include('partials/footer.ejs') %>  
    <br>
    <br>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>