<!DOCTYPE html>
<html>
<head>
    <title>Contas de Dividir</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div id="temporizador2">
            <h1 id="timer2">??:??</h1>
            <button onclick="iniciarTemporizador2()" class="btn btn-success">Iniciar</button>
            <button onclick="location.reload()" class="btn btn-danger">Reiniciar</button>  
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td><h3>DIVISÃO DE NÚMEROS NATURAIS POR UM ALGARISMO</h3></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                   <td id="divisoes" class="operacao"> </td>
                </tr>            
            </tbody>
        </table>
    </div>
   
    <script src="/js/script.js"></script>
</body>
</html>
