<!DOCTYPE html>
<html>
<head>
    <title>Contas de Dividir</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Contas de Dividir de Um Algarismo</h1>
    <div id="divisoes">
        <!-- As contas serão geradas aqui -->
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
