<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <img class="img-fluid rounded float-left" src="/img/logo_pmbv.png" alt="">
                <h3 class="display-5">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</h3>
            </header>
        </div>
        <br>
        <h1 class="display-4 text-center">NOÇÕES DE FRAÇÕES</h1>
        <br>
        <hr>
    <div class="container-sm" id="quiz-container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fração</th>
                <th scope="col">Parte Colorida</th>
                <th scope="col">Parte Branca</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><div class="text-center"><img class="img-fluid" src="/img/fracao1.png" alt=""></div></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q1" onblur="checkAnswer(0)" placeholder="EX: 1/2"></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q2" onblur="checkAnswer(1)" placeholder="EX: 1/2"></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><div class="text-center"><img class="img-fluid" src="/img/fracao2.png" alt=""></div></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q3" onblur="checkAnswer(2)" placeholder="EX: 1/2"></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q4" onblur="checkAnswer(3)" placeholder="EX: 1/2"></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><div class="text-center"><img class="img-fluid" src="/img/fracao3.png" alt=""></div></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q5" onblur="checkAnswer(4)" placeholder="EX: 1/2"></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q6" onblur="checkAnswer(5)" placeholder="EX: 1/2"></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><div class="text-center"><img class="img-fluid" src="/img/fracao4.png" alt=""></div></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q7" onblur="checkAnswer(6)" placeholder="EX: 1/2"></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q8" onblur="checkAnswer(7)" placeholder="EX: 1/2"></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td><div class="text-center"><img class="img-fluid" src="/img/fracao5.png" alt=""></div></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q9" onblur="checkAnswer(8)" placeholder="EX: 1/2"></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q10" onblur="checkAnswer(9)" placeholder="EX: 1/2"></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td><div class="text-center"><img class="img-fluid" src="/img/fracao6.png" alt=""></div></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q11" onblur="checkAnswer(10)" placeholder="EX: 1/2"></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q12" onblur="checkAnswer(11)" placeholder="EX: 1/2"></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td><div class="text-center"><img class="img-fluid" src="/img/fracao7.png" alt=""></div></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q13" onblur="checkAnswer(12)" placeholder="EX: 1/2"></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q14" onblur="checkAnswer(13)" placeholder="EX: 1/2"></td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td><div class="text-center"><img class="img-fluid" src="/img/fracao8.png" alt=""></div></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q15" onblur="checkAnswer(14)" placeholder="EX: 1/2"></td>
                <td><input type="text" class="fraction-input" maxlength="5" id="q16" onblur="checkAnswer(15)" placeholder="EX: 1/2"></td>
              </tr>
            </tbody>
          </table>

        <div class="row">

            <div class="col-4">
                
            </div>
            <div class="col-4">
                <div class="question">
                    <div class="fraction-container">
                        
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="question">
                    <div class="fraction-container">
                        
                    </div>
                </div>
            </div>
        </div>
  
       
    </div>
   
    <br>
    <br>

        <div class="container-sm">
            <footer class="d-flex align-items-md-center bg-primary">
                <h1 class="display-6">PROFESSOR TONY COSTA</h1>
            </footer>
        </div>
    <br>
    <br>

  
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>