<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/logo_pmbv.png" width="90" height="90" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">GEOGRAFIA</div>
            <div class=" display-4 text-center">ATIVIDADE AVALIATIVA</div>
            <div class=" display-5 text-center">30 pontos</div>
       </div>
        <br>
       <div class="container bg-light">
            
       </div>
    <hr>
    <div class="container">
        <form method="POST" action="/gabarito_geografia3Bim" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <div class="container">
              <div class="container">
                  <div class="text-center">
                    <img class="img-fluid" src="/img/poema_cidade.png" alt=""> 
                  </div>                              
              </div>             
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1</h5>
                        <p class="card-text">Segundo o poema, qual foi o progresso criado pelo homem?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A"> Construção de pontes, rodovias, casa, edifícios, uma cidade agitada.</li>
                                <li><input type="radio" name="q1" value="B"> Desenvolvimento de tecnologia avançada para agricultura.</li>
                                <li><input type="radio" name="q1" value="C"> Criação de novas formas de energia renovável.</li>
                                <li><input type="radio" name="q1" value="D"> Expansão de áreas verdes e parques urbanos.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                            
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2</h5>
                        <p class="card-text">Que tipos de paisagens são citadas no poema?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A"> Urbana e montanhosa.</li>
                                <li><input type="radio" name="q2" value="B"> Urbana e rural.</li>
                                <li><input type="radio" name="q2" value="C"> Rural e litorânea.</li>
                                <li><input type="radio" name="q2" value="D"> Urbana e florestal.</li>
                            </ol>
                        </div>
                    </div>

                    </div>
                                       
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="text-center">
                <img class="img-fluid" src="/img/tirinha_chico_bento.png" alt="">
              </div>
              <br>

    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3</h5>
                        <p class="card-text">Que hábito de consumo dos habitantes da cidade é apresentado na tirinha?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A"> O consumo de alimentos orgânicos.</li>
                                <li><input type="radio" name="q3" value="B"> O consumo de alimentos enlatados.</li>
                                <li><input type="radio" name="q3" value="C"> O consumo de produtos artesanais.</li>
                                <li><input type="radio" name="q3" value="D"> O consumo de alimentos frescos.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4</h5>
                        <p class="card-text">Que crítica é apresentada no último quadro?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A"> A falta de comunicação entre as pessoas.</li>
                                <li><input type="radio" name="q4" value="B"> A produção de muito lixo (latas), descartado de maneira inadequada.</li>
                                <li><input type="radio" name="q4" value="C"> O consumo excessivo de energia elétrica.</li>
                                <li><input type="radio" name="q4" value="D"> A poluição sonora na cidade.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="text-center">
                <img class="img-fluid" src="/img/geografia_p110.png" alt="">
              </div>
              <div class="text-center">
                <img class="img-fluid" src="/img/geografia_p111.png" alt="">
              </div>

        
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5</h5>
                        <p class="card-text">Nos mapas desta página e nos da página anterior é possível identificar que algumas cidades são polos de atração. Quais são essas cidades?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A"> Rio de Janeiro, Belo Horizonte, Manaus, Curitiba e Fortaleza.</li>
                                <li><input type="radio" name="q5" value="B"> São Paulo, Porto Alegre, Brasilia, Recife e Salvador.</li>
                                <li><input type="radio" name="q5" value="C"> São Paulo, Rio de Janeiro, Belo Horizonte, Curitiba e Fortaleza.</li>
                                <li><input type="radio" name="q5" value="D"> Manaus, Brasilia, Recife, Salvador e Porto Alegre.</li>
                            </ol>
                        </div>
                    </div>
                                                
                    </div>
                  </div>
                </div>
              </div>


              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 6</h5>
                        <p class="card-text">Por que elas atraem pessoas de várias outras cidades?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A"> Porque nessas cidades há maior oferta de serviços, comércios e indústrias, o que aumenta as oportunidades de trabalho e estudo.</li>
                                <li><input type="radio" name="q6" value="B"> Porque nessas cidades há mais opções de lazer e entretenimento.</li>
                                <li><input type="radio" name="q6" value="C"> Porque nessas cidades o custo de vida é mais baixo.</li>
                                <li><input type="radio" name="q6" value="D"> Porque nessas cidades há mais segurança e infraestrutura de saúde.</li>
                            </ol>
                        </div>
                    </div>
                    
                    

                    
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="text-center">
                <img class="img-fluid" src="/img/geografia_colheitas.png" alt="">
              </div>

              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 7</h5>
                        <p class="card-text">Qual é o intervalo de tempo entre as duas imagens?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A"> 50 anos</li>
                                <li><input type="radio" name="q7" value="B"> 100 anos</li>
                                <li><input type="radio" name="q7" value="C"> 118 anos</li>
                                <li><input type="radio" name="q7" value="D"> 150 anos</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                    
                     
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 8</h5>
                        <p class="card-text">Aponte duas semelhanças e duas diferenças entre as cenas retratadas nas imagens.</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A"> Semelhanças: as duas imagens mostram o trabalho rural e a colheita. Diferenças: uso de instrumentos, como o rastelo, na pintura, e de tecnologia moderna na foto, na pintura, há número maior de pessoas trabalhando no campo.</li>
                                <li><input type="radio" name="q8" value="B"> Semelhanças: as duas imagens mostram o trabalho rural e a colheita. Diferenças: na foto há mais tecnologia e menos pessoas trabalhando.</li>
                                <li><input type="radio" name="q8" value="C"> Semelhanças: as duas imagens mostram o trabalho rural e animais. Diferenças: na pintura há mais pessoas e na foto há mais tecnologia.</li>
                                <li><input type="radio" name="q8" value="D"> Semelhanças: as duas imagens mostram o trabalho rural e a presença de animais. Diferenças: na foto há uso de tecnologia e na pintura há uso de instrumentos manuais.</li>
                            </ol>
                        </div>
                    </div>
                    
                                  
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="text-center">
                <img class="img-fluid" src="/img/poema_voce_vai_gostar.png" alt="">
              </div>

              <br>   
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 9</h5>
                        <p class="card-text">Onde fica a casinha branca da canção?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A"> Fica no pé da serra, perto da barranca do rio Paraná.</li>
                                <li><input type="radio" name="q9" value="B"> Fica no alto da colina, perto do vale do rio Tietê.</li>
                                <li><input type="radio" name="q9" value="C"> Fica na beira da praia, perto da foz do rio Amazonas.</li>
                                <li><input type="radio" name="q9" value="D"> Fica no centro da cidade, perto do parque do Ibirapuera.</li>
                            </ol>
                        </div>
                    </div>                       
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 10</h5>
                        <p class="card-text">A letra cita um vestido de algodão. Quais são as atividades econômicas envolvidas para confeccionar esse produto?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A"> Agricultura (plantação de algodão e beneficiamento) e indústria (têxtil e de confecção).</li>
                                <li><input type="radio" name="q10" value="B"> Agricultura (plantação de soja e beneficiamento) e indústria (alimentícia e de confecção).</li>
                                <li><input type="radio" name="q10" value="C"> Agricultura (plantação de cana-de-açúcar e beneficiamento) e indústria (química e de confecção).</li>
                                <li><input type="radio" name="q10" value="D"> Agricultura (plantação de trigo e beneficiamento) e indústria (alimentícia e de confecção).</li>
                            </ol>
                        </div>
                    </div>                    
                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="text-center">
                <img class="img-fluid" src="/img/geografia_linha_de_montagem.png" alt="">
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 11</h5>
                        <p class="card-text">Observe e compare as fotos de indústrias do setor automobilístico. Quanto tempo se passou entre essas fotos?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q11" value="A"> 30 anos</li>
                                <li><input type="radio" name="q11" value="B"> 62 anos</li>
                                <li><input type="radio" name="q11" value="C"> 45 anos</li>
                                <li><input type="radio" name="q11" value="D"> 80 anos</li>
                            </ol>
                        </div>
                    </div>                   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 12</h5>
                        <p class="card-text">Essas fábricas estão localizadas em qual região do Brasil?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q12" value="A"> Na Região Norte</li>
                                <li><input type="radio" name="q12" value="B"> Na Região Nordeste</li>
                                <li><input type="radio" name="q12" value="C"> Na Região Centro-Oeste</li>
                                <li><input type="radio" name="q12" value="D"> Na Região Sudeste</li>
                            </ol>
                        </div>
                    </div>                   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 13</h5>
                        <p class="card-text">Qual é a principal diferença no modo de produzir automóveis retratado nas fotos?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q13" value="A"> Na foto 1, vemos mais funcionários em uma linha de montagem pouco mecanizada. Na foto 2, vemos menos funcionários trabalhando em uma linha de montagem altamente mecanizada.</li>
                                <li><input type="radio" name="q13" value="B"> Na foto 1, vemos mais máquinas e tecnologia avançada. Na foto 2, vemos mais trabalho manual e menos tecnologia.</li>
                                <li><input type="radio" name="q13" value="C"> Na foto 1, vemos uma linha de montagem rápida e eficiente. Na foto 2, vemos uma linha de montagem lenta e ineficiente.</li>
                                <li><input type="radio" name="q13" value="D"> Na foto 1, vemos uma fábrica pequena e antiga. Na foto 2, vemos uma fábrica grande e moderna.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="text-center">
                <img class="img-fluid" src="/img/geografia_p120.png" alt="">
                <img class="img-fluid" src="/img/geografia_p121.png" alt="">               
              </div>

              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 14</h5>
                        <p class="card-text">Quais fontes de energia apresentadas podem se esgotar?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q14" value="A"> O petróleo e o gás natural.</li>
                                <li><input type="radio" name="q14" value="B"> A energia solar e a energia eólica.</li>
                                <li><input type="radio" name="q14" value="C"> A energia hidrelétrica e a energia geotérmica.</li>
                                <li><input type="radio" name="q14" value="D"> A energia nuclear e a energia das marés.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                
                    </div>
                  </div>
                </div>
              </div>            

              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 15</h5>
                        <p class="card-text">Quais fontes prejudicam menos o ambiente?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q15" value="A"> As fontes de energia eólica e solar.</li>
                                <li><input type="radio" name="q15" value="B"> As fontes de energia nuclear e hidrelétrica.</li>
                                <li><input type="radio" name="q15" value="C"> As fontes de energia a base de petróleo e carvão.</li>
                                <li><input type="radio" name="q15" value="D"> As fontes de energia geotérmica e das marés.</li>
                            </ol>
                        </div>
                    </div>
                                          
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
   
            </div>
    
                    
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>