<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/logo_pmbv.png" width="90" height="90" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">GEOGRAFIA</div>
            <div class=" display-4 text-center">ATIVIDADE AVALIATIVA</div>
            <div class=" display-5 text-center">30 pontos</div>
       </div>
        <br>
       <div class="container bg-light">
            
       </div>
    <hr>
    <div class="container">
        <form method="POST" action="/gabarito_geografia3Bim" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <div class="container">
              <div class="container">
                  <div class="text-center">
                    <img class="img-fluid" src="/img/poema_cidade.png" alt=""> 
                  </div>                              
              </div>             
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1</h5>
                        <p class="card-text">Segundo o poema, qual foi o progresso criado pelo homem?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A"> O homem criou maquinaria que utilizou para construir pontes e rodovias, mudando completamente a mata.</li>
                                <li><input type="radio" name="q1" value="B"> O homem ergueu casas e edifícios, transformando a antiga zona rural em uma cidade agitada.</li>
                                <li><input type="radio" name="q1" value="C"> O progresso fez com que o homem se sentisse perdido, apesar de ter sido ele mesmo a criá-lo.</li>
                                <li><input type="radio" name="q1" value="D"> O homem, com seu progresso, transformou zonas rurais em cidades agitadas, perdendo-se nesse novo ambiente que ele mesmo construiu.</li>
                            </ol>
                        </div>
                    </div>
                    
                                            
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2</h5>
                        <p class="card-text">Que tipos de paisagens são citadas no poema?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A"> Urbana e montanhosa.</li>
                                <li><input type="radio" name="q2" value="B"> Urbana e rural.</li>
                                <li><input type="radio" name="q2" value="C"> Rural e litorânea.</li>
                                <li><input type="radio" name="q2" value="D"> Urbana e florestal.</li>
                            </ol>
                        </div>
                    </div>

                    </div>
                                       
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3</h5>
                        <p class="card-text">Quais são os desafios da cidade dispersa mencionados no texto?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A"> Consumo excessivo de terra.</li>
                                <li><input type="radio" name="q3" value="B"> Menor coesão comunitária.</li>
                                <li><input type="radio" name="q3" value="C"> Maior acessibilidade.</li>
                                <li><input type="radio" name="q3" value="D"> Uso eficiente do espaço.</li>
                                <li><input type="radio" name="q3" value="E"> Menor tempo de deslocamento.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4</h5>
                        <p class="card-text">O que é fundamental para criar cidades mais habitáveis, sustentáveis e inclusivas, de acordo com o texto?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A"> A expansão contínua da cidade.</li>
                                <li><input type="radio" name="q4" value="B"> A dependência de carros para deslocamentos.</li>
                                <li><input type="radio" name="q4" value="C"> O planejamento urbano inteligente e a participação cidadã.</li>
                                <li><input type="radio" name="q4" value="D"> A predominância do uso de veículos particulares.</li>
                                <li><input type="radio" name="q4" value="E"> O uso de grandes áreas verdes.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5</h5>
                        <p class="card-text">Por que é importante encontrar um equilíbrio entre as formas urbanas compactas e dispersas?</p>
                    
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A"> Para promover a expansão contínua das cidades.</li>
                                <li><input type="radio" name="q5" value="B"> Para criar cidades exclusivamente compactas.</li>
                                <li><input type="radio" name="q5" value="C"> Para garantir a predominância do uso de veículos particulares.</li>
                                <li><input type="radio" name="q5" value="D"> Para evitar a coesão comunitária.</li>
                                <li><input type="radio" name="q5" value="E"> Para criar cidades mais habitáveis e sustentáveis.</li>
                            </ol>
                        </div>
                    </div>
                                                      
                    </div>
                  </div>
                </div>
              </div>


              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 6</h5>
                        <p class="card-text">Qual o principal fenômeno relacionado à urbanização descrito no texto?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q6" value="A" maxlength="1">O aumento da população nas áreas urbanas</li>
                                    <li><input type="radio" name="q6" value="B" maxlength="1">A transformação das atividades econômicas</li>
                                    <li><input type="radio" name="q6" value="C" maxlength="1">A diminuição da população nas áreas rurais</li>
                                    <li><input type="radio" name="q6" value="D" maxlength="1">O surgimento de infraestruturas nas áreas urbanas</li>
                                    <li><input type="radio" name="q6" value="E" maxlength="1">A busca por melhores condições de vida</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    

                    
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 7</h5>
                        <p class="card-text">Quais são as características comuns encontradas nas zonas urbanas descritas no texto?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q7" value="A" maxlength="1">Ruas não pavimentadas e falta de infraestrutura</li>
                                    <li><input type="radio" name="q7" value="B" maxlength="1">Presença de campos, florestas e rios</li>
                                    <li><input type="radio" name="q7" value="C" maxlength="1">Concentração de população e infraestruturas desenvolvidas</li>
                                    <li><input type="radio" name="q7" value="D" maxlength="1">Ausência de serviços públicos e comerciais</li>
                                    <li><input type="radio" name="q7" value="E" maxlength="1">Atividades econômicas relacionadas à agricultura e pecuária</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                     
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 8</h5>
                        <p class="card-text">Quais são os impactos do êxodo rural?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q8" value="A" maxlength="1">Aumento da população nas zonas rurais e diminuição nas zonas urbanas</li>
                                    <li><input type="radio" name="q8" value="B" maxlength="1">Transformação das atividades econômicas nas zonas rurais</li>
                                    <li><input type="radio" name="q8" value="C" maxlength="1">Aumento da oferta de serviços públicos e comerciais nas zonas urbanas</li>
                                    <li><input type="radio" name="q8" value="D" maxlength="1">Maior demanda por infraestruturas e serviços nas zonas urbanas</li>
                                    <li><input type="radio" name="q8" value="E" maxlength="1">Falta de oportunidades de estudo e emprego nas zonas rurais</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                                  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 9</h5>
                        <p class="card-text">Os municípios roraimenses coloridos no mapa abaixo são:</p>
                    
                        <div class="text-center">
                            <img src="/img/roraima_9.png" alt="Mapa de Roraima">
                        </div>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q9" value="A" maxlength="1">Bonfim, Cantá e Pacaraima</li>
                                    <li><input type="radio" name="q9" value="B" maxlength="1">Normandia, Uiramutã e Alto Alegre</li>
                                    <li><input type="radio" name="q9" value="C" maxlength="1">Amajari, Cantá e São Luiz</li>
                                    <li><input type="radio" name="q9" value="D" maxlength="1">Caracaraí, Mucajaí e Rorainópolis</li>
                                    <li><input type="radio" name="q9" value="E" maxlength="1">Iracema, Caroebe e São João da Baliza</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                        
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 10</h5>
                        <p class="card-text">No mapa abaixo, as cidades coloridas são:</p>
                    
                        <div class="text-center">
                            <img src="/img/roraima_10.png" alt="Mapa de cidades">
                        </div>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q10" value="A" maxlength="1">Uiramutã, Normandia e Pacaraima</li>
                                    <li><input type="radio" name="q10" value="B" maxlength="1">Amajari, Alto Alegre e Boa Vista</li>
                                    <li><input type="radio" name="q10" value="C" maxlength="1">Mucajaí, Caracaraí e Caroebe</li>
                                    <li><input type="radio" name="q10" value="D" maxlength="1">São João da Baliza, Iracema e São Luís</li>
                                    <li><input type="radio" name="q10" value="E" maxlength="1">Rorainópolis, Bonfim e Cantá</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 11</h5>
                        <p class="card-text">A cidade colorida no mapa abaixo é:</p>
                    
                        <div class="text-center">
                            <img src="/img/roraima_11.png" alt="Mapa com cidade colorida">
                        </div>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q11" value="A" maxlength="1">Uiramutã</li>
                                    <li><input type="radio" name="q11" value="B" maxlength="1">Normandia</li>
                                    <li><input type="radio" name="q11" value="C" maxlength="1">Pacaraima</li>
                                    <li><input type="radio" name="q11" value="D" maxlength="1">Amajari</li>
                                    <li><input type="radio" name="q11" value="E" maxlength="1">Boa Vista</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                              
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 12</h5>
                        <p class="card-text">São o menor e o maior municípios de Roraima (em extensão territorial), respectivamente:</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q12" value="A" maxlength="1">Normandia e Mucajaí</li>
                                    <li><input type="radio" name="q12" value="B" maxlength="1">São Luiz e Caracaraí</li>
                                    <li><input type="radio" name="q12" value="C" maxlength="1">Uiramutã e Boa Vista</li>
                                    <li><input type="radio" name="q12" value="D" maxlength="1">São João da Baliza e Cantá</li>
                                    <li><input type="radio" name="q12" value="E" maxlength="1">Alto Alegre e Caroebe</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 13</h5>
                        <p class="card-text">Na hierarquia urbana, as cidades desempenham diferentes papéis em termos de serviços, influência econômica e tamanho. Em Roraima, a cidade que assume o papel de maior influência, concentração de serviços e é considerada o centro urbano mais importante do estado é a capital. Qual é o município que se enquadra como a capital de Roraima, desempenhando o papel de maior destaque na hierarquia urbana?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q13" value="A" maxlength="1">Uiramutã</li>
                                    <li><input type="radio" name="q13" value="B" maxlength="1">Boa Vista</li>
                                    <li><input type="radio" name="q13" value="C" maxlength="1">São João da Baliza</li>
                                    <li><input type="radio" name="q13" value="D" maxlength="1">Cantá</li>
                                    <li><input type="radio" name="q13" value="E" maxlength="1">Normandia</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 14</h5>
                        <p class="card-text">Marque a alternativa que apresenta o nível **errado** de classificação dos municípios roraimenses abaixo em relação à hierarquia urbana:</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q14" value="A" maxlength="1">Boa Vista - Capital Regional C</li>
                                    <li><input type="radio" name="q14" value="B" maxlength="1">Cantá - Centro Local</li>
                                    <li><input type="radio" name="q14" value="C" maxlength="1">Alto Alegre - Centro Local</li>
                                    <li><input type="radio" name="q14" value="D" maxlength="1">Mucajaí - Centro Local</li>
                                    <li><input type="radio" name="q14" value="E" maxlength="1">Caracaraí - Centro Regional</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                                
                    </div>
                  </div>
                </div>
              </div>            

              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 15</h5>
                        <p class="card-text">Qual setor da economia lida diretamente com a natureza, incluindo atividades como agricultura e mineração?</p>
                    
                        <div class="form-group">
                            <div class="btn-group" >
                                <ol type="A">
                                    <li><input type="radio" name="q15" value="A" maxlength="1">Setor Secundário</li>
                                    <li><input type="radio" name="q15" value="B" maxlength="1">Setor Terciário</li>
                                    <li><input type="radio" name="q15" value="C" maxlength="1">Setor Quaternário</li>
                                    <li><input type="radio" name="q15" value="D" maxlength="1">Setor Primário</li>
                                    <li><input type="radio" name="q15" value="E" maxlength="1">Setor Cinco</li>
                                </ol>
                            </div>
                        </div>
                    </div>                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
   
            </div>
    
                    
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>