<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROFESSOR TONY COSTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/logo_pmbv.png" width="90" height="90" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">HISTÓRIA</div>
            <div class=" display-4 text-center">ATIVIDADE AVALIATIVA</div>
            <div class=" display-5 text-center">30 pontos</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/gabarito_historia3Bim" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>
   <% //CONTAINER DAS QUESTÕES %>
   <div class="container">
    <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-body">
                  <div class="container">
                      <h5 class="card-title">QUESTÃO 1</h5>
                      <p class="card-text">Por que é importante preservar as tradições e os conhecimentos das pessoas mais velhas?</p>
                      <div class="form-group">
                          <ol type="A">
                              <li><input type="radio" name="q1" value="A"> As tradições e os conhecimentos das pessoas mais velhas ajudam a transmitir os valores e os costumes de uma geração para outra, colaborando para a valorização da história e da cultura de um povo.</li>
                              <li><input type="radio" name="q1" value="B"> Para garantir que as tecnologias antigas não sejam esquecidas.</li>
                              <li><input type="radio" name="q1" value="C"> Para evitar a modernização e a mudança cultural.</li>
                              <li><input type="radio" name="q1" value="D"> Para garantir que as pessoas mais velhas se sintam valorizadas.</li>
                          </ol>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="text-center">
    <img class="img-fluid" src="/img/historia_linha_do_tempo.png" alt="">
  </div>
  <br>
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title">QUESTÃO 2</h5>
                    <p class="card-text">A linha do tempo acima mostra diferentes meios de comunicação. Qual deles é mais usado atualmente pelas pessoas?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q2" value="A"> smartphone</li>
                            <li><input type="radio" name="q2" value="B"> computador</li>
                            <li><input type="radio" name="q2" value="C"> telégrafo</li>
                            <li><input type="radio" name="q2" value="D"> carta</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="text-center">
  <img class="img-fluid" src="/img/historia_mapa_paises_lingua_portuguesa.png" alt="">
</div>
<br>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <p class="card-text">Segundo o mapa, em que países, além do Brasil, o português é falado?</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q3" value="A"> Espanha, Argentina, México e Colômbia</li>
                          <li><input type="radio" name="q3" value="B"> Estados Unidos, Canadá, Inglaterra e Austrália</li>
                          <li><input type="radio" name="q3" value="C"> Angola, Cabo Verde, Guiné-Bissau, Guiné Equatorial, Moçambique, Portugal, São Tomé e Príncipe e Timor-Leste</li>
                          <li><input type="radio" name="q3" value="D"> China, Japão, Coreia do Sul e Índia</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 4</h5>
                  <p class="card-text">Por que países tão distantes entre si e de culturas tão diferentes têm o português como língua oficial?</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q4" value="A"> Porque todos esses países participaram de um acordo linguístico.</li>
                          <li><input type="radio" name="q4" value="B"> Porque esses territórios e suas populações nativas foram colonizados pelos portugueses.</li>
                          <li><input type="radio" name="q4" value="C"> Porque o português é uma língua fácil de aprender.</li>
                          <li><input type="radio" name="q4" value="D"> Porque esses países têm uma grande população de descendentes de portugueses.</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="text-center">
  <img class="img-fluid" src="/img/historia_simbolos.png" alt="">
</div>
<br>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 5</h5>
                  <p class="card-text">Qual o significado dos símbolos acima?</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q5" value="A"> a) Paz b) Reciclagem c) Sem som/mudo d) Tóxico ou venenoso e) Acessibilidade f) Não jogar lixo no chão.</li>
                          <li><input type="radio" name="q5" value="B"> a) Acessibilidade b) Não jogar lixo no chão c) Sem som/mudo d) Tóxico ou venenoso e) Paz f) Reciclagem.</li>
                          <li><input type="radio" name="q5" value="C"> a) Reciclagem b) Paz c) Tóxico ou venenoso d) Sem som/mudo e) Não jogar lixo no chão f) Acessibilidade.</li>
                          <li><input type="radio" name="q5" value="D"> a) Sem som/mudo b) Tóxico ou venenoso c) Acessibilidade d) Não jogar lixo no chão e) Reciclagem f) Paz.</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="text-center">
  <img class="img-fluid" src="/img/historia_p102.png" alt="">
</div>
<br>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">Por que a descoberta da Pedra de Roseta foi importante para conhecer a sociedade dos antigos egípcios?</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q6" value="A"> Porque com a descoberta da Pedra de Roseta foi possível decifrar o significado dos hieroglifos.</li>
                          <li><input type="radio" name="q6" value="B"> Porque comprovou a existência de múltiplos deuses na religião egípcia.</li>
                          <li><input type="radio" name="q6" value="C"> Porque revelou a história de grandes faraós e suas conquistas.</li>
                          <li><input type="radio" name="q6" value="D"> Porque mostrou a importância do Rio Nilo para a sociedade egípcia.</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 7</h5>
                  <p class="card-text">Quantos sinais (letras) existem atualmente em nosso alfabeto?</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q7" value="A"> 24 letras</li>
                          <li><input type="radio" name="q7" value="B"> 28 letras</li>
                          <li><input type="radio" name="q7" value="C"> 26 letras</li>
                          <li><input type="radio" name="q7" value="D"> 30 letras</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="text-center">
  <img class="img-fluid" src="/img/historia_mulheres.png" alt="">
</div>
<br>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">Descreva as diferenças entre as mulheres representadas nas duas imagens.</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q8" value="A"> Ambas as imagens mostram mulheres em situações de trabalho, sem grandes diferenças nas vestimentas ou atividades.</li>
                          <li><input type="radio" name="q8" value="B"> A mulher branca (imagem da direita) de classe social mais privilegiada só saía de casa acompanhada. As negras escravizadas (imagem da esquerda) saiam sozinhas, tanto para buscar encomendas como para vender produtos como escravas de ganho. Podemos perceber diferenças também nas vestimentas.</li>
                          <li><input type="radio" name="q8" value="C"> As mulheres nas imagens estão realizando as mesmas atividades, mas em épocas diferentes, evidenciado pelo estilo de vestimenta.</li>
                          <li><input type="radio" name="q8" value="D"> As mulheres na imagem da esquerda estão em um ambiente de lazer, enquanto as mulheres na imagem da direita estão trabalhando.</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="text-center">
  <img class="img-fluid" src="/img/historia_corte_real.png" alt="">
</div>
<br>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 9</h5>
                  <p class="card-text">O que as pessoas retratadas estão fazendo?</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q9" value="A"> Estão em uma cerimônia de coroação de dom João VI.</li>
                          <li><input type="radio" name="q9" value="B"> Estão em fila para beijar a mão de dom João VI, que está sentado ao lado de sua esposa.</li>
                          <li><input type="radio" name="q9" value="C"> Estão participando de um baile real na presença de dom João VI e sua esposa.</li>
                          <li><input type="radio" name="q9" value="D"> Estão em uma reunião para discutir assuntos políticos do reino.</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <p class="card-text">Esse costume ainda existe?</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q10" value="A"> O beija-mão não é mais um costume na sociedade brasileira.</li>
                          <li><input type="radio" name="q10" value="B"> Sim, o beija-mão é um costume presente em cerimônias oficiais.</li>
                          <li><input type="radio" name="q10" value="C"> Sim, o beija-mão é um costume comum em eventos religiosos.</li>
                          <li><input type="radio" name="q10" value="D"> O beija-mão é praticado apenas em algumas regiões do Brasil.</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-body">
              <div class="container">
                  <h5 class="card-title">QUESTÃO 11</h5>
                  <p class="card-text">Como as pessoas se cumprimentam hoje em dia?</p>
                  <div class="form-group">
                      <ol type="A">
                          <li><input type="radio" name="q11" value="A"> As pessoas se cumprimentam apenas com um aceno de cabeça.</li>
                          <li><input type="radio" name="q11" value="B"> Dependendo do grau de intimidade, as pessoas podem trocar um aperto de mãos, abraçar-se ou beijar a face uma da outra.</li>
                          <li><input type="radio" name="q11" value="C"> As pessoas evitam se cumprimentar fisicamente, preferindo apenas dizer "olá".</li>
                          <li><input type="radio" name="q11" value="D"> O cumprimento é feito apenas verbalmente, sem contato físico.</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>

<div class="text-center">
  <img class="img-fluid" src="/img/historia_torre_quilombo.png" alt="">
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title">QUESTÃO 12</h5>
                    <p class="card-text">Quando foi feita a gravura?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q12" value="A"> 1500</li>
                            <li><input type="radio" name="q12" value="B"> 1800</li>
                            <li><input type="radio" name="q12" value="C"> 1900</li>
                            <li><input type="radio" name="q12" value="D"> 1647</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title">QUESTÃO 13</h5>
                    <p class="card-text">Descreva o que a gravura representa.</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q13" value="A"> A gravura representa uma cena de batalha com soldados e cavalos em um campo aberto.</li>
                            <li><input type="radio" name="q13" value="B"> Representa uma cena de colheita, com pessoas trabalhando no campo e carregando cestos de frutas.</li>
                            <li><input type="radio" name="q13" value="C"> O trabalho comunitário da pesca com rede executado por homens; a forma de se vestir desses homens; a área de floresta e montanhas, ao longe, no segundo plano, e uma torre de madeira, provavelmente para vigilância.</li>
                            <li><input type="radio" name="q13" value="D"> A gravura mostra uma cena de festa em uma vila, com pessoas dançando e tocando instrumentos musicais.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="text-center">
    <img class="img-fluid" src="/img/historia_p123.png" alt="">
  </div>
  <br>
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title">QUESTÃO 14</h5>
                    <p class="card-text">Que problemas ameaçam o Parque Indígena do Xingu e como eles estão afetando o modo de vida tradicional dos povos que vivem lá?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q14" value="A"> Desmatamento e queimadas para a formação de lavouras e pastagens, poluição e construção de represas.</li>
                            <li><input type="radio" name="q14" value="B"> Invasão de terras por mineradoras e madeireiras, e a introdução de doenças por não indígenas.</li>
                            <li><input type="radio" name="q14" value="C"> Caça e pesca ilegal, e a introdução de espécies exóticas que afetam o ecossistema local.</li>
                            <li><input type="radio" name="q14" value="D"> Turismo descontrolado e a construção de estradas que atravessam o território indígena.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h5 class="card-title">QUESTÃO 15</h5>
                    <p class="card-text">Como os indígenas do Xingu procuram combater os problemas que os ameaçam?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q15" value="A"> Eles buscam ajuda internacional para pressionar o governo a agir em sua defesa.</li>
                            <li><input type="radio" name="q15" value="B"> Eles fazem expedições para fiscalizar as fronteiras do parque e impedir invasões, além de organizar manifestações contra a construção de barragens.</li>
                            <li><input type="radio" name="q15" value="C"> Eles se armam para defender seu território contra invasores e caçadores ilegais.</li>
                            <li><input type="radio" name="q15" value="D"> Eles procuram se integrar à sociedade não indígena para ganhar apoio político e social.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

    
   </div>
    <% //Botões %>                
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
        </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>