<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <img class="img-fluid rounded float-left" src="/img/logo_pmbv.png" alt="">
                <h3 class="display-5">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</h3>
            </header>
            <h1 class="display-1 text-center">5º ANO A</h1>
        </div>
        <br>
        <br>
        <div class="container-sm">
            <div class="row">
                <div class="col-6">
                    <table class="table table-primary">
                        <tbody>
                            <tr>
                                <td><h1 class="display-5 text-center">TESTES DE LEITURA</h1></td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-fluid" src="/img/thumb-testes.png" alt=""></td>
                            </tr>
                            <tr>
                                <td class="text-center"><a href="/testes" class="btn btn-primary">PÁGINA DE TESTES</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-primary">
                        <tbody>
                            <tr>
                                <td><h1 class="display-5 text-center">MEU SAEB DIGITAL</h1></td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-fluid" src="/img/logo-meu-saeb.png" alt=""></td>
                            </tr>
                            <tr>
                                <td class="text-center"><a href="/meu-saeb" class="btn btn-primary">IR PARA AS ATIVIDADES</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <table class="table table-primary">
                        <tbody>
                            <tr>
                                <td><h1 class="display-5 text-center">LEITURAS PARA O E.F.</h1></td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-fluid" src="/img/thumb-leituras.png" alt=""></td>
                            </tr>
                            <tr>
                                <td class="text-center"><a href="/leituras" class="btn btn-primary">LEIA OS LIVROS</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-primary">
                        <tbody>
                            <tr>
                                <td><h1 class="display-5 text-center">TRABALHOS</h1></td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-fluid" src="/img/thumb-trabalhos.png" alt=""></td>
                            </tr>
                            <tr>
                                <td class="text-center"><a href="/trabalhos" class="btn btn-primary">IR PARA A PÁGINA DOS TRABALHOS</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <table class="table table-primary">
                        <tbody>
                            <tr>
                                <td><h1 class="display-5 text-center">SIMULADOS</h1></td>
                            </tr>
                            <tr>
                                <td class="text-center"><img class="img-fluid" src="/img/thumb-simulados.png" alt=""></td>
                            </tr>
                            <tr>
                                <td class="text-center"><a href="/simulados" class="btn btn-primary">ACESSE AS PÁGINAS DOS SIMULADOS</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
     
                </div>
            </div>
        </div>

        <br>
        <br>
  
    <br>
    <br>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>