<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header class="d-flex align-items-md-center bg-primary">
                <img class="img-fluid rounded float-left" src="/img/logo_pmbv.png" alt="">
                <h3>ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</h3>
            </header>
            <div class="h1 text-center" id="turma">5º ANO A</div>
        </div>

        <br>
        <br>

        <div class="container">
          <div class="row">
            <div class="col-4">              
                <div class="card">
                    <img class="card-img-bottom" src="/img/texto-estacoes-do-ano-teste-de-leitura-julho.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-header">
                            LEITURA COM TEMPORIZADOR
                        </div>
                    <h5 class="card-title text-center">Teste de leitura do mês de julho</h5>
                    <p class="card-text">Você vai ler o texto AS ESTAÇÕES DO ANO da lição 7 do livro D. Utilize o temporizador para lhe ajudar no treinamento. Lembre-se o objetivo é a leitura em, no mínino, <b>130 palavras</b> em 1 minuto.</p>
                    <a href="http://201.51.209.54:1518" class="btn btn-primary">IR PARA O TESTE</a>
                    </div>
                </div>
            </div>

            <div class="col-4">              
                <div class="card">
                    <img class="card-img-bottom" src="/img/meu-saeb-miniatura.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-header">
                           ATIVIDADES MEU SAEB DIGITAL
                        </div>
                    <h5 class="card-title text-center">Meu SAEB Digital</h5>
                    <p class="card-text">Você tem acesso à todas as atividades que fizemos em sala. Você pode fazer e refazer quantas vezes quiser.</p>
                    <a href="http://201.51.209.54:1516" class="btn btn-primary">IR PARA AS ATIVIDADES</a>
                    </div>
                </div>
            </div>

            <div class="col-4">              
                <div class="card">
                    <img class="card-img-bottom" src="/img/trabalho-his-geo-bim2-miniatura.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-header">
                            HISTÓRIA E GEOGRAFIA
                        </div>
                    <h5 class="card-title text-center">Trabalhos do 2º bimestre</h5>
                    <p class="card-text">Os trabalhos de história e geografia para você revisar e ainda o teste de leitura de junho.</p>
                    <a href="http://201.51.209.54:1517" class="btn btn-primary">ACESSAR OS TRABALHOS</a>
                    </div>
                </div>
            </div>
            
          </div>            
        </div>

        <br>
        <br>

       

        <div class="container">
            <footer class="d-flex align-items-md-center bg-primary">
                <div class="lead">PROFESSOR TONY COSTA</div>
            </footer>
        </div>
    <br>
    <br>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>