<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leituras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <h1>LEITURAS PARA O ENSINO FUNDAMENTAL</h1>
            </header>
        </div>
        <br>
        <div class="container-sm">
            <div class="row">

                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">A VIAGEM DE VOLTA</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\a-viagem"><img class="img-fluid" src="/img/thumb-a-viagem.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>
                
                </div>
            </div>

       
        </div>
        <br>
        <br>

        
    
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>