<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-fluid bg-primary">
            <%- include('partials/nav_principal.ejs') %>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-light">
                        <tr>
                            <td>
                               <h4>ATIVIDADES</h4>
                            </td>

                        </tr>
                        <tr>
                          <td>
                            <div class="text-center">
                                <a class="btn btn-primary" href="http://201.51.209.54:3000"><img class="img-fluid" src="/img/Design sem nome.png" alt="" width="500" height="500"></a></td>
                               </div>
                          </td>
                        </tr>
                        
                    </table>
                    
                </div>
            </div>
        </div>

     


        <div class="container-sm">
            <%- include('partials/footer.ejs') %>
        </div>
    <br>
    <br>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>