<!DOCTYPE html>
<html>
<head>
    <title>Tabela de Multiplicação</title>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <h1 class="h1 text-center">TABUADA</h1>
        <table class="table text-center" id="tabelaMultiplicacao">
            <tr>
                <th>x</th> <!-- Cabeçalho vazio para a esquina superior esquerda da tabela -->
                <!-- Cabeçalhos para os números de 1 a 10 -->
                <th>x1</th>
                <th>x2</th>
                <th>x3</th>
                <th>x4</th>
                <th>x5</th>
                <th>x6</th>
                <th>x7</th>
                <th>x8</th>
                <th>x9</th>
                <th>x10</th>
            </tr>
            <!-- As linhas e células serão geradas pelo JavaScript -->
        </table>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
