<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PRIMEIRO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">PRIMEIRO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/gabarito_primeiro_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

              <div class="container">
                <div class="row">
                  <div class="card">

                  </div>
                </div>
              </div>
                
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1</h5>
                        <div class="text-center"><img class="img-fluid" src="/img/texto_peixinho.png" alt=""></div>
                        <p class="card-text">Nesse texto, o morcego e a coruja são considerados “peixinhos fora d’água” porque</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1"> Fazem as coisas durante o dia.</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1"> Nadam fora d’água.</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1"> Têm hábitos noturnos.</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1"> Vivem em países diferentes.</li>
                            </ol>
                        </div>
                    </div>
                                                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2</h5>
                        <p class="card-text">(SPAECE). Leia os textos abaixo.</p>
                        <p class="card-text"><strong>Texto 1</strong></p>
                        <p class="card-text">Mundo cão I</p>
                        <p class="card-text">Gostaria de parabenizar a repórter Fátima Sá pela excelente reportagem sobre a exposição de cães e agradecê-la pela linda capa da revista. Simplesmente você fez o meu domingo ser um dos domingos mais alegres da minha vida! O máximo! As fotos ficaram ótimas, e você conseguiu de forma bem objetiva explicar o que acontece nas exposições.</p>
                        <p class="card-text">Fabiana Perrone , Rio de Janeiro , RJ</p>
                        <p class="card-text"><strong>Texto 2</strong></p>
                        <p class="card-text">Mundo cão II</p>
                        <p class="card-text">A capa da revista foi um soco no meu estômago. O conteúdo da reportagem é chocante. Como é que pessoas, em nome da futilidade e da ganância, submetem os pobres animais a terríveis torturas! Pobre daquele poodle, com aquela montanha de pelos repuxados, que sofrimento. Esses animais não devem poder beber nem comer durante essas torturas, pois na certa estragariam a festa de seus donos, ávidos pelos prêmios.</p>
                        <p class="card-text">Neusa Rego, Rio de Janeiro, RJ</p>
                        <p class="card-text">Revista O Globo. Ano 5, nº 255. 14 jun de 2009.</p>
                        <p class="card-text">Ao comparar esses textos, evidenciam-se</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1"> Opiniões embasadas teoricamente.</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1"> Pontos de vista contraditórios.</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1"> Posturas reflexivas e profundas.</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1"> Traços de ironia e deboche.</li>
                            </ol>
                        </div>
                    </div>
                                                           
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3</h5>
                        <p class="card-text">(Prova Brasil). Leia o texto abaixo.</p>
                        <p class="card-text">Poluição do solo</p>
                        <p class="card-text">É na camada mais externa da superfície terrestre, chamada solo, que se desenvolvem os vegetais. Quando o solo é contaminado, tanto os cursos subterrâneos de água como as plantas podem ser envenenadas.</p>
                        <p class="card-text">Os principais poluentes do solo são os produtos químicos usados na agricultura. Eles servem para destruir pragas e ervas daninhas, mas também causam sérios estragos ambientais.</p>
                        <p class="card-text">O lixo produzido pelas fábricas e residências também pode poluir o solo. Baterias e pilhas jogadas no lixo, por exemplo, liberam líquidos tóxicos e corrosivos. Nos aterros, onde o lixo das cidades é despejado, a decomposição da matéria orgânica gera um líquido escuro e de mau cheiro chamado chorume, que penetra no solo e contamina mesmo os cursos de água que passam bem abaixo da superfície.</p>
                        <p class="card-text">{...}</p>
                        <p class="card-text">Almanaque Recreio. São Paulo: Abril. lmanaques CDD_056-9. 2003.</p>
                        <p class="card-text">No trecho “ <b>É na camada mais externa da superfície terrestre</b> ” (ℓ.1), a expressão destacada indica:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1"> Causa.</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1"> Finalidade.</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1"> Lugar.</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1"> Tempo.</li>
                            </ol>
                        </div>
                    </div>
                    
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4</h5>
                        <p class="card-text">(PROEB). Leia o texto abaixo.</p>
                        <p class="card-text">Presentes incríveis</p>
                        <p class="card-text texto_paragrafo">O príncipe Potemkim, da Rússia, quis oferecer um presente à rainha Catarina, a Grande. Deu a ela um enorme elefante (de mentira, é claro) cravejado de pedras preciosas. De dentro dele saía um balé completo para distrair a rainha. Anos depois, Catarina quis se livrar de um outro namorado, o conde Orloff, e deu a ele 17 milhões de rublos (moeda russa), um palácio de mármore e 15 mil escravos.</p>
                        <p class="card-text">Almanaque Ruth Rocha.p.15</p>
                        <p class="card-text">Rublo é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1"> Uma moeda.</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1"> Uma pedra.</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1"> Um elefante.</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1"> Um palácio.</li>
                            </ol>
                        </div>
                    </div>
                    
   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5</h5>
                        <h5 class="card-title">JEGUE EMPACADO</h5>
                        <p class="card-text texto_paragrafo">Numa estrada do sertão nordestino, o jegue de Severino empaca e não há nada que faça o bicho se mexer. Nisso, aparece um veterinário em visita a uma das fazendas da região, que se compadece da situação de Severino, abre a sua maletinha, tira uma seringa e dá uma injeção no jegue que sai chispando a toda velocidade.</p>
                        <p class="card-text texto_paragrafo">Admirado, Severino vira-se para o doutor e pergunta:</p>
                        <p class="card-text texto_paragrafo">— Quanto custa essa injeção?</p>
                        <p class="card-text texto_paragrafo">— Cinco Reais!</p>
                        <p class="card-text texto_paragrafo">— Ó, xente! Então vai rápido e me dê logo duas, que eu tenho de alcançar esse jegue!</p>
                        <p class="card-text">Fonte: <a href="http://piadas-engracadas.blogspot.com">http://piadas-engracadas.blogspot.com</a></p>
                        <p class="card-text">O segmento do texto que indica uma fala típica de um nordestino é:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1"> “Cinco Reais!”</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1"> “aparece um veterinário.”</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1"> “o jegue de Severino empaca.”</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1"> “Ó, xente!”</li>
                            </ol>
                        </div>
                    </div>
                                              
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 6</h5>
                        <p class="card-title">Como é produzido o giz de lousa?</p>
                        <p class="card-text texto_paragrafo">Ele é feito a partir da mistura de gesso e água. Para se obter giz colorido, adiciona-se tinta à mistura. Essa massa é colocada em moldes que dão forma ao giz.</p>
                        <p class="card-text texto_paragrafo">Após alguns minutos, ele endurece e é retirado para passar pelo processo de secagem, que pode ser feito ao sol ou em máquinas especiais. Depois, o giz é embalado e está pronto para ser vendido.</p>
                        <p class="card-text">CRISTIANINI, Maria Carolina. Recreio, São Paulo: Abril, ano 9, n. 464, 29 jan. 2009.</p>
                        <p class="card-text">O objetivo desse texto é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1"> Informar.</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1"> Advertir.</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1"> Orientar.</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1"> Vender.</li>
                            </ol>
                        </div>
                    </div>
                    
                    

                    
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 7</h5>
                        <p class="card-text">Leia os textos abaixo:</p>
                    
                        <p class="card-text"><strong>Texto 1</strong></p>
                        <p class="card-text">A água é um bem ambiental indispensável às necessidades humanas básicas (como a saúde e produção de alimentos) e ao desenvolvimento de atividades humanas, nomeadamente a agricultura, tendo influência decisiva na qualidade de vida das populações e na manutenção de ecossistemas.</p>
                    
                        <p class="card-text"><strong>Texto 2</strong></p>
                        <p class="card-text">A água contaminada (com elevada carga orgânica e agentes microbiológicos – bactérias e vírus), o saneamento inadequado e a falta de condições de higiene são apontados como responsáveis por mais de 80% das doenças dos países em desenvolvimento (como gastroentrites, hepatites, febres tifoides e cólera), pela morte de cerca de 6000 crianças por dia, assim como pela degradação da paisagem e perturbação dos ecossistemas.</p>
                        <p class="card-text">Disponíveis em: <a href="http://www.confagri.pt/ambiente/areas-tematicas/agua/texto-sintese/antecedentes">http://www.confagri.pt/ambiente/areas-tematicas/agua/texto-sintese/antecedentes</a>. Fragmentos. Acesso em: 09 abr. 2010.*Adaptado: Reforma Ortográfica.</p>
                    
                        <p class="card-text">Esses textos falam sobre</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1"> a influência da água no ecossistema.</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1"> a morte de crianças.</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1"> as doenças transmitidas pela água.</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1"> a utilidade da água.</li>
                            </ol>
                        </div>
                    </div>
                    
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                       <div class="container">
                          <h5 class="card-title">Questão 8</h5>
                          <p class="card-title"><em>Tal mãe, tal filha</em></p>
                          <p class="card-text">Minha mãe diz que trovejo,</p>
                          <p class="card-text">Solto ventos e relâmpagos.</p>
                          <p class="card-text">Despenco tempestades</p>
                          <p class="card-text">Por uma coisinha de nada,</p>
                          <p class="card-text">Por uma besteirinha qualquer.</p>
                          <p class="card-text">Quando ela entra numa guerra,</p>
                          <p class="card-text">Numa tempestade em copo d’água,</p>
                          <p class="card-text">Com todo o seu lado de fera,</p>
                          <p class="card-text">Fico com vontade de perguntar:</p>
                          <p class="card-text">Pra quem será que eu puxei?</p>
                          <p class="card-text">JOSÉ, Elias. Cantigas de adolescer. ed. Atual, 1992. p. 24.</p>
                          <p class="card-text">No trecho “Quando ela entra numa guerra,” o pronome <em>ela</em> se refere à</p>
                          <div class="form-group">
                              <ol type="A">
                                  <li><input type="radio" name="q8" value="A" maxlength="1"> filha.</li>
                                  <li><input type="radio" name="q8" value="B" maxlength="1"> guerra.</li>
                                  <li><input type="radio" name="q8" value="C" maxlength="1"> mãe.</li>
                                  <li><input type="radio" name="q8" value="D" maxlength="1"> tempestade.</li>
                              </ol>
                          </div>
                      </div>    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
<div class="container">
    <h5 class="card-title">Questão 9</h5>
    <div class="text-center"><img src="/img/simulado1/lp_9.png" alt="Quadrinho da Mafalda"></div>
    <p class="card-text">A expressão de Mafalda, no último quadrinho, revela:</p>
    <div class="form-group">
        <ol type="A">
            <li><input type="radio" name="q9" value="A" maxlength="1"> Satisfação.</li>
            <li><input type="radio" name="q9" value="B" maxlength="1"> Aborrecimento.</li>
            <li><input type="radio" name="q9" value="C" maxlength="1"> Alegria.</li>
            <li><input type="radio" name="q9" value="D" maxlength="1"> Realização.</li>
        </ol>
    </div>
</div>

                        
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
    <h5 class="card-title">Questão 10</h5>
    <p class="card-text">Leia o texto abaixo:</p>
    <p class="texto_paragrafo">
        Diretor de musicais critica ‘espetaculozinhos oportunistas’
        O teatro infantil não é dividido em megaproduções com personagens de TV e pequenas peças ligadas a clássicos de Literatura. Boa fatia é abocanhada por grandes musicais. Amanhã, estréia do show “Hi-5”, entra em cartaz “Mágico de Oz”.
        É o mesmo lançado em 2003 e visto por 1,5 milhão. Billy Bond, diretor deste musical e de outros bem-sucedidos (“Les Misérables”, “A Bela e a Fera”) não quer se misturar a “espetaculozinhos oportunistas baseados em sucessos da TV”. “Não é um bonequinho da moda, é um clássico que passa mensagem e não só proporciona ao público um momentozinho”, dispara.
        A psicóloga e colunista da Folha Rosely Sayão diz que, se os pais tiverem de optar entre um show da TV ou um clássico, o segundo é melhor. “Mas shows ligados à TV também podem ser bons porque a criança sabe o enredo e se liga na apresentação.
        O importante é criar o hábito de ir ao teatro” (LM).
    </p>
    <br>
    <p>O tema central da reportagem é:</p>
    <div class="form-group">
        <ol type="A">
            <li><input type="radio" name="q10" value="A" maxlength="1"> Não existe relação entre teatro e cultura.</li>
            <li><input type="radio" name="q10" value="B" maxlength="1"> Defesa de apresentação de clássicos da literatura nos espetáculos infantis.</li>
            <li><input type="radio" name="q10" value="C" maxlength="1"> A defesa de shows como “Hi-5”.</li>
            <li><input type="radio" name="q10" value="D" maxlength="1"> Teatros infantis baseados em personagens de TV são mais indicados para o público infantil.</li>
        </ol>
    </div>
</div>

   
                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
    <h5 class="card-title">Questão 11</h5>
    <div class="text-center"><img src="/img/simulado1/lp_11.png" alt="Tirinha"></div>
    <p class="card-text">A expressão “vou matar dois coelhos com uma só cajadada!” indica que o menino conseguiu</p>
    <div class="form-group">
        <ol type="A">
            <li><input type="radio" name="q11" value="A" maxlength="1"> deixar a mãe tranquila.</li>
            <li><input type="radio" name="q11" value="B" maxlength="1"> desobedecer às ordens da mãe.</li>
            <li><input type="radio" name="q11" value="C" maxlength="1"> fugir do banho no chuveiro.</li>
            <li><input type="radio" name="q11" value="D" maxlength="1"> tomar banho e brincar.</li>
        </ol>
    </div>
</div>


                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
    <h5 class="card-title">Questão 12</h5>
<div class="text-center"><img src="/img/simulado1/lp_12.png" alt="Tirinha"></div>    <p class="card-text">De acordo com esse texto, o que acordou o menino?</p>
    <div class="form-group">
        <ol type="A">
            <li><input type="radio" name="q12" value="A" maxlength="1"> O barulho de um gato na lata de lixo.</li>
            <li><input type="radio" name="q12" value="B" maxlength="1"> O barulho que a cama estava fazendo.</li>
            <li><input type="radio" name="q12" value="C" maxlength="1"> O medo do bicho-papão de seu sonho.</li>
            <li><input type="radio" name="q12" value="D" maxlength="1"> O ronco do seu pai no quarto ao lado.</li>
        </ol>
    </div>
</div>


                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 13</h5>
                        <p class="card-text">Leia o texto:</p>
                        <p>
                            JOÃOZINHO chega à escola e a professora pergunta:<br>
                            — Numa árvore havia três passarinhos, deram um tiro na árvore e ele acertou um passarinho, quantos ficaram?<br>
                            — Ficou apenas um passarinho.<br>
                            — Por que um Joãozinho? — a professora pergunta.<br>
                            — Só o que morreu... Os outros fugiram né!
                        </p>
                        <p>No trecho “Os outros fugiram <b>né</b>!” (Linha.7), a palavra destacada é um exemplo de linguagem</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q13" value="A" maxlength="1"> ensinada na escola.</li>
                                <li><input type="radio" name="q13" value="B" maxlength="1"> empregada com colegas.</li>
                                <li><input type="radio" name="q13" value="C" maxlength="1"> encontrada nos livros técnicos.</li>
                                <li><input type="radio" name="q13" value="D" maxlength="1"> estudada nas gramáticas.</li>
                            </ol>
                        </div>
                    </div>
                                                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 14</h5>
                        <p class="card-text">LEIA O TEXTO</p>
                        <p class="texto_paragrafo">
                            SOBRE BOLINHOS DE CHUVA, PIPOCA E COMO OS SERES VIVOS SE TRANSFORMAM EM FÓSSEIS (Fragmento)<br><br>
                            No final da tarde de hoje, após longos dias de muito calor, veio a chuva. De início, apenas algumas grandes gotas, que, ao baterem no chão quente, viraram vapor. Em seguida, o barulho forte de pingos e mais pingos, que, repentinamente, transformaram o céu numa grande cachoeira esbranquiçada. Como veio, a chuva se foi. A água escoou, infiltrou-se pela terra e tudo voltou devagarzinho à sua rotina.<br>
                            Gosto da chuva. Desta chuva que vem depressa, refresca o ar, molha as plantas, e, quando nos pega no meio do caminho, deixa-nos encharcados. Ela traz lembranças de coisas boas, como uma casa acolhedora, bolinhos de chuva, pipoca e um passar mais lento do dia.
                        </p>
                        <br>
                        <br>
                        <p>O trecho que expressa a opinião do narrador é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q14" value="A" maxlength="1"> “Como veio, a chuva se foi”</li>
                                <li><input type="radio" name="q14" value="B" maxlength="1"> “O barulho forte dos pingos”</li>
                                <li><input type="radio" name="q14" value="C" maxlength="1"> “Gosto da chuva”</li>
                                <li><input type="radio" name="q14" value="D" maxlength="1"> “Viram vapor”</li>
                            </ol>
                        </div>
                    </div>
                    
               
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 15</h5>
                        <p class="card-text">POR QUE BATATA FRITA ENGORDA</p>
                        <p class="texto_paragrafo">A batata é um vegetal importante, pois tem carboidratos e vitamina A. No caso da batata frita, o que engorda é o óleo da fritura. Para se ter uma ideia, uma porção de batatas fritas de 100 gramas tem cerca de 274 calorias, enquanto uma porção de batata cozida tem só 68 calorias. Outros vegetais, se forem servidos fritos, também engordam.</p>
                        <p>Fonte: Revista Recreio, fevereiro de 2007. *Adaptado: Reforma Ortográfica.</p>
                        <p>O assunto desse texto é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q15" value="A" maxlength="1"> a importância da batata na alimentação.</li>
                                <li><input type="radio" name="q15" value="B" maxlength="1"> a receita de alimentos cozidos e calóricos.</li>
                                <li><input type="radio" name="q15" value="C" maxlength="1"> o motivo pelo qual batata frita engorda.</li>
                                <li><input type="radio" name="q15" value="D" maxlength="1"> o peso de uma porção de batatas fritas.</li>
                            </ol>
                        </div>
                    </div>
                                          
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 16</h5>
                        <p class="card-text">A LENDA DO DIAMANTE</p>
                        <p class="texto_paragrafo">Antes, muito antes do ano de 1500, o Brasil chamava-se Pindorama e vivia à sombra de mil palmeiras.
                        Foi nessa época que o índio Oiti, valente entre os mais valentes, se despediu de Potira, sua esposa, e desceu o rio para dar combate a uma tribo inimiga.
                        Doze luas passaram-se sem que o moço guerreiro voltasse.
                        E quando lhe veio a certeza de que não o veria mais, Potira, chorou de saudades.
                        Suas lágrimas misturaram-se com a areia da praia, e Tupã transformou-as em diamantes.
                        E aí está a origem dessa pedra preciosa. Proveio de lágrimas de amor.</p>
                        <p>STARLING, Nair. Nossas Lendas. Rio de Janeiro: Francisco Alves, 1968.</p>
                        <p>De acordo com esse texto, os indígenas marcavam o tempo por meio</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q16" value="A" maxlength="1"> da areia.</li>
                                <li><input type="radio" name="q16" value="B" maxlength="1"> da lua.</li>
                                <li><input type="radio" name="q16" value="C" maxlength="1"> do diamante.</li>
                                <li><input type="radio" name="q16" value="D" maxlength="1"> do sol.</li>
                            </ol>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 17</h5>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado1/lp_17.png" alt=""></div>
                        <p>No trecho “<b>Enquanto</b> isso, tenha um bom dia”, a palavra destacada indica</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q17" value="A" maxlength="1"> condição.</li>
                                <li><input type="radio" name="q17" value="B" maxlength="1"> lugar.</li>
                                <li><input type="radio" name="q17" value="C" maxlength="1"> proporção.</li>
                                <li><input type="radio" name="q17" value="D" maxlength="1"> tempo.</li>
                            </ol>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">                   
                      <div class="container">
                        <h5 class="card-title">Questão 18</h5>
                        <p class="card-text">Texto I</p>
                        <p>Manual de etiqueta sustentável</p>
                        <p>50 Dicas para enfrentar o aquecimento global e outros desafios da atualidade.</p>
                        <p>“Passe adiante este manual. Discuta-o com os amigos, vizinhos, o pessoal do prédio.</p>
                        <p>Dissiminar as práticas aqui sugeridas é uma atitude sustentável. Depois de lido e discutido, recicle a revista. Ou faça origamis, calço de mesa. Aproveite o embalo para ajudar uma ONG. Melhor: invente sua própria ONG e cobre ações de seus representantes.</p>
                        <p>O futuro a gente faz agora”.</p>
                        <p>Fonte:  http://planetasustentavel.abril.com.br/cartilha/</p>
                        <p>Texto II</p>
                        <p>“Nossas idéias comprometidas com o bem comum, são como sementes. Se as guardamos, nunca darão frutos. Se as distribuímos, estamos possibilitando que os outros as plantem e colham os frutos de um novo mundo, melhor e possível.”</p>
                        <p>Beatriz Dornelas</p>
                        <p>Fonte: http://noticias.ambientebrasil.com.br/noticia/?id=21414</p>
                        <p>Os textos lidos tratam do mesmo assunto. Sobre o que eles falam:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q18" value="A" maxlength="1"> A necessidade de plantar árvores.</li>
                                <li><input type="radio" name="q18" value="B" maxlength="1"> A valorização da conversa entre os amigos.</li>
                                <li><input type="radio" name="q18" value="C" maxlength="1"> Os cuidados que devemos ter ao plantar e colher.</li>
                                <li><input type="radio" name="q18" value="D" maxlength="1"> A importância de partilhar idéias e práticas visando o bem comum.</li>
                            </ol>
                        </div>
                    </div>
                    
                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 19</h5>
                        <p class="card-text">A passeata da Emília</p>
                        <p>– Dona Dora, aqui é a diretora da escola da Emília.</p>
                        <p>– Ai, meu Deus! O que foi que a minha filha aprontou?!</p>
                        <p>– Calma. Dona Dora, ela não aprontou nada muuuiiito grave! Ela é uma das melhores alunas da classe.</p>
                        <p>– Então o que aconteceu? Ela se machucou?</p>
                        <p>– Não, Dona Dora. Ela... eu explico. É que ela começou uma passeata aqui na escola, ela está reivindicando aula nas férias de julho e de fim de ano!</p>
                        <p>– O quê?! A Emília quer ter aula nas férias também?</p>
                        <p>– Pois é! Ela até já convenceu alguns coleguinhas! Estão começando uma passeata. Será que a senhora poderia vir aqui?</p>
                        <p>Meia hora depois:</p>
                        <p>– Emília, minha filha! Emília...</p>
                        <p>– Queremos aula nas férias! Queremos aula nas férias! Mãe, tô ocupada! Não tá vendo?</p>
                        <p>– Me obedece, hein?! Senão vou tomar uma providência.</p>
                        <p>– Mãe, tô ocupada! Queremos aula nas férias! Queremos...</p>
                        <p>– Foi você quem pediu. (Cócegas). Acorda já! (Mais cócegas.) Vamos, acorda menina!</p>
                        <p>– Para, manhê. Hã! Eu tava sonhando?!</p>
                        <p>– Estava, e no primeiro dia de férias! A Aninha e a Juju estão te esperando para brincar. Vamos, levanta.</p>
                        <p>– Aula nas férias?! Nem em sonho!</p>
                        <p>YAMASHITA, Tereza; BRÁS, Luis. Dias Incríveis. São Paulo: Callis, 2006. p. 19. * Adaptado: Reforma Ortográfica.</p>
                        <p>(Nesse texto, uma das frases ditas por Emília foi:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q19" value="A" maxlength="1"> “– Ai, meu Deus!”. ( . 3)</li>
                                <li><input type="radio" name="q19" value="B" maxlength="1"> “– Emília, minha filha!”. ( . 18)</li>
                                <li><input type="radio" name="q19" value="C" maxlength="1"> “– Mãe, tô ocupada!”. ( . 23)</li>
                                <li><input type="radio" name="q19" value="D" maxlength="1"> “– Me obedece, hein?!”. ( . 21)</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 20</h5>
                        <p class="card-text">O pastor e seus carneiros</p>
                        <p>Um pastor levou seus carneiros para uma floresta de carvalhos. Sob uma enorme árvore cheia de frutos, ele estendeu seu casaco. Depois subiu para sacudi-la e assim os frutos cairiam. Mas os carneiros comeram indistintamente as bolotas e o casaco. Quando desceu, vendo o que tinha acontecido, o pastor exclamou:</p>
                        <p>― Suas bestas, aos outros vocês dão sua lã para abrigá-los, a mim que lhes dou o sustento, vocês destroem até o casaco!</p>
                        <p>Muita gente, sem se dar conta, serve a desconhecidos e faz mal aos que lhes são próximos.</p>
                        <p>(ESOPO 550 a.C. Fabulas de Esopo. Trad. Antonio Carlos Vianna. Porto Alegre: L&PM, 1997. p.157.)</p>
                        <p>O texto “O pastor e seus carneiros” é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q20" value="A" maxlength="1"> uma carta contando o que os carneiros fizeram com o casaco.</li>
                                <li><input type="radio" name="q20" value="B" maxlength="1"> uma fábula que ensina uma lição de moral a partir de um fato.</li>
                                <li><input type="radio" name="q20" value="C" maxlength="1"> uma notícia de um fato que ocorreu com o pastor.</li>
                                <li><input type="radio" name="q20" value="D" maxlength="1"> um poema sobre a vida do pastor e seus carneiros.</li>
                            </ol>
                        </div>
                    </div>
                    
                                                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 21</h5>
                        <p class="card-text">O colecionador de borboletas</p>
                        <p>Era uma vez um homem que morava numa torre muito alta, no meio de uma floresta, longe de qualquer outra casa.</p>
                        <p>Da sua torre, em dias muito claros, ele podia avistar a cidade vizinha, cheia de casas e pessoas.</p>
                        <p>Se olhasse para baixo, podia ver as copas das árvores... Mas ele nunca pensava em árvores, nem em pessoas. Seu pensamento estava sempre voltado para uma só coisa... borboletas.</p>
                        <p>Sempre à procura de novos espécimes, a única coisa que o interessava era apanhar sua rede e aventurar-se no coração do bosque solitário.</p>
                        <p>TESTA, Fúlvio. O colecionador de borboletas. São Paulo: Melhoramentos, 1978. Fragmento.</p>
                        <p>O homem morava</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q21" value="A" maxlength="1"> na cidade.</li>
                                <li><input type="radio" name="q21" value="B" maxlength="1"> na fazenda.</li>
                                <li><input type="radio" name="q21" value="C" maxlength="1"> na floresta.</li>
                                <li><input type="radio" name="q21" value="D" maxlength="1"> no parque.</li>
                            </ol>
                        </div>
                    </div>
                    
                                                                       
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 22</h5>
                        <p class="card-text">POR QUE NUNCA PARAMOS DE PENSAR?</p>
                        <p>Porque o cérebro está sempre ligado. Não para nem mesmo quando adormecemos. Durante o sono, ele apenas funciona de um modo diferente, em outro tipo de processamento. Quando dormimos, as memórias são passadas a limpo e várias alterações neuronais são consolidadas conforme as experiências recentes. Durante o período de sono profundo, é verdade, não há um pensamento consciente, mas isso não significa que o cérebro não esteja ativo. Nos sonhos ocorre intensa atividade mental – inconsciente, segundo a psicanálise. Mesmo que você não esteja a par do sonho, o seu “eu” onírico sabe muito bem o que está se passando.</p>
                        <p>(Superinteressante, ed. 311, ano 26, nº 12. Disponível em: http://super.abril.com.br/cerebro/por-que-nunca-paramos-de-pensar. Acesso em: 21 maio 2006.)</p>
                        <p>Segundo o texto, durante o sono</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q22" value="A" maxlength="1"> o cérebro não funciona.</li>
                                <li><input type="radio" name="q22" value="B" maxlength="1"> as memórias são apagadas.</li>
                                <li><input type="radio" name="q22" value="C" maxlength="1"> o cérebro não faz nenhum tipo de processamento.</li>
                                <li><input type="radio" name="q22" value="D" maxlength="1"> o cérebro realiza diferentes tipos de processamento e há intensa atividade mental.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 23</h5>
                        <p class="card-text">O dodecaedro abaixo possui 12 faces. Qual o nome da figura plana que aparece em cada uma dessas faces?</p>
                        <div class="text-center">
                            <img src="/img/simulado1/23.png" alt="Imagem do dodecaedro" class="img-fluid">
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q23" value="A" maxlength="1"> triângulo.</li>
                                <li><input type="radio" name="q23" value="B" maxlength="1"> quadrilátero.</li>
                                <li><input type="radio" name="q23" value="C" maxlength="1"> pentágono.</li>
                                <li><input type="radio" name="q23" value="D" maxlength="1"> hexágono.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 24</h5>
                        <div class="text-center">
                            <img src="/img/simulado1/24.png" alt="Bandeira do Brasil" class="img-fluid">
                        </div>
                        <p class="card-text">Quais quadriláteros constituem a bandeira brasileira?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q24" value="A" maxlength="1"> Círculo e Retângulo.</li>
                                <li><input type="radio" name="q24" value="B" maxlength="1"> Losango e Retângulo.</li>
                                <li><input type="radio" name="q24" value="C" maxlength="1"> Hexágono e Trapézio.</li>
                                <li><input type="radio" name="q24" value="D" maxlength="1"> Quadrado e Retângulo.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 25</h5>
                        <p class="card-text">Cada quadradinho da malha quadriculada abaixo tem 1 cm de lado. Qual é o perímetro do quadrado pintado?</p>
                        <div class="text-center">
                            <img src="/img/simulado1/25.png" alt="Quadrado Pintado" class="img-fluid">
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q25" value="A" maxlength="1"> 32 centímetros.</li>
                                <li><input type="radio" name="q25" value="B" maxlength="1"> 16 centímetros.</li>
                                <li><input type="radio" name="q25" value="C" maxlength="1"> 8 centímetros.</li>
                                <li><input type="radio" name="q25" value="D" maxlength="1"> 4 centímetros.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 26</h5>
                        <div class="text-center">
                            <img src="/img/simulado1/26.png" alt="Ilustração da questão 26" class="img-fluid">
                        </div>
                        <p class="card-text">João quer medir uma tábua e, para isso, está usando seu palmo, que mede 21 cm.</p>
                        <p class="card-text">Assim sendo, essa tábua deve conter</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q26" value="A" maxlength="1"> mais de 4 palmos e menos de 5 palmos.</li>
                                <li><input type="radio" name="q26" value="B" maxlength="1"> exatamente 5 palmos.</li>
                                <li><input type="radio" name="q26" value="C" maxlength="1"> mais de 5 palmos e menos de 6 palmos.</li>
                                <li><input type="radio" name="q26" value="D" maxlength="1"> exatamente 6 palmos.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
                      <div class="container">
                        <h5 class="card-title">Questão 27</h5>
                        <p class="card-text">João caminhou 2,7 km para chegar até o parque.</p>
                        <p class="card-text">Quantos metros ele caminhou?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q27" value="A" maxlength="1"> 2 700</li>
                                <li><input type="radio" name="q27" value="B" maxlength="1"> 270</li>
                                <li><input type="radio" name="q27" value="C" maxlength="1"> 27</li>
                                <li><input type="radio" name="q27" value="D" maxlength="1"> 2,7</li>
                            </ol>
                        </div>
                    </div>
                    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 28</h5>
                        <p class="card-text">Marcelo conseguiu atravessar o pátio, correndo, em 30 segundos. Podemos dizer que Marcelo atravessou o pátio em</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q28" value="A" maxlength="1"> meio minuto.</li>
                                <li><input type="radio" name="q28" value="B" maxlength="1"> meia hora.</li>
                                <li><input type="radio" name="q28" value="C" maxlength="1"> trinta minutos.</li>
                                <li><input type="radio" name="q28" value="D" maxlength="1"> uma hora.</li>
                            </ol>
                        </div>
                    </div>
                                       
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                      <div class="container">
                        <h5 class="card-title">Questão 29</h5>
                        <p class="card-text">Faltam 5 semanas e 5 dias para Antônio completar 9 anos. Quantos dias faltam para o aniversário de Antônio?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q29" value="A" maxlength="1"> 10</li>
                                <li><input type="radio" name="q29" value="B" maxlength="1"> 14</li>
                                <li><input type="radio" name="q29" value="C" maxlength="1"> 19</li>
                                <li><input type="radio" name="q29" value="D" maxlength="1"> 40</li>
                            </ol>
                        </div>
                    </div>                           
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 30</h5>
                        <p class="card-text">Ângela vai pagar a conta da farmácia que é de R$17,00 em moedas de R$0,25. O número de moedas que corresponde a esse valor é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q30" value="A" maxlength="1"> 45</li>
                                <li><input type="radio" name="q30" value="B" maxlength="1"> 55</li>
                                <li><input type="radio" name="q30" value="C" maxlength="1"> 68</li>
                                <li><input type="radio" name="q30" value="D" maxlength="1"> 78</li>
                            </ol>
                        </div>
                    </div>                                       
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 31</h5>
                        <p class="card-text">Gabriel quer colocar uma faixa de azulejos decorados em torno da piscina de sua casa. Para comprar a quantidade de azulejos decorados necessários para fazer essa reforma, ele precisa saber a medida do perímetro dessa piscina.</p>
                        <div class="text-center">
                            <img src="/img/simulado1/31.png" class="img-fluid" alt="Piscina">
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q31" value="A" maxlength="1"> 10 m</li>
                                <li><input type="radio" name="q31" value="B" maxlength="1"> 14 m</li>
                                <li><input type="radio" name="q31" value="C" maxlength="1"> 20 m</li>
                                <li><input type="radio" name="q31" value="D" maxlength="1"> 24 m</li>
                            </ol>
                        </div>
                    </div>
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 32</h5>
                        <p class="card-text">Considerando cada quadrinho da figura como unidade de medida, a área da região pintada é:</p>
                        <div class="text-center">
                            <img src="/img/simulado1/32.png" class="img-fluid" alt="Figura">
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q32" value="A" maxlength="1"> 19 □</li>
                                <li><input type="radio" name="q32" value="B" maxlength="1"> 21 □</li>
                                <li><input type="radio" name="q32" value="C" maxlength="1"> 23 □</li>
                                <li><input type="radio" name="q32" value="D" maxlength="1"> 25 □</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 33</h5>
                        <p class="card-text">No quadro desenhado abaixo, está representada a decomposição de um número natural.</p>
                        <div class="text-center">
                            <img src="/img/simulado1/33.png" class="img-fluid" alt="Quadro">
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q33" value="A" maxlength="1"> 352</li>
                                <li><input type="radio" name="q33" value="B" maxlength="1"> 3 052</li>
                                <li><input type="radio" name="q33" value="C" maxlength="1"> 3 502</li>
                                <li><input type="radio" name="q33" value="D" maxlength="1"> 3 000 502</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 34</h5>
                        <p class="card-text">Qual das opções que aparecem para a decomposição desse número está correta?</p>
                        <div class="text-center">
                            <img src="/img/simulado1/34.png" class="img-fluid" alt="Número">
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q34" value="A" maxlength="1"> 53 × 1000 + 4 × 10 + 3 × 100 + 8</li>
                                <li><input type="radio" name="q34" value="B" maxlength="1"> 53 × 100 + 48</li>
                                <li><input type="radio" name="q34" value="C" maxlength="1"> 51 × 100 + 24 × 10 + 8</li>
                                <li><input type="radio" name="q34" value="D" maxlength="1"> 53 × 100 + 40 × 10 + 8</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 35</h5>
                        <p class="card-text">Qual é a diferença entre o “peso” das bananas e o da pêra?</p>
                        <div class="text-center">
                            <img src="/img/simulado1/35.png" class="img-fluid" alt="Balancas">
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q35" value="A" maxlength="1"> 1.140</li>
                                <li><input type="radio" name="q35" value="B" maxlength="1"> 555</li>
                                <li><input type="radio" name="q35" value="C" maxlength="1"> 1.695</li>
                                <li><input type="radio" name="q35" value="D" maxlength="1"> 342</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 36</h5>
                        <p class="card-text">Resolva a operação abaixo:</p>
                        <div class="text-center">
                            <p class="operacao">96 ÷ 3</p>
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q36" value="A" maxlength="1"> 32</li>
                                <li><input type="radio" name="q36" value="B" maxlength="1"> 31</li>
                                <li><input type="radio" name="q36" value="C" maxlength="1"> 22</li>
                                <li><input type="radio" name="q36" value="D" maxlength="1"> 21</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 37</h5>
                        <p class="card-text">Paulo, Alex e João trabalham numa fazenda no interior de São Paulo. Os três juntos retiram, por dia, 670 litros de leite. Ontem, Paulo retirou 125 litros e Alex, 250 litros. Assim, João retirou</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q37" value="A" maxlength="1"> 1 045 litros de leite.</li>
                                <li><input type="radio" name="q37" value="B" maxlength="1"> 305 litros de leite.</li>
                                <li><input type="radio" name="q37" value="C" maxlength="1"> 295 litros de leite.</li>
                                <li><input type="radio" name="q37" value="D" maxlength="1"> 215 litros de leite.</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 38</h5>
                        <p class="card-text">Uma TV de vinte polegadas pode ser comprada em 10 pagamentos de R$ 66,39 ou em 5 pagamentos de R$ 104,47. Se for comprada em 5 vezes, a economia em relação ao valor final pago em 10 vezes será de:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q38" value="A" maxlength="1"> R$ 38,08</li>
                                <li><input type="radio" name="q38" value="B" maxlength="1"> R$ 141,55</li>
                                <li><input type="radio" name="q38" value="C" maxlength="1"> R$ 190,40</li>
                                <li><input type="radio" name="q38" value="D" maxlength="1"> R$ 380,57</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 39</h5>
                        <p class="card-text">Observe a torta de morangos que Letícia fez. Ela dividiu a torta em 8 partes iguais e comeu 3 partes desta torta.</p>
                        <div class="text-center">
                            <img src="/img/simulado1/39.png" alt="Torta de Morangos">
                        </div>
                        <p>Qual a fração que representa as partes que ela comeu?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q39" value="A" maxlength="1"> 3/8</li>
                                <li><input type="radio" name="q39" value="B" maxlength="1"> 5/8</li>
                                <li><input type="radio" name="q39" value="C" maxlength="1"> 8/5</li>
                                <li><input type="radio" name="q39" value="D" maxlength="1"> 8/3</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 40</h5>
                        <p class="card-text">Rosa percebendo a perda de peso de seu filho Joãozinho, ficou muito preocupada e logo tratou de marcar uma consulta com seu médico. Assim que o médico o viu, pediu para que ele subisse na balança para se pesar. A seta na figura abaixo mostra onde está o ponteiro da balança.</p>
                        <div class="text-center">
                            <img src="/img/simulado1/40.png" alt="Balança">
                        </div>
                        <p>Joãozinho está pesando:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q40" value="A" maxlength="1"> 34 Kg.</li>
                                <li><input type="radio" name="q40" value="B" maxlength="1"> 34,5 Kg.</li>
                                <li><input type="radio" name="q40" value="C" maxlength="1"> 32,5 Kg.</li>
                                <li><input type="radio" name="q40" value="D" maxlength="1"> 33,5 Kg.</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 41</h5>
                        <p class="card-text">Lorena comprou 6 ingressos para assistir um show de pagode com suas amigas. Cada ingresso custou R$12,00. Ela deu 4 notas de R$20,00 para pagar. Quanto Lorena recebeu de troco?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q41" value="A" maxlength="1">R$ 72,00 </li>
                                <li><input type="radio" name="q41" value="B" maxlength="1"> R$ 60,00</li>
                                <li><input type="radio" name="q41" value="C" maxlength="1"> R$ 8,00</li>
                                <li><input type="radio" name="q41" value="D" maxlength="1"> R$ 80,00</li>
                            </ol>
                        </div>
                    </div>
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 42</h5>
                        <p class="card-text">A turma de Flávia é formada por 30 alunos, sendo 12 meninas e 18 meninos. Qual é a fração que representa o número de meninas da sala da Flávia em relação ao total de alunos?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q42" value="A" maxlength="1"> 1/5</li>
                                <li><input type="radio" name="q42" value="B" maxlength="1"> 2/3</li>
                                <li><input type="radio" name="q42" value="C" maxlength="1"> 2/5</li>
                                <li><input type="radio" name="q42" value="D" maxlength="1"> 3/5</li>
                            </ol>
                        </div>
                    </div>                              
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 43</h5>
                        <p class="card-text">Observe as duas balanças. Quantos quilogramas pesa o mamão?</p>
                        <div class="text-center">
                            <img src="/img/simulado1/43.png" alt="Balanças com mamão" />
                        </div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q43" value="A" maxlength="1"> 6,500 quilogramas</li>
                                <li><input type="radio" name="q43" value="B" maxlength="1"> 2,35 quilogramas</li>
                                <li><input type="radio" name="q43" value="C" maxlength="1"> 0,65 quilogramas</li>
                                <li><input type="radio" name="q43" value="D" maxlength="1"> 0,235 quilogramas</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">Questão 44</h5>
                        <p class="card-text">Natália comprou um par de tênis por R$ 64,00 e recebeu um desconto de 25% por pagar em dinheiro. Quanto Natália pagou pelo tênis?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q44" value="A" maxlength="1"> R$ 39,00</li>
                                <li><input type="radio" name="q44" value="B" maxlength="1"> R$ 41,00</li>
                                <li><input type="radio" name="q44" value="C" maxlength="1"> R$ 48,00</li>
                                <li><input type="radio" name="q44" value="D" maxlength="1"> R$ 52,00</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>