<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leituras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <div class="h1 text-center">PROJETO KALFABETIZAR</div>
            </header>
        </div>
        <br>
        <div class="container-sm">
            <div class="row">
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><a class="" href="https://drive.google.com/file/d/1P2ibrL9RQc25qRWekBmuPeei6coc-XCr/view?usp=drive_link"><img class="img-fluid" src="/img/thumb_a_agua_da_vida.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>                
                </div>
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">JAMES, O CAPITÃO GANCHO</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\james_o_capitao"><img class="img-fluid" src="/img/thumb_james_o_capitao.png" alt=""></a></td>
                            </tr>                       
                        </tbody>
                    </table>               
                </div>
            </div> 
            <div class="row">
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">ÁGUA LIMPA, ÁGUA SUJA</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\agualimpa"><img class="img-fluid" src="/img/thumb-agualimpa.png" alt=""></a></td>
                            </tr>                       
                        </tbody>
                    </table>               
                </div>
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">DA CAVERNA À INFORMÁTICA</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\da-caverna"><img class="img-fluid" src="/img/thumb-da-caverna.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>                
                </div>

            </div> 
            <div class="row">
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">UMA PEDRADA CERTEIRA</h5></td>
                            </tr>
                            <tr>
                                
                                <td><a class="" href="\umapedrada"><img class="img-fluid" src="/img/thumb-uma-pedrada.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>                
                </div>
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">VAI-E-VEM DE POVOS E CULTURAS</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\vaievem"><img class="img-fluid" src="/img/thumb-vaievem.png" alt=""></a></td>
                            </tr>                       
                        </tbody>
                    </table>               
                </div>
            </div> 
            <div class="row">
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">A VIAGEM DE VOLTA</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\a-viagem"><img class="img-fluid" src="/img/thumb-a-viagem.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>                
                </div>
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">DA CAPOEIRA AO CARIMBÓ</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\da_capoeira_ao_carimbo"><img class="img-fluid" src="/img/thumb_capoeira_ao_carimbo.png" alt=""></a></td>
                            </tr>                       
                        </tbody>
                    </table>               
                </div>
            </div>   
            <br>
            <div class="row">
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">O SEGUNDO E ÚLTIMO IMPERADOR DO BRASIL</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\o_segundo_e_ultimo"><img class="img-fluid" src="/img/thumb-o-segundo.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>                
                </div>
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><h5 class="card-title">O CICATRIZ E O MÃO DE FERRO</h5></td>
                            </tr>
                            <tr>
                                <td><a class="" href="\cicatriz"><img class="img-fluid" src="/img/thumb-cicatriz.png" alt=""></a></td>
                            </tr>                       
                        </tbody>
                    </table>               
                </div>
            </div>     
        </div>
        <br>       
        <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>