<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KALFABETIZAR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <div class="h1 text-center">PROJETO KALFABETIZAR</div>
            </header>
        </div>
        <br>
        <div class="container-sm">
            <div class="row">
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><a class="" href="https://drive.google.com/file/d/1P2ibrL9RQc25qRWekBmuPeei6coc-XCr/view?usp=drive_link"><img class="img-fluid" src="/img/thumb_a_agua_da_vida.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>                
                </div>
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                          
                            <tr>
                                <td><a class="" href="https://drive.google.com/file/d/1P31wVxfNFPm3v3DFH4qrtKsCCLmhGQzy/view?usp=drive_link"><img class="img-fluid" src="/img/thumb_a_princesa_e_a_ervilha.png" alt=""></a></td>
                            </tr>                       
                        </tbody>
                    </table>               
                </div>
            </div> 
            <div class="row">
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
        
                            <tr>
                                <td><a class="" href="https://drive.google.com/file/d/1P11JCBvEJZVnnc81vziMeEpz2nAkHhCF/view?usp=drive_link"><img class="img-fluid" src="/img/thumb_anna_nery.png" alt=""></a></td>
                            </tr>                       
                        </tbody>
                    </table>               
                </div>
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>

                            <tr>
                                <td><a class="" href="https://drive.google.com/file/d/1PAoPOg6K7bdQBnViAyYZK3adb89xPOtH/view?usp=drive_link"><img class="img-fluid" src="/img/thumb_carlos_chagas.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>                
                </div>

            </div> 
            <div class="row">
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>

                            <tr>
                                
                                <td><a class="" href="https://drive.google.com/file/d/1Ok1nCvcOm_Ew0CNrb1oaYAKpseQgaF6i/view?usp=drive_link"><img class="img-fluid" src="/img/thumb_o_jovem_gigante.png" alt=""></a></td>
                            </tr>
                        
                        </tbody>
                    </table>                
                </div>
                <div class="col text-center">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td><a class="" href="https://drive.google.com/file/d/1Oryj2szEPcFqNiuukVmLIhcqC2ENPfpV/view?usp=drive_link"><img class="img-fluid" src="/img/thumb_a_lenda_da_vitoriaregia.png" alt=""></a></td>
                            </tr>                       
                        </tbody>
                    </table>               
                </div>
            </div> 
 
            <br>
     
        </div>
        <br>       
        <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>