<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QUARTO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">QUARTO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/envio_quarto_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

   
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1: (PROEB)</h5>
                        <p class="card-text">Leia o texto abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/1.png" alt="Saúde. Abril, nov. 2007."></div>
                        <br>
                        <p class="card-text">De acordo com esse texto, qual é a solução que está nas mãos das pessoas?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1"> A fabricação de sacos plásticos.</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1"> A preservação do planeta.</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1"> O consumo de produtos.</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1"> O cuidado com o sapo-dourado.</li>
                            </ol>
                        </div>
                    </div>
                    

                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2: (SAEP 2013)</h5>
                        <p class="card-text">Leia o texto abaixo e responda:</p>
                        <h5>O terremoto do gelo</h5>
                        <p class="card-text texto_paragrafo">O tão falado aumento da temperatura do planeta não produz somente ondas de calor na Índia ou secas na África: também provoca terremotos no Alasca. Pelo menos é o que diz um estudo de cientistas da Nasa e do Departamento de Pesquisas Geológicas dos Estados Unidos (USGS). De acordo com a pesquisa, conforme as geleiras derretem, diminui a pressão sobre a crosta. Dessa forma, as placas tectônicas daquela região podem se mover com maior liberdade.</p>
                        <br>
                        <div style="text-align:right;"><small>Terra, set. 2004, p.12</small></div>
                        <br>
                        <p class="card-text">Esse texto serve para o leitor</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1"> se informar.</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1"> se divertir.</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1"> receber uma instrução.</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1"> receber um aviso.</li>
                            </ol>
                        </div>
                    </div>
                                                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3: (SADEAM)</h5>
                        <p class="card-text">Leia o texto abaixo:</p>
                        <h5>Tulipas da holanda</h5>
                        <p class="card-text texto_paragrafo">Todos os anos, durante a primavera, gente de todo o mundo procura um pequeno parque colorido e perfumado, cheio de lagos e flores, na Holanda. Ali se encontra a famosa tulipa, a flor nacional do país. A floricultura é uma fonte de renda na Holanda e a cultura dessa flor constitui a base dessa renda. O valor das tulipas está no tamanho das flores e na sua coloração. Suas cores são variadas, mas a Rainha da Noite é a mais apreciada pela sua raridade. É também conhecida como tulipa negra, embora sua cor seja azul-roxo bem escuro.</p>
                        <br>
                        <div style="text-align:right;"><small>DIAS, Ieda; CARVALHO, Aciléia. Tulipas da Holanda. In: Bolhas de sabão. Belo Horizonte: Vigília, 1987. Fragmento.</small></div>
                        <br>
                        <p class="card-text">De acordo com esse texto, a expressão “Rainha da Noite” refere-se</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1"> à margem do lago.</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1"> à tulipa negra.</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1"> às cores na primavera.</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1"> às flores dos lagos.</li>
                            </ol>
                        </div>
                    </div>
                    
      
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4</h5>
                        <p class="card-text">Leia o texto abaixo a abaixo e responda:</p>
                        <h5>CORAÇÃO CONTA DIFERENTE</h5>
                        <p class="card-text texto_paragrafo">7 X 5 = 45 ...</p>
                        <p class="card-text texto_paragrafo">O Renato começou a rir e cochichou comigo: – Essa menina é meio lelé. Eu não ri nem falei nada. Mas uma coisa, lá dentro da minha cabeça, me disse que 7 X 5 = 35. Como foi a Adriana que tinha escrito no quadro, eu não percebi o erro. Aquele 4 que ela desenhou tão certinho no lugar do 3 era tão bonito! Até os números da Adriana são lindos!</p>
                        <p class="card-text texto_paragrafo">– Tá errado, tia! Tá errado! – gritou, toda esganiçada, a Carina. A tia então mandou a Adriana sentar. [...] Ela ficou com a cabeça abaixada um tempão. [...]</p>
                        <p class="card-text texto_paragrafo">Aí, arranquei a beiradinha da última página do meu caderno e escrevi: Não liga, Adriana. O 45 que você escreve é tão lindo quanto o seu cabelo. [...] Fiz bem depressa uma bolinha com o bilhete dobrado, mirei joguei. Ela caiu no colo da Adriana.</p>
                        <br>
                        <div style="text-align:right;"><small>ALBERGARIA, Lino de. Coração conta diferente. 3.ed. São Paulo: Scipione, 1994. Fragmento.</small></div>
                        <br>
                        <p class="card-text">Quem conta essa história é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1"> a menina que errou a tabuada.</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1"> a menina que gritou “Tá errado!”.</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1"> o menino que começou a rir.</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1"> o menino que escreveu o bilhete.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5: (SAERJ)</h5>
                        <p class="card-text">Leia o texto abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/5.png" alt="Imagem da Revista Recreio"></div>
                        <br>
                        <div style="text-align:right;"><small>Revista Recreio Ano 2 nº 67. Pág 5</small></div>
                        <br>
                        <p class="card-text">No trecho “<b>Antes</b> da criação dos selos...”, a palavra destacada indica uma relação de</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1"> causa.</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1"> lugar.</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1"> negação.</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1"> tempo.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 6: (SEAPE)</h5>
                        <p class="card-text">Leia o texto abaixo:</p>
                        <h5>“Cruciﬁcado” pela gripe, porco é animal de estimação de famosos</h5>
                        <p class="card-text texto_paragrafo">Ainda não há provas que o incriminem definitivamente pelo atual surto de gripe que atingiu 11 países. Mesmo assim, o porco já vem sendo julgado culpado por autoridades mundo afora, que determinam até a morte de criações inteiras.</p>
                        <p class="card-text texto_paragrafo">Na última segunda-feira (27), a OIE (Organização Mundial para a Saúde Animal) reiterou que ainda não foi comprovada a relação entre o vírus e os animais e pediu que a gripe suína seja denominada gripe da América do Norte.</p>
                        <p class="card-text texto_paragrafo">Mas, para algumas pessoas, pouco importa se a culpa é ou não do porco. Para elas, o animal não é um inimigo, e sim um companheiro para todas as horas.</p>
                        <br>
                        <div style="text-align:right;"><small>Disponível em: <a href="http://www1.folha.uol.com.br/acessado">www1.folha.uol.com.br</a>. Acesso em: 5 set. 2009.</small></div>
                        <br>
                        <p class="card-text">“Para <b>elas</b>, o animal não é um inimigo, e sim um companheiro para todas as horas.”. Nessa frase, a palavra elas refere-se</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1"> a algumas pessoas.</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1"> a criações inteiras.</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1"> às autoridades.</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1"> às horas.</li>
                            </ol>
                        </div>
                    </div>
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 7</h5>
                        <p class="card-text">Leia o Texto abaixo:</p>
                        <h5>Musse de chocolate do apressado</h5>
                        <p class="card-text texto_paragrafo">Ingredientes: 1 lata de creme de leite, a mesma lata cheia de achocolatado em pó e 1 pacote pequeno de chocolate granulado.</p>
                        <p class="card-text texto_paragrafo">Modo de fazer: Bata no liquidificador o creme de leite com o achocolatado em pó só para misturar. Derrame a mistura em taças e polvilhe com o chocolate granulado. Leve à geladeira depois de ficar uns minutos no congelador para endurecer.</p>
                        <p class="card-text texto_paragrafo">Rendimento: 5 taças.</p>
                        <br>
                        <div style="text-align:right;"><small>ALGRANTI, Márcia. O jogo da comida. Cozinha para adolescentes. Rio de Janeiro: Imago, 1995.</small></div>
                        <br>
                        <p class="card-text">A finalidade do texto é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1"> anunciar um produto.</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1"> contar um fato.</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1"> dar uma instrução.</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1"> fazer um convite.</li>
                            </ol>
                        </div>
                    </div>
                    
                      </div>
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 8: (SARESP 2010)</h5>
                        <p class="card-text">Observe a propaganda do Bombom Garoto e leia todas as informações:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/8.png" alt="Imagem da Propaganda do Bombom Garoto"></div>
                        <br>
                        <p class="card-text">Uma pessoa de mau humor é uma pessoa que está</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A" maxlength="1"> irritada.</li>
                                <li><input type="radio" name="q8" value="B" maxlength="1"> tranquila.</li>
                                <li><input type="radio" name="q8" value="C" maxlength="1"> sossegada.</li>
                                <li><input type="radio" name="q8" value="D" maxlength="1"> despreocupada.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 9: (SPAECE)</h5>
                        <p class="card-text">Leia o texto abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/9.png" alt="Imagem do Texto"></div>
                        <br>
                        <div style="text-align:right;"><small>Disponível em: <a href="http://www.monica.com.br">www.monica.com.br</a>. Acesso em: 11/7/2009.</small></div>
                        <br>
                        <p class="card-text">O que fez com que essa história acontecesse foi</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A" maxlength="1"> a curiosidade da menina.</li>
                                <li><input type="radio" name="q9" value="B" maxlength="1"> a demora do pai em responder.</li>
                                <li><input type="radio" name="q9" value="C" maxlength="1"> a resposta à pergunta da menina.</li>
                                <li><input type="radio" name="q9" value="D" maxlength="1"> a menina ficar olhando a alface.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 10</h5>
                        <p class="card-text">Leia a tirinha abaixo e responda:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/11.png" alt="Imagem da Tirinha"></div>
                        <br>
                        <div style="text-align:right;"><small>Ziraldo. Curta o Menino Maluquinho, São Paulo. Globo, v. 2, 2007.</small></div>
                        <br>
                        <p class="card-text">Na história em quadrinhos que você leu, a expressão “Irado!” aparece no título e no quinto quadrinho com o sentido de</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q11" value="A" maxlength="1"> sensacional.</li>
                                <li><input type="radio" name="q11" value="B" maxlength="1"> revoltante.</li>
                                <li><input type="radio" name="q11" value="C" maxlength="1"> medonho.</li>
                                <li><input type="radio" name="q11" value="D" maxlength="1"> curioso.</li>
                            </ol>
                        </div>
                    </div>
                                                            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 11</h5>
                        <p class="card-text">Leia o texto abaixo e responda:</p>
                        <h5>Faça sua parte! Você pode ajudar a evitar o efeito estufa</h5>
                        <p class="card-text texto_paragrafo">O problema do aquecimento global só vai ser resolvido com mudanças de larga escala, mas isso não quer dizer que você vai ficar parado colocando a culpa nos outros.</p>
                        <p class="card-text texto_paragrafo">Use ônibus e metrô</p>
                        <p class="card-text texto_paragrafo">Aproveite as linhas de ônibus, trens e metrô da sua cidade. Substituir o automóvel por 30 km mensais já reduz 1 tonelada e meia por ano de gases do efeito estufa. Melhor ainda: se a viagem for curta, use meios de transporte como a bicicleta ou a caminhada, o que de quebra melhora a saúde e impede o sedentarismo.</p>
                        <p class="card-text texto_paragrafo">Economia anual*: de 1,5 a 12</p>
                        <p class="card-text texto_paragrafo">Vá devagar</p>
                        <p class="card-text texto_paragrafo">Se não puder largar o carro, use-o melhor. Andar alguns km/h abaixo do limite de velocidade – em vez de ultrapassá-lo – economiza combustível e reduz as emissões.</p>
                        <p class="card-text texto_paragrafo">Economia anual*: de 2 a 12</p>
                        <p class="card-text texto_paragrafo">Pratique os 3 erres</p>
                        <p class="card-text texto_paragrafo">Reduzir, reutilizar e reciclar. Reduza o consumo excessivo de produtos (e a energia gasta para produzi-los). Não podendo, reutilize – coisas como embalagens e sacos de supermercado podem poluir um bocado. Se não, recicle: você não economiza a energia gasta para produzir o produto, mas ao menos poupa matéria-prima.</p>
                        <p class="card-text texto_paragrafo">Economia anual*: infinita</p>
                        <p class="card-text texto_paragrafo">Adube sua horta</p>
                        <p class="card-text texto_paragrafo">Cada quilo de restos de alimentos jogado no lixo produz 2 quilos de metano – um gás 20 vezes mais destrutivo que o CO2 – depois de ser decomposto por bactérias. Dois terços dos alimentos descartados poderiam ser reaproveitados como adubo ou como vitamina – o que não só faz bem às plantas como diminui as emissões.</p>
                        <p class="card-text texto_paragrafo">Economia anual*: até 1</p>
                        <p class="card-text texto_paragrafo">*Em toneladas de carbono por pessoa.</p>
                        <br>
                        <div style="text-align:right;"><small>Feijó, Bruno Vieira. Disponível em: <a href="http://super.abril.com.br/ecologia/faca-sua-parte-446087.shtml">super.abril.com.br</a>. Acesso em: 18 maio 2010. Fragmento.</small></div>
                        <br>
                        <p class="card-text">De acordo com esse texto, o que mais evita emissões de gases no planeta é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q11" value="A" maxlength="1"> adubar a horta.</li>
                                <li><input type="radio" name="q11" value="B" maxlength="1"> dirigir devagar.</li>
                                <li><input type="radio" name="q11" value="C" maxlength="1"> praticar os três erres.</li>
                                <li><input type="radio" name="q11" value="D" maxlength="1"> usar ônibus e metrô.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 12</h5>
                        <p class="card-text">Leia o texto abaixo e responda:</p>
                        <h5>Quadrinhos verdes</h5>
                        <p class="card-text texto_paragrafo">Conheça Animalândia, a fantástica terra onde todos os bichos são vegetarianos e conversam com o homem sobre a importância da preservação do meio ambiente! Este foi o sonho de Florinha. Ela resolveu contá-lo durante a aula e a professora aproveitou para falar sobre ecologia e preservação com toda a turma. Aposto que você também vai adorar!</p>
                        <br>
                        <div style="text-align:right;"><small>Ciência Hoje das Crianças. n. 220. jan./fev. 2011. p. 24.</small></div>
                        <br>
                        <p class="card-text">Nesse texto, o trecho que apresenta uma opinião do autor é:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q12" value="A" maxlength="1"> “... onde todos os bichos são vegetarianos...”.</li>
                                <li><input type="radio" name="q12" value="B" maxlength="1"> “Este foi o sonho de Florinha.”.</li>
                                <li><input type="radio" name="q12" value="C" maxlength="1"> “... resolveu contá-lo durante a aula...”.</li>
                                <li><input type="radio" name="q12" value="D" maxlength="1"> “Aposto que você também vai adorar!”.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 13</h5>
                        <p class="card-text">Leia a tirinha a seguir e responda:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/13.png" alt=""></div>
                        <p class="card-text">O problema que envolve o personagem dos quadrinhos é:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q13" value="A" maxlength="1"> ele não quer tirar a roupa para o banho.</li>
                                <li><input type="radio" name="q13" value="B" maxlength="1"> ele não gosta de tomar banho.</li>
                                <li><input type="radio" name="q13" value="C" maxlength="1"> a água da banheira está muito suja.</li>
                                <li><input type="radio" name="q13" value="D" maxlength="1"> a água da banheira está muito quente.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 14</h5>
                        <p class="card-text">Observe a sequência dos quadrinhos:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/14.png" alt=""></div>
                        <br>
                        <div style="text-align:right;"><small>Fonte: chargesmais.net/guitar&singers</small></div>
                        <br>
                        <p class="card-text">Ao final de tudo a guitarra estava quebrada porque:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q14" value="A" maxlength="1"> era velha demais.</li>
                                <li><input type="radio" name="q14" value="B" maxlength="1"> era de plástico.</li>
                                <li><input type="radio" name="q14" value="C" maxlength="1"> foi utilizada por muito tempo.</li>
                                <li><input type="radio" name="q14" value="D" maxlength="1"> foi utilizada de modo extravagante.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 15</h5>
                        <p class="card-text">Leia o texto:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/15.png" alt=""></div>
                        <br>
                        <div style="text-align:right;"><small>Fonte: <a href="http://www.luso-poemas.net/modules/news/article.php?storyid=97739">luso-poemas.net</a></small></div>
                        <br>
                        <p class="card-text">O assunto da propaganda é:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q15" value="A" maxlength="1"> cachorros maltratados</li>
                                <li><input type="radio" name="q15" value="B" maxlength="1"> abandono de cães</li>
                                <li><input type="radio" name="q15" value="C" maxlength="1"> amor pelos cães</li>
                                <li><input type="radio" name="q15" value="D" maxlength="1"> donos amorosos</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 16</h5>
                        <h5>MANIA DE PLÁSTICO</h5>
                        <p class="texto_paragrafo">Toneladas de sacos, garrafas, copos, brinquedos e outros lixos estão fazendo mal ao nosso planeta.</p>
                        <p class="texto_paragrafo">Ele está em toda parte: sandálias, garrafas de refrigerante, escovas, copos, sacolas, computadores, etc. Não dá para pensar a nossa vida sem o plástico. Desde que os pesquisadores descobriram que era possível criar esse material a partir de elementos do petróleo, em 1862, as indústrias passaram a usá-lo cada vez mais. É claro que isso trouxe progresso, conforto e melhorias para todos nós. Acredito que o plástico é, hoje, um dos maiores vilões da vida moderna. Quando não é reciclado, ele detona a natureza e polui cidades.</p>
                        <p class="texto_paragrafo">As peças de plástico boiando no mar podem causar a morte de mais de 100 mil animais marinhos (golfinhos, baleias e tartarugas) e um milhão de aves por ano. As sacolas de plástico podem levar 200 anos para se decompor. Quando são largadas nas ruas, entopem bueiros e provocam enchentes.</p>
                        <p class="texto_paragrafo">Evite comprar produtos que usem plástico demais nas embalagens.</p>
                        <br>
                        <div style="text-align:right;"><small>Witch, São Paulo: Abril. n. 77, p. 09.</small></div>
                        <br>
                        <p class="card-text">A frase que apresenta uma opinião é:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q16" value="A" maxlength="1"> “Toneladas de sacos [...] e outros lixos estão fazendo mal ao nosso planeta.”.</li>
                                <li><input type="radio" name="q16" value="B" maxlength="1"> “Acredito que o plástico é, hoje, um dos maiores vilões da vida moderna.”.</li>
                                <li><input type="radio" name="q16" value="C" maxlength="1"> “As peças de plástico boiando no mar podem causar a morte de...”.</li>
                                <li><input type="radio" name="q16" value="D" maxlength="1"> “Quando são largadas nas ruas, entopem bueiros e provocam enchentes.”.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 17</h5>
                        <h5>Ziraldo</h5>
                        <div class="text-center">
                            <img src="/img/simulado4/17.png" alt="Imagem relacionada a Ziraldo">
                        </div>
                        <p class="texto_paragrafo">Ziraldo Alves Pinto nasceu no dia 24 de outubro de 1932, em Caratinga, Minas Gerais. Começou sua carreira nos anos 50 em jornais e revistas de expressão, como Jornal do Brasil, O Cruzeiro, Folha de Minas, etc. Além de pintor, é cartazista, jornalista, teatrólogo, chargista, caricaturista e escritor.</p>
                        <p class="texto_paragrafo">A fama começou a vir nos anos 60, com o lançamento da primeira revista em quadrinhos brasileira feita por um só autor: A Turma do Pererê. Em 1969, Ziraldo publicou o seu primeiro livro infantil, FLICTS, que conquistou fãs em todo o mundo. A partir de 1979, concentrou-se na produção de livros para crianças e, em 1980, lançou O Menino Maluquinho, um dos maiores fenômenos editoriais no Brasil de todos os tempos.</p>
                        <p class="texto_paragrafo">Os trabalhos de Ziraldo já foram traduzidos para diversos idiomas, como inglês, espanhol, alemão, francês, italiano e basco, e representam o talento e o humor brasileiros no mundo. Estão até expostos em museu!</p>
                        <br>
                        <div style="text-align:right;"><small>Disponível em: <a href="http://www.ziraldo.com.br/">http://www.ziraldo.com.br/</a>. Acesso em 20/09/08. Fragmento.</small></div>
                        <br>
                        <p class="card-text">Ziraldo começou a ficar famoso, quando</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q17" value="A" maxlength="1"> começou a escrever para jornais e revistas.</li>
                                <li><input type="radio" name="q17" value="B" maxlength="1"> lançou a revista da Turma do Pererê.</li>
                                <li><input type="radio" name="q17" value="C" maxlength="1"> lançou o seu livro O Menino Maluquinho.</li>
                                <li><input type="radio" name="q17" value="D" maxlength="1"> publicou o seu livro infantil FLICTS.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">                   
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 18</h5>
                        <h5>DA LAMPARINA À ENERGIA ELÉTRICA</h5>
                        <p class="texto_paragrafo">O sítio da vovó Valdenice fica em São João de Iracema, num lugar muito bonito e, o melhor de tudo, é que é pertinho da cidade. É para lá que eu vou nos finais de semana. No sábado passado, eu resolvi ir ao sítio à noite. Eu já tinha atravessado a porteira, quando, de repente, a luz se apagou..., mas pernas pra quem te quero! Ao perceber que eu tinha medo de escuro, vovó caiu na risada e resolveu me contar sobre a sua infância, onde apenas uma lamparina e a lua brilhante iluminavam a singela casa de pau a pique onde morava com sua família. “O escuro não me amedrontava, só incomodava um pouco na hora de ir na privada que ficava afastada da casa: eu tinha receio de cair no buraco.”</p>
                        <p class="texto_paragrafo">Após abrir seu coração, vovó emocionada me disse:</p>
                        <p class="texto_paragrafo">– É, minha neta. Apesar de ser do tempo da lamparina, eu jamais poderia esquecer as recordações que ficaram na minha mente até hoje.</p>
                        <p class="texto_paragrafo">Nós sorrimos e ficamos abraçadas por um longo tempo. Desde então, perdi o medo do escuro e percebi que apesar da minha cidade ser simples e pequena no tamanho, com seus um mil oitocentos e cinquenta habitantes, ela é grande no meu coração e inesquecível na mente dos moradores.</p>
                        <br>
                        <div style="text-align:right;"><small>RIBEIRO, Tarine Silva. Aluna da 4ª Série da E. E. Professora Joanita B. B. Carvalho. Na ponta do lápis. Fundação Itaú Social, 2005. *Adaptado: Reforma Ortográfica.</small></div>
                        <br>
                        <p class="card-text">Leia novamente o trecho.</p>
                        <p class="texto_paragrafo">“<b>Após</b> abrir seu coração, vovó emocionada me disse:...”.</p>
                        <p class="card-text">Nesse trecho, a palavra destacada indica</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q18" value="A" maxlength="1"> a causa da avó estar emocionada.</li>
                                <li><input type="radio" name="q18" value="B" maxlength="1"> a condição para que a avó falasse.</li>
                                <li><input type="radio" name="q18" value="C" maxlength="1"> o local onde a avó da menina se encontrava.</li>
                                <li><input type="radio" name="q18" value="D" maxlength="1"> o momento em que a avó se emocionou.</li>
                            </ol>
                        </div>
                    </div>
                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 19</h5>
                        <h5>Como o cavalo se tornou Cervo do homem</h5>
                        <p class="texto_paragrafo">Há muitos e muitos anos, os animais viviam juntos, em total liberdade. O cavalo habitava a floresta e não conhecia o peso de uma sela nem a humilhação de puxar arados e carroças.</p>
                        <p class="texto_paragrafo">Orgulhoso de sua força e beleza, o cavalo olhava os companheiros de cima para baixo. Certo dia, ele e o cervo brigaram. Cada um dizia que era o animal mais veloz das matas. Para resolver a questão, apostaram uma corrida, mas chegaram empatados. O cervo aceitou bem o resultado. O cavalo foi pedir ajuda ao homem:</p>
                        <p class="texto_paragrafo">– Preciso vencer o cervo, mas não consigo...</p>
                        <p class="texto_paragrafo">– Se eu o montar, conseguirá – disse o homem.</p>
                        <p class="texto_paragrafo">O cavalo achou ótimo.</p>
                        <p class="texto_paragrafo">O homem saltou sobre ele, colocou-lhe uma corda na boca como freio e o esporeou, para que corresse mais.</p>
                        <p class="texto_paragrafo">E assim, ensinando-o a pegar a direção certa e a evitar obstáculos, o homem conduziu o cavalo à vitória. O cervo, vencido, retirou-se. O cavalo exultava:</p>
                        <p class="texto_paragrafo">– Obrigado, agora vou voltar à minha floresta...</p>
                        <p class="texto_paragrafo">– Nada disso, amigão – rebateu bruscamente o homem – acabo de descobrir que você pode me ser bastante útil. A partir de hoje, vou lhe dar casa e comida, e você me servirá.</p>
                        <p class="texto_paragrafo">Vamos, siga-me já!</p>
                        <p class="texto_paragrafo">Desde então, o cavalo perdeu a liberdade, fechado em estábulos, trabalhando nos campos ou puxando cargas. Quantas vezes não se culpou por ter trocado a independência por uma estúpida prova de velocidade.</p>
                        <p class="texto_paragrafo"><strong>MORAL DA HISTÓRIA:</strong> A ambição desmedida nos torna escravos.</p>
                        <br>
                        <div style="text-align:right;"><small>Fabulinhas Famosas. São Paulo: Rideel, 2001. Adaptado.</small></div>
                        <br>
                        <p class="card-text">O cavalo e o Cervo começaram a briga, porque</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q19" value="A" maxlength="1"> chegaram empatados na corrida.</li>
                                <li><input type="radio" name="q19" value="B" maxlength="1"> cada um dizia ser o animal mais veloz das matas.</li>
                                <li><input type="radio" name="q19" value="C" maxlength="1"> o cavalo venceu, quando o homem o conduziu.</li>
                                <li><input type="radio" name="q19" value="D" maxlength="1"> o cervo também queria ser ajudado pelo homem.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 20</h5>
                        
                        <h6>Texto I</h6>
                        <p class="texto_paragrafo"><strong>Palavras</strong></p>
                        <p class="texto_paragrafo">Há palavras verdadeiramente mágicas.</p>
                        <p class="texto_paragrafo">O que há de mais assustador nos monstros é a palavra “monstro”.</p>
                        <p class="texto_paragrafo">Se eles se chamassem leques ou ventarolas, ou outro nome assim, todo arejado de vogais, quase tudo se perderia do fascinante horror de Frankenstein...</p>
                        <div style="text-align:right;"><small>QUINTANA, Mário. Sapo Amarelo. Ed. Mercado Aberto. 1984.</small></div>
                        
                        <h6>Texto II</h6>
                        <p class="texto_paragrafo"><strong>Receita de acordar palavras</strong></p>
                        <p class="texto_paragrafo">palavras são como estrelas</p>
                        <p class="texto_paragrafo">facas ou flores</p>
                        <p class="texto_paragrafo">elas têm raízes pétalas espinhos</p>
                        <p class="texto_paragrafo">são lisas ásperas leves ou densas</p>
                        <p class="texto_paragrafo">para acordá-las basta um sopro</p>
                        <p class="texto_paragrafo">em sua alma</p>
                        <p class="texto_paragrafo">e como pássaros</p>
                        <p class="texto_paragrafo">vão encontrar seu caminho</p>
                        <div style="text-align:right;"><small>MURRAY, Roseana. Receitas de olhar. São Paulo: FTD, 1997.</small></div>
                        
                        <br>
                        <p class="card-text">Os dois textos têm em comum:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q20" value="A" maxlength="1"> Palavras mágicas.</li>
                                <li><input type="radio" name="q20" value="B" maxlength="1"> Palavras assustadoras.</li>
                                <li><input type="radio" name="q20" value="C" maxlength="1"> O segredo das palavras.</li>
                                <li><input type="radio" name="q20" value="D" maxlength="1"> Palavras fascinantes ou ásperas.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 21</h5>
                        
                        <h6>FÁBULA ELEITORAL PARA CRIANÇAS</h6>
                        <p class="texto_paragrafo">Um dia, as coisas da natureza quiseram eleger o rei ou a rainha do universo. Os três reinos entraram logo a confabular. Entre os bichos era um tumulto formidável. Bandos de periquitos saíram em caravana eleitoral, matilhas de cães discursavam dentro da noite, cáfilas de camelos percorriam os desertos, formigas realizavam comícios fantásticos, a rainha das abelhas passava com o seu séquito, sem falar nos cardumes de peixes, nos lobos em alcateias pelos montes, nas manadas de búfalos pelas savanas, nas revoadas instantâneas dos pombos-correios.</p>
                        <div style="text-align:right;"><small>CAMPOS, Paulo Mendes. Fábula eleitoral... Para gostar de ler: crônicas. 2. ed. São Paulo: Ática, 1980. v. 5. Adaptado.</small></div>
                        
                        <br>
                        <p class="card-text">Ao ler o texto, é possível notar que a história é contada por:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q21" value="A" maxlength="1"> um dos animais que se envolveu na eleição.</li>
                                <li><input type="radio" name="q21" value="B" maxlength="1"> um narrador que também é personagem da história.</li>
                                <li><input type="radio" name="q21" value="C" maxlength="1"> um narrador que não participa da história.</li>
                                <li><input type="radio" name="q21" value="D" maxlength="1"> reis e rainhas que são personagens da história.</li>
                            </ol>
                        </div>
                    </div>
                                                                               
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 22</h5>
                        
                        <h6>SOL: LUZ E VIDA</h6>
                        <p class="texto_paragrafo">O Sol é considerado uma estrela pequena, comparado com as grandes estrelas que são milhares de vezes maiores que ele. Como uma grande esfera de gases a altíssimas temperaturas, o Sol é formado principalmente por hidrogênio e hélio, e está bem longe da Terra: cerca de 150 milhões de quilômetros. Sua luz leva pouco mais de oito minutos para atingir a superfície terrestre.</p>
                        <p class="texto_paragrafo">A radiação emitida pelo Sol é fonte de vida e de energia essencial para a Terra. A energia solar impulsiona as correntes atmosféricas e marítimas, faz evaporar a água (que depois cai como chuva e neve) e estimula o processo de fotossíntese das plantas (que fornece a energia para a sobrevivência dos organismos vivos).</p>
                        <div style="text-align:right;"><small>Fonte: <a href="http://www.canalkids.com.br/cultura/ciencias/astronomia/sol.htm" target="_blank">www.canalkids.com.br</a></small></div>
                        
                        <br>
                        <p class="card-text">De acordo com o texto, a energia solar também é responsável pela:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q22" value="A" maxlength="1"> distância entre a Terra e Sol.</li>
                                <li><input type="radio" name="q22" value="B" maxlength="1"> evaporação da água.</li>
                                <li><input type="radio" name="q22" value="C" maxlength="1"> falta de energia na Terra.</li>
                                <li><input type="radio" name="q22" value="D" maxlength="1"> dificuldade no processo de fotossíntese.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 23</h5>
                        
                        <p class="texto_paragrafo">O Cristo Redentor é um monumento localizado na Cidade do Rio de Janeiro.</p>
                        <div class="text-center">
                          <img class="img-fluid" src="/img/simulado4/23.png" alt="">
                        </div>
                        <p>O número que representa o ano em que ele foi inaugurado pode ser decomposto em:</pclass=>
                        <p style="text-align: center;" class="h5"><strong>1 × 1000 + 9 × 100 + 3 × 10 + 1</strong></p>
                        
                        <br>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q23" value="A" maxlength="1"> 1931</li>
                                <li><input type="radio" name="q23" value="B" maxlength="1"> 1319</li>
                                <li><input type="radio" name="q23" value="C" maxlength="1"> 1913</li>
                                <li><input type="radio" name="q23" value="D" maxlength="1"> 1391</li>
                            </ol>
                        </div>
                    </div>
                    
                  
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 24</h5>
                        
                        <p>Eduardo comprou uma máquina fotográfica; já pagou 50% do valor total e ainda deve R$ 140,00.</p>
                        <p>Qual o preço total da máquina de Eduardo?</p>
                        
                        <br>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q24" value="A" maxlength="1"> R$ 70,00</li>
                                <li><input type="radio" name="q24" value="B" maxlength="1"> R$ 50,00</li>
                                <li><input type="radio" name="q24" value="C" maxlength="1"> R$ 280,00</li>
                                <li><input type="radio" name="q24" value="D" maxlength="1"> R$ 190,00</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 25</h5>
                        <p class="card-text">Observe a imagem que apresenta as medidas de altura de duas amigas. </p>
                        <div class="text-center">
                            <img src="/img/simulado4/25.png" alt="Imagem" class="img-fluid">
                        </div>
                        <br>
                        <p class="card-text">A altura de Luana é de:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q25" value="A" maxlength="1"> 1,50 m</li>
                                <li><input type="radio" name="q25" value="B" maxlength="1"> 0,18 m</li>
                                <li><input type="radio" name="q25" value="C" maxlength="1"> 1,24 m</li>
                                <li><input type="radio" name="q25" value="D" maxlength="1"> 1,40 m</li>
                            </ol>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 26</h5>
                        <p class="card-text">Na jarra de suco abaixo, cabem 2 litros de suco.</p>
                        <div class="text-center">
                            <img src="/img/simulado4/26.png" alt="Jarra de suco" class="img-fluid">
                        </div>
                        <br>
                        <p class="card-text">Então, a quantidade de suco existente na jarra é, aproximadamente:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q26" value="A" maxlength="1"> 4 litros</li>
                                <li><input type="radio" name="q26" value="B" maxlength="1"> 2 litros</li>
                                <li><input type="radio" name="q26" value="C" maxlength="1"> 1 litro</li>
                                <li><input type="radio" name="q26" value="D" maxlength="1"> meio litro</li>
                            </ol>
                        </div>
                    </div>
                    
  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 27</h5>
                        <p class="card-text">Beto, Luís, Ivan e João deveriam desenhar uma figura de quatro lados iguais.</p>
                        <p class="card-text">Veja o que eles fizeram.</p>
                        <div class="text-center">
                            <img src="/img/simulado4/27.png" alt="Desenhos de Beto, Luís, Ivan e João" class="img-fluid">
                        </div>
                        <br>
                        <p class="card-text">Qual desses meninos desenhou a figura correta?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q27" value="A" maxlength="1"> Beto</li>
                                <li><input type="radio" name="q27" value="B" maxlength="1"> Luís</li>
                                <li><input type="radio" name="q27" value="C" maxlength="1"> Ivan</li>
                                <li><input type="radio" name="q27" value="D" maxlength="1"> João</li>
                            </ol>
                        </div>
                    </div>                                                                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
      
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
  
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                                        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
         
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
     
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>