<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QUARTO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">QUARTO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/envio_quarto_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

   
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1: (PROEB)</h5>
                        <p class="card-text">Leia o texto abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/1.png" alt="Saúde. Abril, nov. 2007."></div>
                        <br>
                        <p class="card-text">De acordo com esse texto, qual é a solução que está nas mãos das pessoas?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1"> A fabricação de sacos plásticos.</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1"> A preservação do planeta.</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1"> O consumo de produtos.</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1"> O cuidado com o sapo-dourado.</li>
                            </ol>
                        </div>
                    </div>
                    

                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2: (SAEP 2013)</h5>
                        <p class="card-text">Leia o texto abaixo e responda:</p>
                        <h5>O terremoto do gelo</h5>
                        <p class="card-text texto_paragrafo">O tão falado aumento da temperatura do planeta não produz somente ondas de calor na Índia ou secas na África: também provoca terremotos no Alasca. Pelo menos é o que diz um estudo de cientistas da Nasa e do Departamento de Pesquisas Geológicas dos Estados Unidos (USGS). De acordo com a pesquisa, conforme as geleiras derretem, diminui a pressão sobre a crosta. Dessa forma, as placas tectônicas daquela região podem se mover com maior liberdade.</p>
                        <br>
                        <div style="text-align:right;"><small>Terra, set. 2004, p.12</small></div>
                        <br>
                        <p class="card-text">Esse texto serve para o leitor</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1"> se informar.</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1"> se divertir.</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1"> receber uma instrução.</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1"> receber um aviso.</li>
                            </ol>
                        </div>
                    </div>
                                                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3: (SADEAM)</h5>
                        <p class="card-text">Leia o texto abaixo:</p>
                        <h5>Tulipas da holanda</h5>
                        <p class="card-text texto_paragrafo">Todos os anos, durante a primavera, gente de todo o mundo procura um pequeno parque colorido e perfumado, cheio de lagos e flores, na Holanda. Ali se encontra a famosa tulipa, a flor nacional do país. A floricultura é uma fonte de renda na Holanda e a cultura dessa flor constitui a base dessa renda. O valor das tulipas está no tamanho das flores e na sua coloração. Suas cores são variadas, mas a Rainha da Noite é a mais apreciada pela sua raridade. É também conhecida como tulipa negra, embora sua cor seja azul-roxo bem escuro.</p>
                        <br>
                        <div style="text-align:right;"><small>DIAS, Ieda; CARVALHO, Aciléia. Tulipas da Holanda. In: Bolhas de sabão. Belo Horizonte: Vigília, 1987. Fragmento.</small></div>
                        <br>
                        <p class="card-text">De acordo com esse texto, a expressão “Rainha da Noite” refere-se</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1"> à margem do lago.</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1"> à tulipa negra.</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1"> às cores na primavera.</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1"> às flores dos lagos.</li>
                            </ol>
                        </div>
                    </div>
                    
      
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4</h5>
                        <p class="card-text">Leia o texto abaixo a abaixo e responda:</p>
                        <h5>CORAÇÃO CONTA DIFERENTE</h5>
                        <p class="card-text texto_paragrafo">7 X 5 = 45 ...</p>
                        <p class="card-text texto_paragrafo">O Renato começou a rir e cochichou comigo: – Essa menina é meio lelé. Eu não ri nem falei nada. Mas uma coisa, lá dentro da minha cabeça, me disse que 7 X 5 = 35. Como foi a Adriana que tinha escrito no quadro, eu não percebi o erro. Aquele 4 que ela desenhou tão certinho no lugar do 3 era tão bonito! Até os números da Adriana são lindos!</p>
                        <p class="card-text texto_paragrafo">– Tá errado, tia! Tá errado! – gritou, toda esganiçada, a Carina. A tia então mandou a Adriana sentar. [...] Ela ficou com a cabeça abaixada um tempão. [...]</p>
                        <p class="card-text texto_paragrafo">Aí, arranquei a beiradinha da última página do meu caderno e escrevi: Não liga, Adriana. O 45 que você escreve é tão lindo quanto o seu cabelo. [...] Fiz bem depressa uma bolinha com o bilhete dobrado, mirei joguei. Ela caiu no colo da Adriana.</p>
                        <br>
                        <div style="text-align:right;"><small>ALBERGARIA, Lino de. Coração conta diferente. 3.ed. São Paulo: Scipione, 1994. Fragmento.</small></div>
                        <br>
                        <p class="card-text">Quem conta essa história é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1"> a menina que errou a tabuada.</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1"> a menina que gritou “Tá errado!”.</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1"> o menino que começou a rir.</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1"> o menino que escreveu o bilhete.</li>
                            </ol>
                        </div>
                    </div>
                    
                    
  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5: (SAERJ)</h5>
                        <p class="card-text">Leia o texto abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado4/5.png" alt="Imagem da Revista Recreio"></div>
                        <br>
                        <div style="text-align:right;"><small>Revista Recreio Ano 2 nº 67. Pág 5</small></div>
                        <br>
                        <p class="card-text">No trecho “<b>Antes</b> da criação dos selos...”, a palavra destacada indica uma relação de</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1"> causa.</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1"> lugar.</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1"> negação.</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1"> tempo.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
   
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
      
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">


                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
           
               
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
              
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">                   

                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                                                       
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                         
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
      
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
  
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                                        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
         
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
     
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>