<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QUINTO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">QUINTO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/envio_quinto_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.<br>Quando crescer, vou ser... ambientalista! (Fragmento)</p>
                        <p class="card-text texto_paragrafo">Efeito estufa, destruição da camada de ozônio, poluição, desmatamento, aquecimento global... Você já ouviu alguma dessas expressões? Ora, que pergunta!<br>É claro que sim. Afinal de contas, há alguns anos esses temas ganham cada vez mais destaque nos meios de comunicação. Jornais, revistas, tevês, Internet chamam a atenção para as mudanças que estão ocorrendo no meio ambiente, especialmente sobre os impactos negativos das ações do homem. E quem é que fala desses assuntos? Quase sempre, os ambientalistas. Ambientalistas são todos aqueles que transformam em ações o ideal de que a relação entre as pessoas e o meio ambiente deve ser o menos predatória possível.</p>
                        <br>
                        <p  class="text-right"><small>http://www.cienciahoje.ul.com.br</small></p>
                        <br>
                        <p class="card-text">O uso das reticências na segunda linha indica para o leitor que há</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1"> algumas expressões que não devem ser apresentadas.</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1"> várias transformações a serem feitas no meio ambiente.</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1"> outras expressões que se destacam no tema sobre meio ambiente.</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1"> muitas dúvidas sobre as situações restritas ao meio ambiente.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2</h5>
                        <p class="card-text">Observe a história em quadrinhos abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/2.png" alt="História em quadrinhos"></div>
                        <br>
                        <p class="card-text">Esse texto é engraçado, porque</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1"> a menina ficou toda satisfeita com o beijo.</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1"> a menina pediu segredo, mas contou sobre o beijo.</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1"> o menino ficou assustado com o beijo.</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1"> o menino prometeu guardar segredo sobre o beijo.</li>
                            </ol>
                        </div>
                    </div>
                                                      
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3: (PROEB)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.<br>E aí tem a do foguete espacial. O eletricista foi consertar o foguete. Demorou a achar o defeito. Quando terminou e ia sair, estava tudo fechado. Ele tentou se comunicar com a torre de comando, mas foi jogado ao chão com o impacto do foguete começando a subir. Correu para a cabine e viu um homenzinho verde dirigindo o foguete.<br>— Para onde estamos indo?<br>E o homenzinho:<br>— Você eu não sei. Eu estou voltando pra casa.</p>
                        <br>
                        <p  class="text-right"><small>Ziraldo. As últimas anedotinhas do Bichinho da Maçã. São Paulo: Melhoramentos, 2005, p. 39.</small></p>
                        <br>
                        <p class="card-text">O homenzinho verde que estava dirigindo o foguete era um</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1"> anão de jardim de roupa verde.</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1"> astronauta em treinamento.</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1"> ladrão roubando o foguete.</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1"> marciano voltando pra casa.</li>
                            </ol>
                        </div>
                    </div>
                         
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4: (AvaliaBH)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo:<br><strong>Casaco de passarinho</strong></p>
                        <p class="card-text texto_paragrafo">Era uma árvore interessante, bonita e absolutamente disciplinada. Todos os anos seguia a mesma rotina: se enchia de folhas e flores na primavera, continuava alegremente vestida no verão, e quando chegava o outono, começava a tirar a roupa: quanto mais o tempo esfriava, mais roupa ela tirava. No inverno, todas as folhas caíam e ela, completamente nua, aguentava o frio, sem dar um pio.</p>
                        <p class="card-text texto_paragrafo">Um dia, porém, a árvore se manifestou: “Atchim!” “Saúde”, responderam os passarinhos, aflitos, recolhendo seus ovos dos ninhos.</p>
                        <p class="card-text texto_paragrafo">Foi aí que alguns pardais, com pena da pobre árvore pelada, tiveram a ideia de ficar um pertinho do outro, asa com asa. Perfilados e juntos, os passarinhos fizeram um enorme cachecol para a árvore. O inverno terminou, as folhas voltaram, e quando veio a primavera, a árvore agradeceu mandando mais flores. No verão seguinte, ela deu muitos frutos a mais do que sempre tinha dado. Os passarinhos comeram como nunca, tiveram grandes ninhadas e, no inverno seguinte, além do cachecol, a árvore ganhou casaco, luvas e até um gorro, feito do corpo quente dos passarinhos felizes.</p>
                        <p class="text-right"><small>FRATE, Diléa. Histórias para acordar. São Paulo: Companhia das Letrinhas, 1999. *Adaptado: reforma ortográfica.</small></p>
                        <p class="card-text">No trecho “...aguentava o frio sem dar <b>um pio</b>.”, a parte destacada informa que a árvore ficava</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1"> cheia de alegria.</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1"> cheia de música.</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1"> em silêncio.</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1"> sem as flores.</li>
                            </ol>
                        </div>
                    </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <br>   
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5: (SPAECE)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/5.png" alt="Texto"></div>
                        <br>
                        <p class="text-right"><small>www.meninomaluquinho.com.br</small></p>
                        <br>
                        <p class="card-text">Esse texto é engraçado porque</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1"> a mulher estava muito brava com o menino.</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1"> a mulher segurava um chinelo para bater no menino.</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1"> o menino levou a culpa por vestir-se como o Maluquinho.</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1"> o menino usava uma roupa muito grande.</li>
                            </ol>
                        </div>
                    </div>
                    
                        
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 6: (CAED UFJF – MG/2010)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo e responda:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/6.png" alt="Texto"></div>
                        <br>
                        <p class="card-text">Na frase “Nossa! Que doce enorme!”, o ponto de exclamação indica</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1"> decepção.</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1"> espanto.</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1"> raiva.</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1"> tristeza.</li>
                            </ol>
                        </div>
                    </div>
                                       
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 7</h5>
                        <p class="card-text texto_paragrafo">CIDADANIA, DIREITO DE TER DIREITOS</p>
                        <p class="card-text texto_paragrafo">Cidadania é o direito de ter uma ideia e poder expressá-la. É poder votar em quem quiser sem constrangimento. [...] Há detalhes que parecem insignificantes, mas revelam estágios de cidadania: respeitar o sinal vermelho no trânsito, não jogar papel na rua, não destruir telefones públicos. Por trás desse comportamento está o respeito à coisa pública. [...] Foi uma conquista dura. Muita gente lutou e morreu para que tivéssemos o direito de votar.</p>
                        <br>
                        <p class="text-right"><small class="text-right">DIMENSTEIN, Gilberto.<br>Disponível em: https://drive.google.com/file/d/0BzPewewkSxkzUkpmSkljOTY1d1k/edit. Acesso em: 23 de julho de 2019.</small></p>
                        <br>
                        <p class="card-text">O trecho que indica uma opinião em relação à cidadania é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1"> ...“é o direito de ter uma ideia e poder expressá-la...”.</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1"> ...“É poder votar em quem quiser...”.</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1"> ...“revelam estágios de cidadania...”</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1"> ... “Foi uma conquista dura. ”</li>
                            </ol>
                        </div>
                    </div>
                    
                      </div>
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 8: (SARESP)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto e responda.</p>
                        <p class="card-text texto_paragrafo">QUERIDOS LEITORES</p>
                        <p class="card-text texto_paragrafo">Eu sempre gostei muito de livros, de revistas e de jornais. Eu passava todo tempo esperando ganhar um novo livro, esperando o Tico-Tico, que era uma revista que saía às quartas-feiras, e esperando que chegasse o Almanaque do Tico-Tico, que saía sempre perto do Natal.</p>
                        <p class="card-text texto_paragrafo">Era um livro grande e colorido e falava de tudo um pouco: de coisas sérias e de coisas engraçadas; histórias e lendas, brincadeiras e anedotas, adivinhações e enigmas. Há muitos anos não se publica o Almanaque do Tico-Tico.</p>
                        <p class="card-text texto_paragrafo">Então eu resolvi fazer um almanaque destinado a meus queridos leitores. Escolhi uma porção de histórias, brincadeiras, piadas e adivinhações, muitas poesias, brinquedos que a gente mesmo pode fazer e mais muitas surpresas. Espero que vocês gostem tanto quanto eu gostava do meu velho Tico-Tico. Um beijo da RUTH ROCHA.</p>
                        <p class="text-right"><small>Fonte: ROCHA, Ruth. Almanaque Ruth Rocha. São Paulo: Ática, 2005. p. 9</small></p>
                        <p class="card-text">Pelo contexto, é possível verificar que a expressão “Queridos leitores” e o termo “vocês” foram utilizados pela autora para se dirigir a</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A" maxlength="1"> crianças.</li>
                                <li><input type="radio" name="q8" value="B" maxlength="1"> bibliotecários.</li>
                                <li><input type="radio" name="q8" value="C" maxlength="1"> adultos.</li>
                                <li><input type="radio" name="q8" value="D" maxlength="1"> professores.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 9: (PAEBES)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.</p>
                        <p class="card-text texto_paragrafo">COMO O AVIÃO VOA?</p>
                        <p class="card-text texto_paragrafo">O segredo está no equilíbrio de quatro forças aerodinâmicas que atuam durante o voo. São as asas que garantem aos mais diferentes tipos de avião a sustentação necessária para voar. Além da sustentação, outras três forças atuam sobre um aeroplano durante o voo: a gravidade, a resistência do ar (ou arrasto) e a tração (ou empuxo). Ao voar, a máquina compensa a força da gravidade com a sustentação gerada pelas asas e supera a resistência do ar com o empuxo dos motores. Para mudar a altitude (subir ou descer), é preciso aumentar ou reduzir a potência dos motores (o que eleva ou diminui a sustentação).</p>
                        <p class="card-text texto_paragrafo">Essas quatro forças também estão presentes na decolagem e no pouso. É o controle da atuação de cada uma delas que explica como uma máquina tão pesada consegue ir voando de um aeroporto a outro.</p>
                        <p class="text-right"><small>SOUZA, José Maria Rodrigues. Nova Escola, ano 22, n.200, p.26. Fragmento.</small></p>
                        <p class="card-text">No título "Como o avião voa?", o ponto de interrogação foi usado para</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A" maxlength="1"> despertar a curiosidade do leitor.</li>
                                <li><input type="radio" name="q9" value="B" maxlength="1"> esclarecer as dúvidas do leitor.</li>
                                <li><input type="radio" name="q9" value="C" maxlength="1"> provocar espanto no leitor.</li>
                                <li><input type="radio" name="q9" value="D" maxlength="1"> verificar os conhecimentos do leitor.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 10: (SEPR)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo:</p>
                        <div class="text-center">
                          <img src="/img/simulado5/10.png" alt="Imagem da questão 10">
                        </div>
                        <p class="text-right"><small>Fonte: <a href="http://www.monica.com.br/comics/tirinhas/tira2.htm">http://www.monica.com.br/comics/tirinhas/tira2.htm</a></small></p>
                        <p class="card-text">Identifique na tira o efeito de humor</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A" maxlength="1"> Os dois cachorros queriam sair com a cachorrinha por isso estavam lutando.</li>
                                <li><input type="radio" name="q10" value="B" maxlength="1"> Nenhum dos cachorros queria sair com a cachorrinha por isso estavam lutando.</li>
                                <li><input type="radio" name="q10" value="C" maxlength="1"> A cachorrinha queria sair somente com Bidu.</li>
                                <li><input type="radio" name="q10" value="D" maxlength="1"> A cachorrinha não queria sai com nenhum dos cachorros.</li>
                            </ol>
                        </div>
                    </div>
                                                                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 11: (Projeto conseguir - DC)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo:</p>
                        <p class="texto_paragrafo text-center">
                            O BICHO<br>
                            Vi ontem um bicho<br>
                            Na imundície do pátio<br>
                            Catando comida entre os detritos.<br>
                            Quando achava alguma coisa,<br>
                            Não examinava nem cheirava:<br>
                            Engolia com voracidade.<br>
                            O bicho não era um cão,<br>
                            Não era um gato,<br>
                            Não era um rato.<br>
                            O bicho, meu Deus, era um homem.<br>
                        </p>
                        <p class="text-right"><small>Manuel Bandeira <a href="http://pensador.uol.com.br/poemas_de_manuel_bandeira">http://pensador.uol.com.br/poemas_de_manuel_bandeira</a></small></p>
                        <p class="card-text">O verso que indica a ideia de tempo é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q11" value="A" maxlength="1"> ”Vi ontem um bicho” (ℓ. 1).</li>
                                <li><input type="radio" name="q11" value="B" maxlength="1"> “O bicho não era um cão” (ℓ. 7).</li>
                                <li><input type="radio" name="q11" value="C" maxlength="1"> “Na imundície do pátio” (ℓ. 2).</li>
                                <li><input type="radio" name="q11" value="D" maxlength="1"> ”não era um rato” (ℓ. 9).</li>
                            </ol>
                        </div>
                    </div>
                                        
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 12: (SAEMI - PE)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.</p>
                        <img src="/img/simulado5/12.png" alt="Imagem da Questão 12">
                        <p class="text-right"><small>Disponível em: <a href="http://www.gazetadopovo.com.br/charges/index.phtml?ch=Marchesini">http://www.gazetadopovo.com.br/charges/index.phtml?ch=Marchesini</a>. Acesso em: 24 set. 2013)</small></p>
                        <p class="card-text">Nesse texto, o homem</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q12" value="A" maxlength="1"> concerta as cadeiras.</li>
                                <li><input type="radio" name="q12" value="B" maxlength="1"> cria uma forma de dormir.</li>
                                <li><input type="radio" name="q12" value="C" maxlength="1"> inventa uma brincadeira.</li>
                                <li><input type="radio" name="q12" value="D" maxlength="1"> limpa as cadeiras.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 13: (SAEPI)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.</p>
                        <p class="texto_paragrafo">O segredo do farol</p>
                        <p class="texto_paragrafo">Tio Damião é faroleiro numa ilha. À noite, ele acende o farol para os navios não se chocarem com os recifes do mar.</p>
                        <p class="texto_paragrafo">Cícero e Dedé foram visitar Tio Damião e viram que ele estava apavorado.</p>
                        <p class="texto_paragrafo">– Coisas estranhas estão acontecendo. Todas as noites, um vulto gigante assusta a mim e o meu cachorro Sagu – disse Tio Damião.</p>
                        <p class="texto_paragrafo">Cícero e Dedé adoram aventuras. À noite, subiram as escadas do farol, acompanhados de Sagu, e foram investigar o mistério.</p>
                        <p class="texto_paragrafo">Lá em cima não viram nada. Resolveram dormir ali para ver o que aconteceria.</p>
                        <p class="texto_paragrafo">Já era bem tarde, quando acordaram com um barulho estranho numa das janelas do farol. Logo depois houve silêncio.</p>
                        <p class="texto_paragrafo">Os meninos criaram coragem e foram ver o que era.</p>
                        <p class="texto_paragrafo">– Oh! Então é isso que apavora o Tio Damião?! – exclamaram.</p>
                        <p class="texto_paragrafo">Era um pequeno pelicano que, depois das pescarias noturnas, vinha secar-se à luz do farol.</p>
                        <p class="texto_paragrafo">Sua sombra se projetava, aumentada sobre uma pedra em frente, e dava a impressão de ser um monstro.</p>
                        <p class="texto_paragrafo">Tio Damião riu muito, quando as crianças lhe contaram a descoberta.</p>
                        <p class="texto_paragrafo">– Vejam só! Eu, um velho lobo do mar, com medo de um pelicano!</p>
                        <p class="texto_paragrafo">Agora, Tio Damião tem outro amigo na ilha. Só que de vez em quando precisa tirar o dorminhoco da frente da luz do farol.</p>
                        <p class="text-right"><small>Disponível em: <a href="http://www.contandohistoria.com/farol.htm">http://www.contandohistoria.com/farol.htm</a>. Acesso em: 21 ago. 2012.</small></p>
                        <p class="card-text">O fato que deu início à história contada nesse texto foi</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q13" value="A" maxlength="1"> a coragem dos meninos.</li>
                                <li><input type="radio" name="q13" value="B" maxlength="1"> a visita feita por Cícero e Dedé.</li>
                                <li><input type="radio" name="q13" value="C" maxlength="1"> o amigo do Tio Damião.</li>
                                <li><input type="radio" name="q13" value="D" maxlength="1"> o vulto que assustava Tio Damião.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">       
                     <div class="container">
    <h5 class="card-title">QUESTÃO 14: (Reforço Digital – RJ)</h5>
    <p class="card-text texto_paragrafo">Leia o texto a seguir e responda.</p>
    <p class="card-text texto_paragrafo">Galo de campina</p>
    <p class="card-text texto_paragrafo">O galo de campina, conhecido na Amazônia por tangará, pertence à família do cardeal. Suas penas são escuras, mas a cabeça e o pescoço são vermelhos. Alimenta-se de sementes, frutinhas e insetos.</p>
    <p class="card-text texto_paragrafo">Vive em bandos nas caatingas do Nordeste e no Brasil Central, do mesmo jeito que outro pássaro, o currupião. Os dois são considerados as mais belas aves da região.</p>
    <p class="card-text texto_paragrafo">O galo de campina não canta quando está engaiolado. Só canta em liberdade, numa certa época do ano, e de manhã bem cedinho.</p>
    <p class="card-text texto_paragrafo">Em Alagoas, onde ele tem fama de cantor, é treinado e vendido a preços muito elevados.</p>
    <p class="text-right"><small>Secretaria da Educação/FDE. Ler e escrever: livro de textos do aluno. São Paulo, 2008.</small></p>
    <p class="card-text">De acordo com o texto, o galo de campina tem fama de cantor</p>
    <div class="form-group">
        <ol type="A">
            <li><input type="radio" name="q14" value="A" maxlength="1"> no Brasil Central.</li>
            <li><input type="radio" name="q14" value="B" maxlength="1"> na Amazônia.</li>
            <li><input type="radio" name="q14" value="C" maxlength="1"> no Nordeste.</li>
            <li><input type="radio" name="q14" value="D" maxlength="1"> em Alagoas.</li>
        </ol>
    </div>
</div>
                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
    <h5 class="card-title">QUESTÃO 15: (SADEAM)</h5>
    <p class="card-text texto_paragrafo">Leia o texto abaixo:</p>
    <div class="text-center"><img class="img-fluid" src="/img/simulado5/15.png" alt=""></div>
    <p class="text-right"><small>2006 MSP – Editora Globo Maurício de Sousa Nº 463.</small></p>
    <p class="card-text">Esse texto é engraçado porque</p>
    <div class="form-group">
        <ol type="A">
            <li><input type="radio" name="q15" value="A" maxlength="1"> o menino entende mal o sentido da expressão “acompanhamento escolar”.</li>
            <li><input type="radio" name="q15" value="B" maxlength="1"> o menino está precisando estudar mais algumas matérias da escola.</li>
            <li><input type="radio" name="q15" value="C" maxlength="1"> o professor diz que o menino foi ao lugar certo.</li>
            <li><input type="radio" name="q15" value="D" maxlength="1"> o professor fica em dúvida sobre o que o menino deseja.</li>
        </ol>
    </div>
</div>

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 16: (3ª P.D SEDUC-GO)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo e, a seguir, responda.</p>
                        <p class="card-text texto_paragrafo">História de “nunca acabar”</p>
                        <p class="card-text texto_paragrafo">Tradição popular</p>
                        <p class="card-text texto_paragrafo">Era uma vez um homem que tinha um buraco no dente; dentro desse buraco havia uma caixinha; dentro dessa caixinha havia um papelzinho; nesse papelzinho estava escrito assim: era uma vez um homem que tinha um buraco no dente; dentro desse buraco havia uma caixinha; dentro dessa caixinha havia um papelzinho; nesse papelzinho estava escrito assim: era uma vez um homem que tinha um buraco no dente...</p>
                        <p class="text-right"><small>Disponível em: Kanashiro, Áurea Regina. Projeto Pitanguá, São Paulo, 2005. Ed. Moderna, p. 204.</small></p>
                        <p class="card-text">O emprego da reticência no final do texto indica</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q16" value="A" maxlength="1"> continuidade.</li>
                                <li><input type="radio" name="q16" value="B" maxlength="1"> interrupção.</li>
                                <li><input type="radio" name="q16" value="C" maxlength="1"> certeza.</li>
                                <li><input type="radio" name="q16" value="D" maxlength="1"> dúvida.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 17</h5>
                        <p class="card-text texto_paragrafo">Leia o texto e responda à questão.</p>
                        <p class="card-text texto_paragrafo">O TERREMOTO</p>
                        <p class="card-text texto_paragrafo">Depois do terremoto, apenas uma casa ficou de pé.</p>
                        <p class="card-text texto_paragrafo">— Por que você ficou de pé, sua casa doida, não sabe que houve um terremoto — advertiu a bruxa.</p>
                        <p class="card-text texto_paragrafo">— Um terremoto?! — repetiu a casa com as janelas esbugalhadas.</p>
                        <p class="card-text texto_paragrafo">E foi tratando logo de desabar também com medo da bruxa.</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/17.png" alt=""></div>
                        <p class="text-right"><small>DIDIMO, Horário. As historinhas do mestre jabuti. Fortaleza: Edições Demócrito Rocha, 2003, p. 23.</small></p>
                        <p class="card-text">A casa que estava em pé desabou</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q17" value="A" maxlength="1"> por causa de um terremoto.</li>
                                <li><input type="radio" name="q17" value="B" maxlength="1"> porque teve medo da bruxa.</li>
                                <li><input type="radio" name="q17" value="C" maxlength="1"> porque era uma casa doida.</li>
                                <li><input type="radio" name="q17" value="D" maxlength="1"> por causa das janelas abertas.</li>
                            </ol>
                        </div>
                    </div>
                    
     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 18</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.</p>
                        <p class="card-text texto_paragrafo_poema h5">Identidade</p>
                        <br>
                        <p class="card-text texto_paragrafo_poema">Às vezes nem eu mesmo</p>
                        <p class="card-text texto_paragrafo_poema">Sei quem sou.</p>
                        <p class="card-text texto_paragrafo_poema">Às vezes sou</p>
                        <p class="card-text texto_paragrafo_poema">“o meu queridinho”,</p>
                        <p class="card-text texto_paragrafo_poema">Às vezes sou</p>
                        <p class="card-text texto_paragrafo_poema">“moleque malcriado”.</p>
                        <p class="card-text texto_paragrafo_poema">Para mim</p>
                        <p class="card-text texto_paragrafo_poema">Tem vezes que sou rei,</p>
                        <p class="card-text texto_paragrafo_poema">Herói voador,</p>
                        <p class="card-text texto_paragrafo_poema">Caubói lutador, jogador campeão.</p>
                        <p class="card-text texto_paragrafo_poema">Às vezes sou pulga,</p>
                        <p class="card-text texto_paragrafo_poema">Sou mosca também,</p>
                        <p class="card-text texto_paragrafo_poema">Que voa e se esconde</p>
                        <p class="card-text texto_paragrafo_poema">De medo e vergonha.</p>
                        <p class="card-text texto_paragrafo_poema">Às vezes eu sou Hércules,</p>
                        <p class="card-text texto_paragrafo_poema">Sansão vencedor,</p>
                        <p class="card-text texto_paragrafo_poema">Peito de aço,</p>
                        <p class="card-text texto_paragrafo_poema">Goleador!</p>
                        <p class="card-text texto_paragrafo_poema">Mas o que importa</p>
                        <p class="card-text texto_paragrafo_poema">O que pensam de mim?</p>
                        <p class="card-text texto_paragrafo_poema">Eu sou quem sou,</p>
                        <p class="card-text texto_paragrafo_poema">Eu sou eu,</p>
                        <p class="card-text texto_paragrafo_poema">Sou assim, sou menino.</p>
                        <p class="text-right"><small>Bandeira, Pedro. Cavalgando o Arco-Íris. São Paulo, Moderna, 2002.</small></p>
                        <p class="card-text">Esse texto é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q18" value="A" maxlength="1"> um anúncio.</li>
                                <li><input type="radio" name="q18" value="B" maxlength="1"> um poema.</li>
                                <li><input type="radio" name="q18" value="C" maxlength="1"> uma fábula.</li>
                                <li><input type="radio" name="q18" value="D" maxlength="1"> uma piada.</li>
                            </ol>
                        </div>
                    </div>
                                                                            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 19</h5>
                        <p class="card-text texto_paragrafo">Leia o Texto a seguir e responda.</p>
                        <p class="card-text texto_paragrafo">Livro é demais</p>
                        <p class="card-text texto_paragrafo">O Pedro Elias Lins aniversariou no último dia 12. Como é um sujeito legal, a turma da firma onde trabalho resolveu fazer-lhe uma surpresa, naturalmente com o apoio do patrão José Ailton Torres.</p>
                        <p class="card-text texto_paragrafo">Aí, salta dona Elúsia, secretária do chefão:</p>
                        <p class="card-text texto_paragrafo">― O que é que a gente dá de presente pra ele?</p>
                        <p class="card-text texto_paragrafo">Zé Vicente, o contínuo, sugeriu:</p>
                        <p class="card-text texto_paragrafo">― Dá um livro!</p>
                        <p class="card-text texto_paragrafo">Na hora, Zé Aílton rebateu:</p>
                        <p class="card-text texto_paragrafo">- Livro, não! Ele já tem um!</p>
                        <p class="text-right"><small>(Gazeta de Alagoas, Maceió, 14/4/98.)</small></p>
                        <p class="card-text">O assunto do texto é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q19" value="A" maxlength="1"> a compra do presente.</li>
                                <li><input type="radio" name="q19" value="B" maxlength="1"> a festa da firma.</li>
                                <li><input type="radio" name="q19" value="C" maxlength="1"> o aniversário do chefe.</li>
                                <li><input type="radio" name="q19" value="D" maxlength="1"> o presente do contínuo.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 20</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo e responda:</p>
                        <p class="text-center"><img src="/img/simulado5/20.png" alt="Imagem da Questão 20"></p>
                        <p class="text-right"><small>Fonte: www.clasar.com.br</small></p>
                        <p class="card-text">A expressão “Que legal!” no terceiro quadrinho expressa a linguagem</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q20" value="A" maxlength="1"> formal.</li>
                                <li><input type="radio" name="q20" value="B" maxlength="1"> informal.</li>
                                <li><input type="radio" name="q20" value="C" maxlength="1"> regional.</li>
                                <li><input type="radio" name="q20" value="D" maxlength="1"> científica.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 21</h5>
                        <p class="card-text texto_paragrafo">Leia os textos abaixo e responda:</p>
                        <p class="card-text texto_paragrafo"><strong>Texto 1</strong></p>
                        <p class="card-text texto_paragrafo">Rubinho a mil por hora</p>
                        <p class="card-text texto_paragrafo">Desde criança, Rubens Barrichello é louco por corridas. Aos seis anos já voava nas pistas de Kart. Depois passou rápido pela Fórmula Ford, Fórmula Opel, Fórmula 3 e Fórmula 3000. Não parou por aí. foi o mais jovem piloto da história a entrar para a Fórmula 1, quando tinha apenas 20 anos.</p>
                        <p class="card-text texto_paragrafo"><strong>Texto 2</strong></p>
                        <p class="card-text texto_paragrafo">Vencer ou vencer</p>
                        <p class="card-text texto_paragrafo">Ayrton Senna sempre fez tudo muito rapidinho. Aos quatro anos ganhou o seu primeiro kart. Aos dez, já pilotava no Autódromo de Interlagos. Quando tinha 31 anos, era o mais jovem tricampeão da história da Fórmula 1. Vencer ou vencer era o seu lema.</p>
                        <p class="text-right"><small>Maurício de Sousa Produções. Manual de esportes do Cascão. São Paulo: Globo, 2003.</small></p>
                        <p class="card-text">Esses dois textos:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q21" value="A" maxlength="1"> apresentam uma biografia.</li>
                                <li><input type="radio" name="q21" value="B" maxlength="1"> convidam para corridas.</li>
                                <li><input type="radio" name="q21" value="C" maxlength="1"> incentivam o uso do kart.</li>
                                <li><input type="radio" name="q21" value="D" maxlength="1"> oferecem um prêmio.</li>
                            </ol>
                        </div>
                    </div>
                                                                                           
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 22</h5>
                        <p class="card-text texto_paragrafo">Leia o texto:</p>
                        <p class="card-text texto_paragrafo_poema"><strong>UM TRECO</strong></p>
                        <br>
                        <p class="card-text texto_paragrafo_poema">O sono abriu a boca</p>
                        <p class="card-text texto_paragrafo_poema">de dentro pulou a noite</p>
                        <p class="card-text texto_paragrafo_poema">a noite roncou tão alto</p>
                        <p class="card-text texto_paragrafo_poema">que o dia despertou.</p>
                        <p class="card-text texto_paragrafo_poema">Do dia pulou um treco</p>
                        <p class="card-text texto_paragrafo_poema">tinha um jeito de dragão,</p>
                        <p class="card-text texto_paragrafo_poema">resolveu ser astronauta,</p>
                        <p class="card-text texto_paragrafo_poema">caiu de bunda no chão.</p>
                        <p class="card-text texto_paragrafo_poema">O sol chegou atrasado,</p>
                        <p class="card-text texto_paragrafo_poema">tropeçou na ventania,</p>
                        <p class="card-text texto_paragrafo_poema">depois sorriu amarelo,</p>
                        <p class="card-text texto_paragrafo_poema">dizendo — Perdão, Bom dia!</p>
                        <p class="card-text texto_paragrafo_poema">Que treco que deu na noite?</p>
                        <p class="card-text texto_paragrafo_poema">Que coisa pulou no mundo?</p>
                        <p class="card-text texto_paragrafo_poema">Diz-que-diz que me disseram</p>
                        <p class="card-text texto_paragrafo_poema">que foi um sonho profundo.</p>
                        <p class="text-right"><small>A poesia é uma pulga. Sylvia Orthof, São Paulo, Atual, 1991</small></p>
                        <p class="card-text">Nesse texto, o uso do travessão (verso12) indica</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q22" value="A" maxlength="1"> a fala do sol.</li>
                                <li><input type="radio" name="q22" value="B" maxlength="1"> a previsão do tempo.</li>
                                <li><input type="radio" name="q22" value="C" maxlength="1"> a fala da autora.</li>
                                <li><input type="radio" name="q22" value="D" maxlength="1"> um resumo do texto.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">         
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 23: (AvaliaBH)</h5>
                        <p class="card-text">Veja a sequência de números abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/23.png" alt="Sequência de números"></div>
                        <p class="card-text">Nessa sequência, o símbolo está no lugar do número:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q23" value="A" maxlength="1"> 21</li>
                                <li><input type="radio" name="q23" value="B" maxlength="1"> 25</li>
                                <li><input type="radio" name="q23" value="C" maxlength="1"> 29</li>
                                <li><input type="radio" name="q23" value="D" maxlength="1"> 31</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 24: (SAERJ)</h5>
                        <p class="card-text">A professora pediu a três alunos que interpretassem o número abaixo:</p>
                        <p class="card-text operacao">135</p>
                        <p class="card-text">Veja o que eles fizeram:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/24.png" alt="Interpretação dos alunos"></div>
                        <p class="card-text">Quem acertou?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q24" value="A" maxlength="1"> Jane e Afonso.</li>
                                <li><input type="radio" name="q24" value="B" maxlength="1"> Jane e Mateus.</li>
                                <li><input type="radio" name="q24" value="C" maxlength="1"> Mateus e Afonso.</li>
                                <li><input type="radio" name="q24" value="D" maxlength="1"> Somente Jane.</li>
                            </ol>
                        </div>
                    </div>
                    

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 25: (SAEMI - PE)</h5>
                        <p class="card-text">Observe abaixo os objetos que Maíra levou para a aula de geometria:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/25.png" alt="Objetos de Maíra"></div>
                        <p class="card-text">Quais desses objetos lembram corpos redondos?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q25" value="A" maxlength="1"> I e II.</li>
                                <li><input type="radio" name="q25" value="B" maxlength="1"> I e III.</li>
                                <li><input type="radio" name="q25" value="C" maxlength="1"> I, III e V.</li>
                                <li><input type="radio" name="q25" value="D" maxlength="1"> II, IV e V.</li>
                            </ol>
                        </div>
                    </div>
                        
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 26: (PROEB)</h5>
                        <p class="card-text">Uma cidade tem 76 105 habitantes.</p>
                        <p class="card-text">O algarismo 7 ocupa nesse número a ordem da</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q26" value="A" maxlength="1"> centena de milhar.</li>
                                <li><input type="radio" name="q26" value="B" maxlength="1"> dezena de milhar.</li>
                                <li><input type="radio" name="q26" value="C" maxlength="1"> centena simples.</li>
                                <li><input type="radio" name="q26" value="D" maxlength="1"> dezena simples.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 27: (SAEP 2013)</h5>
                        <p class="card-text">Observando a reta numérica:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/27.png" alt="Reta numérica"></div>
                        <p class="card-text">A letra “N” representa o número</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q27" value="A" maxlength="1"> 46</li>
                                <li><input type="radio" name="q27" value="B" maxlength="1"> 43</li>
                                <li><input type="radio" name="q27" value="C" maxlength="1"> 48</li>
                                <li><input type="radio" name="q27" value="D" maxlength="1"> 47</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 28: (Projeto conseguir – DC)</h5>
                        <p class="card-text">Observe a imagem que apresenta a escalação dos times do 5º ano A e B. De acordo com o ponto de vista do goleiro do time B, o jogador de camisa nº 5 do seu time está posicionado:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/28.png" alt="Escalação dos times"></div>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q28" value="A" maxlength="1"> na lateral direita do campo.</li>
                                <li><input type="radio" name="q28" value="B" maxlength="1"> na lateral esquerda do campo.</li>
                                <li><input type="radio" name="q28" value="C" maxlength="1"> perto do goleiro do time A.</li>
                                <li><input type="radio" name="q28" value="D" maxlength="1"> na frente do jogador de camisa nº 9.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 29</h5>
                        <p class="card-text">Carlos viajou de São Camilo para Palmares.</p>
                        <p class="card-text">Veja na figura abaixo a distância entre essas cidades:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/29.png" alt="Distância entre São Camilo e Palmares"></div>
                        <p class="card-text">Quantos metros Carlos percorreu nessa viagem?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q29" value="A" maxlength="1"> 6.000 metros.</li>
                                <li><input type="radio" name="q29" value="B" maxlength="1"> 60 000 metros.</li>
                                <li><input type="radio" name="q29" value="C" maxlength="1"> 600.000 metros.</li>
                                <li><input type="radio" name="q29" value="D" maxlength="1"> 6.000.000 metros.</li>
                            </ol>
                        </div>
                    </div>
                     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 30: (PAEBES)</h5>
                        <p class="card-text">Na semana da Mostra Cultural de uma escola, a bibliotecária anotou as quantidades de livros emprestados aos alunos, no período de terça a sexta-feira. Essas anotações estão apresentadas no gráfico abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/30.png" alt="Gráfico de empréstimos de livros"></div>
                        <p class="card-text">De acordo com esse gráfico, o dia em que houve menos empréstimos de livros nessa biblioteca foi:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q30" value="A" maxlength="1"> terça-feira.</li>
                                <li><input type="radio" name="q30" value="B" maxlength="1"> quarta-feira.</li>
                                <li><input type="radio" name="q30" value="C" maxlength="1"> quinta-feira.</li>
                                <li><input type="radio" name="q30" value="D" maxlength="1"> sexta-feira.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 31: (Saresp 2007)</h5>
                        <p class="card-text">Ganhei R$ 50,00 de aniversário de meu avô. Gastei 50% deste valor com a compra de um brinquedo. Quanto custou este brinquedo?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q31" value="A" maxlength="1"> R$ 15,00</li>
                                <li><input type="radio" name="q31" value="B" maxlength="1"> R$ 45,00</li>
                                <li><input type="radio" name="q31" value="C" maxlength="1"> R$ 35,00</li>
                                <li><input type="radio" name="q31" value="D" maxlength="1"> R$ 25,00</li>
                            </ol>
                        </div>
                    </div>
                                                   
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 32</h5>
                        <p class="card-text">Lucas quer encher 10 copos de 100ml com refrigerante. Ele vai precisar de</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q32" value="A" maxlength="1"> 10 litros de refrigerante.</li>
                                <li><input type="radio" name="q32" value="B" maxlength="1"> 2 litros de refrigerante.</li>
                                <li><input type="radio" name="q32" value="C" maxlength="1"> 1 litro de refrigerante.</li>
                                <li><input type="radio" name="q32" value="D" maxlength="1"> 500 ml de refrigerante.</li>
                            </ol>
                        </div>
                    </div>
                                                   
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 33: (Projeto conseguir – DC)</h5>
                        <p class="card-text">Todos os dias, Rodrigo tem chegado atrasado a seu trabalho por causa do engarrafamento. Hoje ele teve 20 minutos de atraso.</p>
                        <p class="card-text">Em segundos, esse tempo representa:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q33" value="A" maxlength="1"> 200 segundos</li>
                                <li><input type="radio" name="q33" value="B" maxlength="1"> 2000 segundos</li>
                                <li><input type="radio" name="q33" value="C" maxlength="1"> 1200 segundos</li>
                                <li><input type="radio" name="q33" value="D" maxlength="1"> 120 segundos</li>
                            </ol>
                        </div>
                    </div>
                                              
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 34</h5>
                        <p class="card-text">População do Rio é solidária com as vítimas da chuva</p>
                        <p class="card-text">Os alunos de uma escola aderiram à Campanha de Arrecadação de alimentos não perecíveis, roupas, água mineral e colchonetes, para ajudar as vítimas das fortes chuvas que atingiram o Rio de Janeiro no mês de abril.</p>
                        <p class="card-text">O 3º ano arrecadou 70 colchonetes e o 4º ano arrecadou 125 colchonetes.</p>
                        <p class="card-text">O 4º ano arrecadou a mais</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q34" value="A" maxlength="1"> 55 colchonetes.</li>
                                <li><input type="radio" name="q34" value="B" maxlength="1"> 95 colchonetes.</li>
                                <li><input type="radio" name="q34" value="C" maxlength="1"> 170 colchonetes.</li>
                                <li><input type="radio" name="q34" value="D" maxlength="1"> 195 colchonetes.</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 35: (PAEBES)</h5>
                        <p class="card-text">Em uma cidade, a temperatura máxima no sábado foi de 29,0 graus Celsius e no domingo foi de 27,3 graus Celsius.</p>
                        <p class="card-text">De quantos graus Celsius é a diferença entre as temperaturas máximas nesses dois dias?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q35" value="A" maxlength="1"> 1,7</li>
                                <li><input type="radio" name="q35" value="B" maxlength="1"> 2,0</li>
                                <li><input type="radio" name="q35" value="C" maxlength="1"> 2,3</li>
                                <li><input type="radio" name="q35" value="D" maxlength="1"> 2,7</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 36: (Projeto consequir – DC)</h5>
                        <p class="card-text">Em um estádio de futebol, a arquibancada é dividida em 8 setores iguais. Uma das torcidas ocupou 3 setores.</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/36.png" alt="Desenho da arquibancada"></div>
                        <p class="card-text">Observe o desenho e identifique a fração que representa a parte que esta torcida ocupou:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q36" value="A" maxlength="1"> 8/3</li>
                                <li><input type="radio" name="q36" value="B" maxlength="1"> 3/8</li>
                                <li><input type="radio" name="q36" value="C" maxlength="1"> 5/8</li>
                                <li><input type="radio" name="q36" value="D" maxlength="1"> 8/8</li>
                            </ol>
                        </div>
                    </div>
                                               
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 37:</h5>
                        <p class="card-text">Na escola “Aprender”, o horário do recreio foi definido como mostram os quadros abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/37.png" alt="Horário do recreio"></div>
                        <p class="card-text">Esse recreio tem a duração de:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q37" value="A" maxlength="1"> 10 minutos</li>
                                <li><input type="radio" name="q37" value="B" maxlength="1"> 15 minutos</li>
                                <li><input type="radio" name="q37" value="C" maxlength="1"> 20 minutos</li>
                                <li><input type="radio" name="q37" value="D" maxlength="1"> 30 minutos</li>
                            </ol>
                        </div>
                    </div>
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 38: (Projeto conseguir – DC)</h5>
                        <p class="card-text">Calcule o perímetro do percurso de uma maratona (linha azul) que Flávia participou:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/38.png" alt="Percurso da maratona"></div>
                        <p class="card-text">Quantos quilômetros Flávia correu?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q38" value="A" maxlength="1"> 50 km</li>
                                <li><input type="radio" name="q38" value="B" maxlength="1"> 60 km</li>
                                <li><input type="radio" name="q38" value="C" maxlength="1"> 30 km</li>
                                <li><input type="radio" name="q38" value="D" maxlength="1"> 70 km</li>
                            </ol>
                        </div>
                    </div>
                                                
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 39: (Ubajara – CE)</h5>
                        <p class="card-text">3. A professora do 5º ano, corrigindo as avaliações da classe, viu que Pedro acertou 2/10 das questões.</p>
                        <p class="card-text">De que outra forma a professora poderia representar essa fração?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q39" value="A" maxlength="1"> 0,02</li>
                                <li><input type="radio" name="q39" value="B" maxlength="1"> 0,10</li>
                                <li><input type="radio" name="q39" value="C" maxlength="1"> 0,2</li>
                                <li><input type="radio" name="q39" value="D" maxlength="1"> 2,10</li>
                            </ol>
                        </div>
                    </div>
                                                  
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 40</h5>
                        <p class="card-text">Maria, Lara e Felipe foram assistir, no Teatro Municipal, à apresentação da Orquestra Sinfônica Brasileira, que esse ano completa 70 anos. Eles gastaram com as passagens, ingressos e lanche R$ 78,80. Os três amigos voltaram para casa com R$ 17,20. A quantia que eles tinham disponível para ir ao Teatro Municipal era:</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q40" value="A" maxlength="1"> R$61,00.</li>
                                <li><input type="radio" name="q40" value="B" maxlength="1"> R$ 61,60.</li>
                                <li><input type="radio" name="q40" value="C" maxlength="1"> R$ 95,00.</li>
                                <li><input type="radio" name="q40" value="D" maxlength="1"> R$ 96,00.</li>
                            </ol>
                        </div>
                    </div>
                                             
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 41: (Projeto conseguir)</h5>
                        <p class="card-text">Marcos, André e Carlos trabalham como garçons em um restaurante. Os três costumam receber gorjetas. Um dia desses, Marcos e André receberam 20 reais cada um e Carlos recebeu 14 reais. Os três garçons resolveram repartir igualmente o total recebido.</p>
                        <p class="card-text">Qual a quantia em dinheiro que ficou para cada um?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q41" value="A" maxlength="1"> 15 reais</li>
                                <li><input type="radio" name="q41" value="B" maxlength="1"> 20 reais</li>
                                <li><input type="radio" name="q41" value="C" maxlength="1"> 11 reais</li>
                                <li><input type="radio" name="q41" value="D" maxlength="1"> 18 reais</li>
                            </ol>
                        </div>
                    </div>
                                                
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 42: (AVALIA-BH)</h5>
                        <p class="card-text">O desenho em cinza, representado na malha quadriculada abaixo, corresponde à vista superior de uma passarela que foi montada para um desfile de moda.</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/42.png" alt="Desenho da passarela"></div>
                        <p class="card-text">A parte superior dessa passarela será totalmente coberta por carpete.</p>
                        <p class="card-text">Quantos metros quadrados de carpete, no mínimo, serão usados para cobrir essa passarela?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q42" value="A" maxlength="1"> 44</li>
                                <li><input type="radio" name="q42" value="B" maxlength="1"> 51</li>
                                <li><input type="radio" name="q42" value="C" maxlength="1"> 57</li>
                                <li><input type="radio" name="q42" value="D" maxlength="1"> 204</li>
                            </ol>
                        </div>
                    </div>
                                             
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 43: (SADEAM – AM)</h5>
                        <p class="card-text">Luísa e suas primas estão fazendo um desenho usando figuras planas de cinco lados.</p>
                        <p class="card-text">A figura usada por elas é um</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q43" value="A" maxlength="1"> cubo.</li>
                                <li><input type="radio" name="q43" value="B" maxlength="1"> pentágono.</li>
                                <li><input type="radio" name="q43" value="C" maxlength="1"> quadrilátero.</li>
                                <li><input type="radio" name="q43" value="D" maxlength="1"> triângulo.</li>
                            </ol>
                        </div>
                    </div>
                                                
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 44: (PAEBES)</h5>
                        <p class="card-text">Observe no gráfico abaixo a quantidade de horas diárias que quatro adolescentes usam a internet:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/44.png" alt="Gráfico de horas diárias que quatro adolescentes usam a internet"></div>
                        <p class="card-text">De acordo com esse gráfico, qual dos quatro adolescentes usa a internet por mais tempo em um dia?</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q44" value="A" maxlength="1"> Bruna.</li>
                                <li><input type="radio" name="q44" value="B" maxlength="1"> Carlos.</li>
                                <li><input type="radio" name="q44" value="C" maxlength="1"> Joana.</li>
                                <li><input type="radio" name="q44" value="D" maxlength="1"> Mário.</li>
                            </ol>
                        </div>
                    </div>
                                                
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>