<!DOCTYPE html>
<html lang="en">
    <head>
        <title>QUINTO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">QUINTO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/envio_quinto_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 1</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.<br>Quando crescer, vou ser... ambientalista! (Fragmento)</p>
                        <p class="card-text texto_paragrafo">Efeito estufa, destruição da camada de ozônio, poluição, desmatamento, aquecimento global... Você já ouviu alguma dessas expressões? Ora, que pergunta!<br>É claro que sim. Afinal de contas, há alguns anos esses temas ganham cada vez mais destaque nos meios de comunicação. Jornais, revistas, tevês, Internet chamam a atenção para as mudanças que estão ocorrendo no meio ambiente, especialmente sobre os impactos negativos das ações do homem. E quem é que fala desses assuntos? Quase sempre, os ambientalistas. Ambientalistas são todos aqueles que transformam em ações o ideal de que a relação entre as pessoas e o meio ambiente deve ser o menos predatória possível.</p>
                        <br>
                        <p  class="text-right"><small>http://www.cienciahoje.ul.com.br</small></p>
                        <br>
                        <p class="card-text">O uso das reticências na segunda linha indica para o leitor que há</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1"> algumas expressões que não devem ser apresentadas.</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1"> várias transformações a serem feitas no meio ambiente.</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1"> outras expressões que se destacam no tema sobre meio ambiente.</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1"> muitas dúvidas sobre as situações restritas ao meio ambiente.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 2</h5>
                        <p class="card-text">Observe a história em quadrinhos abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/2.png" alt="História em quadrinhos"></div>
                        <br>
                        <p class="card-text">Esse texto é engraçado, porque</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1"> a menina ficou toda satisfeita com o beijo.</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1"> a menina pediu segredo, mas contou sobre o beijo.</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1"> o menino ficou assustado com o beijo.</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1"> o menino prometeu guardar segredo sobre o beijo.</li>
                            </ol>
                        </div>
                    </div>
                                                      
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 3: (PROEB)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.<br>E aí tem a do foguete espacial. O eletricista foi consertar o foguete. Demorou a achar o defeito. Quando terminou e ia sair, estava tudo fechado. Ele tentou se comunicar com a torre de comando, mas foi jogado ao chão com o impacto do foguete começando a subir. Correu para a cabine e viu um homenzinho verde dirigindo o foguete.<br>— Para onde estamos indo?<br>E o homenzinho:<br>— Você eu não sei. Eu estou voltando pra casa.</p>
                        <br>
                        <p  class="text-right"><small>Ziraldo. As últimas anedotinhas do Bichinho da Maçã. São Paulo: Melhoramentos, 2005, p. 39.</small></p>
                        <br>
                        <p class="card-text">O homenzinho verde que estava dirigindo o foguete era um</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1"> anão de jardim de roupa verde.</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1"> astronauta em treinamento.</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1"> ladrão roubando o foguete.</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1"> marciano voltando pra casa.</li>
                            </ol>
                        </div>
                    </div>
                         
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 4: (AvaliaBH)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo:<br><strong>Casaco de passarinho</strong></p>
                        <p class="card-text texto_paragrafo">Era uma árvore interessante, bonita e absolutamente disciplinada. Todos os anos seguia a mesma rotina: se enchia de folhas e flores na primavera, continuava alegremente vestida no verão, e quando chegava o outono, começava a tirar a roupa: quanto mais o tempo esfriava, mais roupa ela tirava. No inverno, todas as folhas caíam e ela, completamente nua, aguentava o frio, sem dar um pio.</p>
                        <p class="card-text texto_paragrafo">Um dia, porém, a árvore se manifestou: “Atchim!” “Saúde”, responderam os passarinhos, aflitos, recolhendo seus ovos dos ninhos.</p>
                        <p class="card-text texto_paragrafo">Foi aí que alguns pardais, com pena da pobre árvore pelada, tiveram a ideia de ficar um pertinho do outro, asa com asa. Perfilados e juntos, os passarinhos fizeram um enorme cachecol para a árvore. O inverno terminou, as folhas voltaram, e quando veio a primavera, a árvore agradeceu mandando mais flores. No verão seguinte, ela deu muitos frutos a mais do que sempre tinha dado. Os passarinhos comeram como nunca, tiveram grandes ninhadas e, no inverno seguinte, além do cachecol, a árvore ganhou casaco, luvas e até um gorro, feito do corpo quente dos passarinhos felizes.</p>
                        <p class="text-right"><small>FRATE, Diléa. Histórias para acordar. São Paulo: Companhia das Letrinhas, 1999. *Adaptado: reforma ortográfica.</small></p>
                        <p class="card-text">No trecho “...aguentava o frio sem dar <b>um pio</b>.”, a parte destacada informa que a árvore ficava</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1"> cheia de alegria.</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1"> cheia de música.</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1"> em silêncio.</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1"> sem as flores.</li>
                            </ol>
                        </div>
                    </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <br>   
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 5: (SPAECE)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/5.png" alt="Texto"></div>
                        <br>
                        <p class="text-right"><small>www.meninomaluquinho.com.br</small></p>
                        <br>
                        <p class="card-text">Esse texto é engraçado porque</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1"> a mulher estava muito brava com o menino.</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1"> a mulher segurava um chinelo para bater no menino.</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1"> o menino levou a culpa por vestir-se como o Maluquinho.</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1"> o menino usava uma roupa muito grande.</li>
                            </ol>
                        </div>
                    </div>
                    
                        
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 6: (CAED UFJF – MG/2010)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo e responda:</p>
                        <div class="text-center"><img class="img-fluid" src="/img/simulado5/6.png" alt="Texto"></div>
                        <br>
                        <p class="card-text">Na frase “Nossa! Que doce enorme!”, o ponto de exclamação indica</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1"> decepção.</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1"> espanto.</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1"> raiva.</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1"> tristeza.</li>
                            </ol>
                        </div>
                    </div>
                                       
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 7</h5>
                        <p class="card-text texto_paragrafo">CIDADANIA, DIREITO DE TER DIREITOS</p>
                        <p class="card-text texto_paragrafo">Cidadania é o direito de ter uma ideia e poder expressá-la. É poder votar em quem quiser sem constrangimento. [...] Há detalhes que parecem insignificantes, mas revelam estágios de cidadania: respeitar o sinal vermelho no trânsito, não jogar papel na rua, não destruir telefones públicos. Por trás desse comportamento está o respeito à coisa pública. [...] Foi uma conquista dura. Muita gente lutou e morreu para que tivéssemos o direito de votar.</p>
                        <br>
                        <p class="text-right"><small class="text-right">DIMENSTEIN, Gilberto.<br>Disponível em: https://drive.google.com/file/d/0BzPewewkSxkzUkpmSkljOTY1d1k/edit. Acesso em: 23 de julho de 2019.</small></p>
                        <br>
                        <p class="card-text">O trecho que indica uma opinião em relação à cidadania é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1"> ...“é o direito de ter uma ideia e poder expressá-la...”.</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1"> ...“É poder votar em quem quiser...”.</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1"> ...“revelam estágios de cidadania...”</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1"> ... “Foi uma conquista dura. ”</li>
                            </ol>
                        </div>
                    </div>
                    
                      </div>
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 8: (SARESP)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto e responda.</p>
                        <p class="card-text texto_paragrafo">QUERIDOS LEITORES</p>
                        <p class="card-text texto_paragrafo">Eu sempre gostei muito de livros, de revistas e de jornais. Eu passava todo tempo esperando ganhar um novo livro, esperando o Tico-Tico, que era uma revista que saía às quartas-feiras, e esperando que chegasse o Almanaque do Tico-Tico, que saía sempre perto do Natal.</p>
                        <p class="card-text texto_paragrafo">Era um livro grande e colorido e falava de tudo um pouco: de coisas sérias e de coisas engraçadas; histórias e lendas, brincadeiras e anedotas, adivinhações e enigmas. Há muitos anos não se publica o Almanaque do Tico-Tico.</p>
                        <p class="card-text texto_paragrafo">Então eu resolvi fazer um almanaque destinado a meus queridos leitores. Escolhi uma porção de histórias, brincadeiras, piadas e adivinhações, muitas poesias, brinquedos que a gente mesmo pode fazer e mais muitas surpresas. Espero que vocês gostem tanto quanto eu gostava do meu velho Tico-Tico. Um beijo da RUTH ROCHA.</p>
                        <p class="text-right"><small>Fonte: ROCHA, Ruth. Almanaque Ruth Rocha. São Paulo: Ática, 2005. p. 9</small></p>
                        <p class="card-text">Pelo contexto, é possível verificar que a expressão “Queridos leitores” e o termo “vocês” foram utilizados pela autora para se dirigir a</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A" maxlength="1"> crianças.</li>
                                <li><input type="radio" name="q8" value="B" maxlength="1"> bibliotecários.</li>
                                <li><input type="radio" name="q8" value="C" maxlength="1"> adultos.</li>
                                <li><input type="radio" name="q8" value="D" maxlength="1"> professores.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 9: (PAEBES)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.</p>
                        <p class="card-text texto_paragrafo">COMO O AVIÃO VOA?</p>
                        <p class="card-text texto_paragrafo">O segredo está no equilíbrio de quatro forças aerodinâmicas que atuam durante o voo. São as asas que garantem aos mais diferentes tipos de avião a sustentação necessária para voar. Além da sustentação, outras três forças atuam sobre um aeroplano durante o voo: a gravidade, a resistência do ar (ou arrasto) e a tração (ou empuxo). Ao voar, a máquina compensa a força da gravidade com a sustentação gerada pelas asas e supera a resistência do ar com o empuxo dos motores. Para mudar a altitude (subir ou descer), é preciso aumentar ou reduzir a potência dos motores (o que eleva ou diminui a sustentação).</p>
                        <p class="card-text texto_paragrafo">Essas quatro forças também estão presentes na decolagem e no pouso. É o controle da atuação de cada uma delas que explica como uma máquina tão pesada consegue ir voando de um aeroporto a outro.</p>
                        <p class="text-right"><small>SOUZA, José Maria Rodrigues. Nova Escola, ano 22, n.200, p.26. Fragmento.</small></p>
                        <p class="card-text">No título "Como o avião voa?", o ponto de interrogação foi usado para</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A" maxlength="1"> despertar a curiosidade do leitor.</li>
                                <li><input type="radio" name="q9" value="B" maxlength="1"> esclarecer as dúvidas do leitor.</li>
                                <li><input type="radio" name="q9" value="C" maxlength="1"> provocar espanto no leitor.</li>
                                <li><input type="radio" name="q9" value="D" maxlength="1"> verificar os conhecimentos do leitor.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 10: (SEPR)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo:</p>
                        <div class="text-center">
                          <img src="/img/simulado5/10.png" alt="Imagem da questão 10">
                        </div>
                        <p class="text-right"><small>Fonte: <a href="http://www.monica.com.br/comics/tirinhas/tira2.htm">http://www.monica.com.br/comics/tirinhas/tira2.htm</a></small></p>
                        <p class="card-text">Identifique na tira o efeito de humor</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A" maxlength="1"> Os dois cachorros queriam sair com a cachorrinha por isso estavam lutando.</li>
                                <li><input type="radio" name="q10" value="B" maxlength="1"> Nenhum dos cachorros queria sair com a cachorrinha por isso estavam lutando.</li>
                                <li><input type="radio" name="q10" value="C" maxlength="1"> A cachorrinha queria sair somente com Bidu.</li>
                                <li><input type="radio" name="q10" value="D" maxlength="1"> A cachorrinha não queria sai com nenhum dos cachorros.</li>
                            </ol>
                        </div>
                    </div>
                                                                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 11: (Projeto conseguir - DC)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo:</p>
                        <p class="texto_paragrafo text-center">
                            O BICHO<br>
                            Vi ontem um bicho<br>
                            Na imundície do pátio<br>
                            Catando comida entre os detritos.<br>
                            Quando achava alguma coisa,<br>
                            Não examinava nem cheirava:<br>
                            Engolia com voracidade.<br>
                            O bicho não era um cão,<br>
                            Não era um gato,<br>
                            Não era um rato.<br>
                            O bicho, meu Deus, era um homem.<br>
                        </p>
                        <p class="text-right"><small>Manuel Bandeira <a href="http://pensador.uol.com.br/poemas_de_manuel_bandeira">http://pensador.uol.com.br/poemas_de_manuel_bandeira</a></small></p>
                        <p class="card-text">O verso que indica a ideia de tempo é</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q11" value="A" maxlength="1"> ”Vi ontem um bicho” (ℓ. 1).</li>
                                <li><input type="radio" name="q11" value="B" maxlength="1"> “O bicho não era um cão” (ℓ. 7).</li>
                                <li><input type="radio" name="q11" value="C" maxlength="1"> “Na imundície do pátio” (ℓ. 2).</li>
                                <li><input type="radio" name="q11" value="D" maxlength="1"> ”não era um rato” (ℓ. 9).</li>
                            </ol>
                        </div>
                    </div>
                                        
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 12: (SAEMI - PE)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.</p>
                        <img src="/img/simulado5/12.png" alt="Imagem da Questão 12">
                        <p class="text-right"><small>Disponível em: <a href="http://www.gazetadopovo.com.br/charges/index.phtml?ch=Marchesini">http://www.gazetadopovo.com.br/charges/index.phtml?ch=Marchesini</a>. Acesso em: 24 set. 2013)</small></p>
                        <p class="card-text">Nesse texto, o homem</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q12" value="A" maxlength="1"> concerta as cadeiras.</li>
                                <li><input type="radio" name="q12" value="B" maxlength="1"> cria uma forma de dormir.</li>
                                <li><input type="radio" name="q12" value="C" maxlength="1"> inventa uma brincadeira.</li>
                                <li><input type="radio" name="q12" value="D" maxlength="1"> limpa as cadeiras.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">QUESTÃO 13: (SAEPI)</h5>
                        <p class="card-text texto_paragrafo">Leia o texto abaixo.</p>
                        <p class="texto_paragrafo">O segredo do farol</p>
                        <p class="texto_paragrafo">Tio Damião é faroleiro numa ilha. À noite, ele acende o farol para os navios não se chocarem com os recifes do mar.</p>
                        <p class="texto_paragrafo">Cícero e Dedé foram visitar Tio Damião e viram que ele estava apavorado.</p>
                        <p class="texto_paragrafo">– Coisas estranhas estão acontecendo. Todas as noites, um vulto gigante assusta a mim e o meu cachorro Sagu – disse Tio Damião.</p>
                        <p class="texto_paragrafo">Cícero e Dedé adoram aventuras. À noite, subiram as escadas do farol, acompanhados de Sagu, e foram investigar o mistério.</p>
                        <p class="texto_paragrafo">Lá em cima não viram nada. Resolveram dormir ali para ver o que aconteceria.</p>
                        <p class="texto_paragrafo">Já era bem tarde, quando acordaram com um barulho estranho numa das janelas do farol. Logo depois houve silêncio.</p>
                        <p class="texto_paragrafo">Os meninos criaram coragem e foram ver o que era.</p>
                        <p class="texto_paragrafo">– Oh! Então é isso que apavora o Tio Damião?! – exclamaram.</p>
                        <p class="texto_paragrafo">Era um pequeno pelicano que, depois das pescarias noturnas, vinha secar-se à luz do farol.</p>
                        <p class="texto_paragrafo">Sua sombra se projetava, aumentada sobre uma pedra em frente, e dava a impressão de ser um monstro.</p>
                        <p class="texto_paragrafo">Tio Damião riu muito, quando as crianças lhe contaram a descoberta.</p>
                        <p class="texto_paragrafo">– Vejam só! Eu, um velho lobo do mar, com medo de um pelicano!</p>
                        <p class="texto_paragrafo">Agora, Tio Damião tem outro amigo na ilha. Só que de vez em quando precisa tirar o dorminhoco da frente da luz do farol.</p>
                        <p class="text-right"><small>Disponível em: <a href="http://www.contandohistoria.com/farol.htm">http://www.contandohistoria.com/farol.htm</a>. Acesso em: 21 ago. 2012.</small></p>
                        <p class="card-text">O fato que deu início à história contada nesse texto foi</p>
                        <div class="form-group">
                            <ol type="A">
                                <li><input type="radio" name="q13" value="A" maxlength="1"> a coragem dos meninos.</li>
                                <li><input type="radio" name="q13" value="B" maxlength="1"> a visita feita por Cícero e Dedé.</li>
                                <li><input type="radio" name="q13" value="C" maxlength="1"> o amigo do Tio Damião.</li>
                                <li><input type="radio" name="q13" value="D" maxlength="1"> o vulto que assustava Tio Damião.</li>
                            </ol>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">       
                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
              
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">                   

                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                                                       
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                         
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
      
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
  
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                                        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
         
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
     
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>