<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SEGUNDO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">SEGUNDO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/envio_segundo_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 1</h5>
                        <p class="card-text">Leia os textos abaixo.</p>
                        <p><strong>Texto I</strong></p>
                        <p>GRIPE SUÍNA (INFLUENZA A)</p>
                        <p>O que fazer para evitar o contágio?</p>
                        <ul>
                            <li>Cubra seu nariz e boca com um lenço quando tossir ou espirrar. Jogue no lixo o lenço após o uso.</li>
                            <li>Lave suas mãos constantemente com água e sabão, especialmente depois de tossir ou espirrar. Produtos à base de álcool para limpar as mãos também são efetivos.</li>
                            <li>Evite tocar seus olhos, nariz ou boca. Os germes se espalham deste modo.</li>
                            <li>Evite contato próximo com pessoas doentes.</li>
                            <li>Se você ficar doente, fique em casa e limite o contato com outros, para evitar infectá-los.</li>
                        </ul>
                        <p>Fonte: <a href="http://www.sempretops.com/saude/como-prevenir-se-da-gripe-suina/">http://www.sempretops.com/saude/como-prevenir-se-da-gripe-suina/</a></p>
                    
                        <p><strong>Texto II</strong></p>
                        <div class="text-center">
                        <img src="/img/simulado2/1.png" alt="Imagem do Texto II">
                      </div>
                    
                        <p>O traço comum entre os textos I e II é o seguinte:</p>
                        <ol type="A">
                            <li><input type="radio" name="q1" value="A" maxlength="1"> Dão informações sobre a gripe suína (Influenza A).</li>
                            <li><input type="radio" name="q1" value="B" maxlength="1"> Solicitam informações do leitor atento.</li>
                            <li><input type="radio" name="q1" value="C" maxlength="1"> Dizem que a nova gripe não é contagiosa.</li>
                            <li><input type="radio" name="q1" value="D" maxlength="1"> Afirmam não ser necessário tomar cuidado com a nova gripe.</li>
                        </ol>
                    </div>                    
                    </div>
                  </div>
                </div>
              </div>            
                
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 2</h5>
                        <p class="card-text">Leia o texto abaixo e responda.</p>
                    
                        <p>LIÇÃO QUE SE APRENDE CEDO</p>
                        <p>Dia 14 de março, segunda-feira, é comemorado o Dia Internacional do Consumidor.</p>
                        <p>Talvez você ache que essa informação não tenha muito a ver com você, que ainda não é adulto e não tem um salário todo mês. Egano seu. Mesmo quando se compra só um chocolate na padaria da esquina, essa atitude vem acompanhada de direitos e deveres – tanto de quem compra quanto de quem vende – e que, muitas vezes, a gente nem se dá conta.</p>
                        <p>E, se você reparar bem, vai notar que boa parte das propagandas é voltada para o público infantil – ou seja, existem muitos produtos nas prateleiras das lojas esperando que você, consumidor mirim, os leve para casa. Isso pode ser perigoso, porque não é difícil chegar a um ponto em que se quer tudo o que é oferecido. Para fazer crianças e adolescentes consumidores responsáveis, agora e no futuro, nada melhor que a informação.</p>
                        <p>LENOIR, Carolina. Estado de Minas, Gurilândia. 13 mar. 2010. p.4.</p>
                    
                        <p>Leia novamente o trecho.</p>
                        <p>"<b>Talvez</b> você ache que essa informação não tenha muito a ver com você,..." (ℓ. 2)</p>
                        <p>Nesse trecho, a palavra destacada indica</p>
                        <ol type="A">
                            <li><input type="radio" name="q2" value="A" maxlength="1"> Dúvida.</li>
                            <li><input type="radio" name="q2" value="B" maxlength="1"> Intensidade.</li>
                            <li><input type="radio" name="q2" value="C" maxlength="1"> Negação.</li>
                            <li><input type="radio" name="q2" value="D" maxlength="1"> Tempo.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 3</h5>
                        <p class="card-text">Leia o texto e responda à questão.</p>
                    
                        <p><strong>MELHORES AMIGOS DA CIÊNCIA</strong></p>
                        <p>Cães farejadores ajudam cientistas a saber mais sobre animais ameaçados de extinção.</p>
                        <p>É ainda madrugada quando Mason, Ally, Marvín e Gator saem para o trabalho. Apesar de terem pela frente de cinco a sete horas de labuta, os quatro não estão nem um pouco desanimados. Ao contrário: parecem em-polgados em começar mais um dia de atividades no Parque Nacional das Emas, em Goiás, embora a tarefa que os aguarde, aparentemente, não seja das mais entusiasmantes.</p>
                        <p>Os quatro têm quê localizar fezes de animais ameaçados de extinção, como o tamanduá-bandeira e a onça-pintada. O cocô, acredite se puder, é material fundamental para uma pesquisa que está sendo realizada por uma cientista americana na região, com o apoio de instituições brasileiras. Mas se você pensa que Mason, Ally, Marvin e Gator são também pesquisadores, cuidado para não ficar de queixo caído: na verdade, os quatro são cães farejadores - grandes amigos do homem que, agora, também se tornaram aliados da ciência.</p>
                        <p>Fonte: Melhores amigos do homem. In: Revista Ciência Hoje das Crianças. Disponível em: <a href="http://cienciahoje.uol.com.br/124507">http://cienciahoje.uol.com.br/124507</a> Acesso em: 25 jul. 2008.</p>
                    
                        <p>Assinale a alternativa em que se evidencia uma opinião da enunciadora.</p>
                        <ol type="A">
                            <li><input type="radio" name="q3" value="A" maxlength="1"> Os quatro cães farejadores saem de madrugada para o trabalho.</li>
                            <li><input type="radio" name="q3" value="B" maxlength="1"> Os quatro cães farejadores trabalham de cinco a sete horas diárias.</li>
                            <li><input type="radio" name="q3" value="C" maxlength="1"> A atividade de Mason, Ally, Marvin e Gator não é muito entusiasmante.</li>
                            <li><input type="radio" name="q3" value="D" maxlength="1"> As fezes de alguns animais em extinção constituem importante material de pesquisa.</li>
                        </ol>
                    </div>
                    
 
                                                           
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 4</h5>
                        <p class="card-text">Leia o texto abaixo.</p>
                    
                        <p><strong>PAPO FURADO</strong></p>
                        <p>O dente de Ana estava mole – nheco, nheco – pra lá e pra cá. Mas como era um dente muito teimoso, não tinha jeito de cair. Nem amarrando linha, prendendo na porta e batendo com toda força – BUM – no danado se arrancava! Nem assim!</p>
                        <p>O dente caiu quando ele bem quis, logo no primeiro dia de aula, quando Aninha comia uma bala puxa. Puxa vida! E era justo o dente da frente!</p>
                        <p>Daí todo mundo entrou na classe e a professora chamou assim:</p>
                        <p>– Ana! Quem é Ana?</p>
                        <p>Só quando viu a turma inteira de olhão pregado nela, Aninha espichou a mão e fez:</p>
                        <p>– UUMMM – de boca fechada para ninguém ver a banguela.</p>
                        <p>Stella Carr. As confusões de Aninha.São Paulo: Moderna, 1985.</p>
                    
                        <p>Pode-se afirmar que o dente de Ana caiu porque Ana</p>
                        <ol type="A">
                            <li><input type="radio" name="q4" value="A" maxlength="1"> amarrou-o e bateu a porta.</li>
                            <li><input type="radio" name="q4" value="B" maxlength="1"> ficou nervosa quando entrou na sala.</li>
                            <li><input type="radio" name="q4" value="C" maxlength="1"> se assustou com a professora.</li>
                            <li><input type="radio" name="q4" value="D" maxlength="1"> comeu uma bala puxa.</li>
                        </ol>
                    </div>
                    
      
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 5</h5>
                        <p class="card-text">Leia o texto abaixo.</p>
                        <p><strong>SAPATO É MUITO CHATO,</strong></p>
                        <p>Mas é um fato: em pata de pato não cabe sapato.</p>
                        <p>Não há sapato pra pata de gato ou pata de rato.</p>
                        <p>E eu constato que nem no mato se encontra sapato pra carrapato!</p>
                        <p>Fonte: CIÇA. Trava-Trela. Rio de Janeiro: Nova Fronteira, 2009.</p>
                    
                        <p>A palavra que retrata o tema da poesia é</p>
                        <ol type="A">
                            <li><input type="radio" name="q5" value="A" maxlength="1"> carrapato.</li>
                            <li><input type="radio" name="q5" value="B" maxlength="1"> sapato.</li>
                            <li><input type="radio" name="q5" value="C" maxlength="1"> gato.</li>
                            <li><input type="radio" name="q5" value="D" maxlength="1"> pato.</li>
                        </ol>
                    </div>
                    
  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 6</h5>
                        <p class="card-text">Leia o texto abaixo.</p>
                        <p><strong>O Bicho Formigueiro</strong></p>
                        <p>Cada formiga faz um pouco do trabalho para manter o formigueiro funcionando.</p>
                        <p>BRAÇOS: As soldadas são formigas maiores e mais fortes. Diante de qualquer ameaça avisam as demais e dilaceram o inimigo com mordidas. SISTEMA IMUNOLÓGICO: As formigas produzem uma substância bactericida que mata todo tipo de germe. CIRCULAÇÃO: Os corredores do formigueiro permitem o transporte de nutrientes e ajudam a manter a temperatura num nível mais agradável. ESTÔMAGO: Algumas operárias não digerem alimentos sólidos. As larvas recebem folhas picadas e as regurgitam como substância (...).</p>
                        <p>Almanaque Super Interessante. 2003. P. 28 – Adaptado.</p>
                    
                        <p>As palavras que estabelecem uma ligação entre as partes do texto, mantendo o sentido da expressão “cada formiga faz um pouco do trabalho” são:</p>
                        <ol type="A">
                            <li><input type="radio" name="q6" value="A" maxlength="1"> avisam, produzem, permitem, digerem.</li>
                            <li><input type="radio" name="q6" value="B" maxlength="1"> fortes, inimigo, germe, transporte, substância.</li>
                            <li><input type="radio" name="q6" value="C" maxlength="1"> as soldadas, diante de, as formigas, os corredores.</li>
                            <li><input type="radio" name="q6" value="D" maxlength="1"> braços, sistema imunológico, circulação, estômago.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 7</h5>
                        <div class="text-center">
                          <img src="/img/simulado2/07.png" alt="Imagem da Questão 7">
                        </div>                      
                        <p>O lixo que não pode ser reciclado é o</p>
                        <ol type="A">
                            <li><input type="radio" name="q7" value="A" maxlength="1"> vidro.</li>
                            <li><input type="radio" name="q7" value="B" maxlength="1"> plástico.</li>
                            <li><input type="radio" name="q7" value="C" maxlength="1"> orgânico.</li>
                            <li><input type="radio" name="q7" value="D" maxlength="1"> metal.</li>
                        </ol>
                    </div>
                    

                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 8</h5>
                        <p>A POMBA E A FORMIGA</p>
                        <p>Uma pomba branca bebia água no riacho quando, de repente, ouviu uma vozinha muito fraca:</p>
                        <p>– Socorro, socorro, estou me afogando!</p>
                        <p>Era uma formiga, que a correnteza forte arrastava.</p>
                        <p>A pomba branca ficou penalizada. “Coitadinha da formiga”, pensou. “Como poderei ajudá-la?” Arrancou com o bico uma graminha e a jogou na água. A formiga subiu no barco e alcançou a outra margem.</p>
                        <p>Aliviada, a formiga queria agradecer a pomba, mas onde será que ela estava?</p>
                        <p>Dias depois, a formiguinha andava pelo bosque quando viu um camponês descalço, armado de arco e flecha. O homem mirava alguma coisa no alto de um galho. Era justamente a pomba branca que, sem desconfiar de nada, dormia tão profundamente que até roncava.</p>
                        <p>“Preciso avisá-la”, pensou a formiga, desesperada.</p>
                        <p>Nhec!!!... A formiguinha enterrou suas mandíbulas cortantes no pé descalço do camponês malvado.</p>
                        <p>– Ai! Ai! Ai! Ui! Ui! Ui! – Gritou o homem, uivando de dor. E largou o arco e a flecha, que ficaram caídos na terra.</p>
                        <p>Com o barulho, a pombinha acordou assustada. E mais que depressa tratou de voar para bem longe. O camponês foi embora, furioso, resmungando:</p>
                        <p>– Que azar, pisei num espinho! Adeus, pomba assada...</p>
                        <p>MORAL DA HISTÓRIA: “O bem que fazemos, um dia volta para nós.”</p>
                        <p>VI EIRA, Isabel. Fabulinhas Famosas. São Paulo: Rideel, 2001. p. 201.</p>
                    
                        <p>O narrador dessa história é</p>
                        <ol type="A">
                            <li><input type="radio" name="q8" value="A" maxlength="1"> a pomba.</li>
                            <li><input type="radio" name="q8" value="B" maxlength="1"> a formiga.</li>
                            <li><input type="radio" name="q8" value="C" maxlength="1"> um camponês.</li>
                            <li><input type="radio" name="q8" value="D" maxlength="1"> um observador.</li>
                        </ol>
                    </div>
                    
   
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 9</h5>
                        <p>Observando toda a tirinha podemos concluir que na 3ª tirinha</p>
                        <div class="text-center">
                          <img src="/img/simulado2/09.png" alt="Tirinha Mafalda">

                        </div>
                        <p>Fonte: <a href="http://3.bp.blogspot.com/_kJ5hT2ajHIM/TFnv2D1XpJI/AAAAAAAAABw/ubyysxIDltY/s1600/image001.jpg" target="_blank">http://3.bp.blogspot.com/_kJ5hT2ajHIM/TFnv2D1XpJI/AAAAAAAAABw/ubyysxIDltY/s1600/image001.jpg</a> (último acesso em 04/08/2011)</p>
                        <ol type="A">
                            <li><input type="radio" name="q9" value="A" maxlength="1"> há uma certa cena de susto que o pai passa pra filha.</li>
                            <li><input type="radio" name="q9" value="B" maxlength="1"> só há humor a partir desta tirinha.</li>
                            <li><input type="radio" name="q9" value="C" maxlength="1"> Mafalda leva um susto pelo pai diante da declaração dita.</li>
                            <li><input type="radio" name="q9" value="D" maxlength="1"> não há cena de humor e sim uma cena de susto.</li>
                        </ol>
                    </div>
                    
      
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 10</h5>
                        <p>Leia os dois textos abaixo:</p>
                        
                        <p><strong>Texto I</strong></p>
                        <p>Meu gato tem um olho azul e outro marrom</p>
                        <p>Li no G1 uma reportagem sobre uma gata da Arábia Saudita portadora de olhos de cores diferentes. O que chamou a minha atenção foi o fato de eu também ter um gato com as mesmas características dessa gata saudita encontrada em Riyadh. A diferença é que meu gato é persa, nasceu no Brasil e mora aqui em casa, em Foz do Iguaçu. O nome dele é Bunny. Ele tem um olho azul e outro marrom.</p>
                        <p>Fonte: <a href="http://g1.globo.com/VCnoG1/0,,MUL102277-8491,00.html" target="_blank">http://g1.globo.com/VCnoG1/0,,MUL102277-8491,00.html</a></p>
                    
                        <p><strong>Texto II</strong></p>
                        <p>Cadela com marca de coração ganha mãe</p>
                        <p>Julie, a cachorrinha de Goiatuba (GO) que ficou famosa por ter uma mancha em formato de coração, ganhou uma mãe adotiva. A cadela Xuxa, que vive na mesma casa que Julie, nunca deu à luz, mas adotou o filhote e passou inclusive a amamentá-lo.</p>
                        <p>Fonte: <a href="http://g1.globo.com/VCnoG1/0,,MUL97102-8491,00.html" target="_blank">http://g1.globo.com/VCnoG1/0,,MUL97102-8491,00.html</a></p>
                    
                        <p>As duas manchetes acima estão se referindo a:</p>
                        <ol type="A">
                            <li><input type="radio" name="q10" value="A" maxlength="1"> Bichos que possuem olhos de cores diferentes.</li>
                            <li><input type="radio" name="q10" value="B" maxlength="1"> Gatos da Arábia Saudita que possuem marcas de coração.</li>
                            <li><input type="radio" name="q10" value="C" maxlength="1"> Cachorro do Paraná que possui olhos de cores diferentes.</li>
                            <li><input type="radio" name="q10" value="D" maxlength="1"> Animais de estimação que possuem características incomuns à espécie.</li>
                        </ol>
                    </div>
                    

                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 11</h5>
                        <p>Leia o texto abaixo:</p>
                    
                        <p><strong>Infância</strong></p>
                        <p>Eu tenho oito anos e já sei ler e escrever.</p>
                        <p>Por isso, ganhei de presente a história de Peter Pan. As aventuras dele com o Capitão Gancho e o jacaré que engoliu um relógio até que são engraçadas. Mas achei uma bobagem aquela mania do Peter Pan de querer ficar sempre menino.</p>
                        <p>Já imaginaram se todos quisessem ficar sempre pequenos e nunca mais crescer? Aí quem ia cuidar da gente? Fazer comida, passar pito, mandar tomar banho, dizer que é hora de ir pra cama?</p>
                        <p>Sarar a gente da dor de barriga e da dor de dente?</p>
                        
                        <p>Fonte: Henriqueta Lisboa ET alii. Varal de Poesia. 1ª ed. São Paulo: Ática, 2003. p. 35</p>
                    
                        <p>Percebe-se que o narrador é uma criança no trecho:</p>
                        <ol type="A">
                            <li><input type="radio" name="q11" value="A" maxlength="1"> “As aventuras dele com o Capitão Gancho...”</li>
                            <li><input type="radio" name="q11" value="B" maxlength="1"> “... mania do Peter Pan de querer ficar sempre menino.”</li>
                            <li><input type="radio" name="q11" value="C" maxlength="1"> “Eu tenho oito anos e já sei ler e escrever.”</li>
                            <li><input type="radio" name="q11" value="D" maxlength="1"> “... se todos quisessem ficar sempre pequenos.”</li>
                        </ol>
                    </div>
                                                             
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 12</h5>
                        <p>Leia o texto abaixo:</p>
                    
                        <p><strong>A coruja e a águia</strong></p>
                        <p>A coruja e a águia, depois de muita briga resolveram fazer as pazes.</p>
                        <p>– Basta de guerra – disse a coruja. – O mundo é grande, e tolice maior que o mundo é andarmos a comer os filhotes uma da outra.</p>
                        <p>– Perfeitamente – respondeu a águia. – Também eu não quero outra coisa.</p>
                        <p>– Neste caso combinamos isto: de ora em diante não comerás nunca os meus filhotes.</p>
                        <p>– Muito bem. Mas como posso distinguir os teus filhotes?</p>
                        <p>– Coisa fácil. Sempre que encontrares uns borrachos lindos, bem- feitinhos de corpo, alegres, cheios de uma graça especial que não existe em filhote de nenhuma outra ave, já sabes, são os meus.</p>
                        <p>– Está feito! – concluiu a águia.</p>
                        <p>Dias depois, andando à caça, a águia encontrou um ninho com três monstrengos dentro, que piavam de bico aberto.</p>
                        <p>– Horríveis bichos! – disse ela. – Vê-se logo que não são os filhos da coruja. E comeu-os.</p>
                        <p>Mas eram os filhos da coruja. Ao regressar à toca, a triste mãe chorou amargamente o desastre e foi ajustar contas com a rainha das aves.</p>
                        <p>– Quê? – disse esta, admirada. – Eram teus filhos aqueles monstrengos?</p>
                        <p>Pois, olha, não se pareciam nada com o retrato que deles me fizeste...</p>
                        <p>Para retrato de filho ninguém acredite em pintor pai.</p>
                        <p>Lá diz o ditado: quem o feio ama, bonito lhe parece.</p>
                        <p>Monteiro Lobato. Ciência hoje das crianças, MEC/FNDE, ano 10, nº 66, p. 08.</p>
                    
                        <p>A coruja e a águia, depois de muitas brigas resolveram fazer as pazes porque</p>
                        <ol type="A">
                            <li><input type="radio" name="q12" value="A" maxlength="1"> achavam tolice comer os filhotes uma da outra.</li>
                            <li><input type="radio" name="q12" value="B" maxlength="1"> comiam todos os bichos que encontravam.</li>
                            <li><input type="radio" name="q12" value="C" maxlength="1"> detestavam encontrar ninhos com aves pequenas.</li>
                            <li><input type="radio" name="q12" value="D" maxlength="1"> gostavam de comer aves bastante crescidas.</li>
                        </ol>
                    </div>
                    

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 13</h5>
                        <p>Leia o texto abaixo:</p>
                        <div class="text-center">
                            <img src="/img/simulado2/13.png" alt="Imagem do Texto">
                        </div>
                        <p>Disponível em: <a href="http://www.filologia.org.br/viiicnlf/anais/caderno12-11.html">http://www.filologia.org.br/viiicnlf/anais/caderno12-11.html</a>. Acesso em: 5 mar. 2014.</p>
                    
                        <p>Nesse texto, a expressão “<b>por água abaixo</b>” quer dizer que o plano do menino vai</p>
                        <ol type="A">
                            <li><input type="radio" name="q13" value="A" maxlength="1"> cair.</li>
                            <li><input type="radio" name="q13" value="B" maxlength="1"> falhar.</li>
                            <li><input type="radio" name="q13" value="C" maxlength="1"> mergulhar.</li>
                            <li><input type="radio" name="q13" value="D" maxlength="1"> mudar.</li>
                        </ol>
                    </div>
                    
 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 14</h5>
                        <p>Leia o texto abaixo:</p>
                        <p>São Paulo, 24 de março de 2004</p>
                        <p>Querida vovó, hoje lembrei que uns dias atrás, você me perguntou de que eu tenho medo, então eu respondi que tenho medo do escuro. Aí você olhou para mim e perguntou o que é medo. Eu não soube responder. Então eu estive conversando com meus colegas da escola e descobrimos que o medo é uma palavra que arrepia o corpo, arregala os olhos, ergue os fios do cabelo, bate queixo e dentes, bambeia as pernas e molha as calças. Medo é uma palavra que tem a cara fria da morte, olhos de mula-sem-cabeça, transparência de fantasmas e corpo de alma do outro mundo. Tudo isso é o medo, por isso eu não consegui lhe responder, pois além do escuro, tenho medo de outras coisas.</p>
                        <p>Papai me falou que quando estamos com medo precisamos fechar os olhos e esquecer que estamos com medo. Em julho, vou passar as férias aí na fazenda, então conversaremos mais sobre o medo.</p>
                        <p>Um beijo de seu neto, Ricardo.</p>
                    
                        <p>Esse texto é</p>
                        <ol type="A">
                            <li><input type="radio" name="q14" value="A" maxlength="1"> um anúncio.</li>
                            <li><input type="radio" name="q14" value="B" maxlength="1"> um poema.</li>
                            <li><input type="radio" name="q14" value="C" maxlength="1"> uma carta.</li>
                            <li><input type="radio" name="q14" value="D" maxlength="1"> uma notícia.</li>
                        </ol>
                    </div>
                    
                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 15</h5>
                        <p>Leia o texto abaixo e responda:</p>
                        <p><strong>Quanto mais sol, mais rápido!</strong></p>
                        <p>Acontece a cada dois anos na Austrália uma corrida de carros bem diferente. Os veículos são pequenos, com espaço só para uma pessoa; achatadinhos, bem leves e com um painelzão brilhante no teto... tudo para ficarem bem mais rápidos. E cadê gasolina?</p>
                        <p>Ahá! É nisso que esses carrinhos são tão especiais: eles são movidos por energia solar!</p>
                        <p>Sacou, agora, para que servem os painéis? Eles captam a energia do sol e transformam em energia para o carro andar. Ops! Andar não, correr: o carro campeão da prova este ano, da equipe holandesa, chegava a fazer até 170 km por hora!</p>
                        <p>A competição é um jeito de ficar de olho na tecnologia. Os cientistas acreditam que o futuro tá aí, na energia que vem do sol. Ela é eficiente, e o melhor de tudo: não polui! Só o que custa caro são os painéis, mas, depois de tudo instalado no teto da casa, cada um pode ter sua própria fábrica de energia – sem postes, e sem contas no final do mês. Com a corrida australiana, estão sendo testados novos painéis e novos sistemas, que logo podem fazer parte da nossa vida. Vamos torcer pelos carros-solares!</p>
                        <p>Disponível em: <a href="http://www.canalkids.com.br">http://www.canalkids.com.br</a>. Acesso em: 02 set. 2009.</p>
                    
                        <p>Nesse texto, o trecho que apresenta uma opinião dos cientistas é:</p>
                        <ol type="A">
                            <li><input type="radio" name="q15" value="A" maxlength="1"> “... eles são movidos por energia solar!”.</li>
                            <li><input type="radio" name="q15" value="B" maxlength="1"> “... o futuro tá aí, na energia que vem do sol.”.</li>
                            <li><input type="radio" name="q15" value="C" maxlength="1"> “... o que custa caro são os painéis,...”.</li>
                            <li><input type="radio" name="q15" value="D" maxlength="1"> “... estão sendo testados novos painéis...”.</li>
                        </ol>
                    </div>
                    
           
               
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 16</h5>
                        <p><strong>(SAERS). Leia o texto abaixo e responda.</strong></p>
                        <p><strong>O LOBO DESATENTO</strong></p>
                        <p>Certa noite, um lobo andava pela floresta em busca de comida. E já estava empenhado nessa tarefa havia um bom tempo, sem qualquer resultado prático, quando sentiu no ar o cheiro de carneiros. “Até que enfim!”, foi o pensamento que lhe veio à cabeça de imediato, e então, imaginando o que de bom poderia encontrar mais adiante para aplacar a fome que sentia, ele caminhou rapidamente na direção que o seu faro indicava.</p>
                        <p>Logo à frente, as árvores davam lugar a uma grande área coberta de relva, e era nesse pedaço de chão que os carneiros descansavam protegidos por um cão. O lobo não se preocupou com isso. O que fez foi sair andando passo a passo, o mais devagar que podia, procurando se aproximar do ponto que ficava mais distante do vigia, onde algumas das possíveis presas dormiam sossegadas.</p>
                        <p>E já estava quase lá, quando uma de suas patas traseiras descuidou-se um momento e pisou em um pedaço de tábua já meio apodrecido. Esta rangeu sob o peso do animal, e o barulho que fez soou tão alto em meio ao silêncio da noite que acordou o cão de guarda, fazendo-o sair na mesma hora em perseguição ao lobo desastrado. Que por sua vez, coitado, não teve outra coisa a fazer senão fugir em desabalada carreira, esfomeado e sem alimento.</p>
                        <p><strong>Moral da história:</strong> Quem não presta atenção no que faz, algum dia vai acabar se metendo em apuros.</p>
                        <p>Disponível em: <a href="http://www.fernandodannemann.recantodasletras.com.br">http://www.fernandodannemann.recantodasletras.com.br</a>. Acesso em: 5 abr. 2010.</p>
                    
                        <p>Leia novamente o trecho.</p>
                        <p>... ele caminhou rapidamente na direção que o seu faro indicava. (ℓ. 5).</p>
                        <p>Nesse trecho, a palavra “rapidamente” indica</p>
                        <ol type="A">
                            <li><input type="radio" name="q16" value="A" maxlength="1"> lugar.</li>
                            <li><input type="radio" name="q16" value="B" maxlength="1"> modo.</li>
                            <li><input type="radio" name="q16" value="C" maxlength="1"> motivo.</li>
                            <li><input type="radio" name="q16" value="D" maxlength="1"> tempo.</li>
                        </ol>
                    </div>
                    
                    
              
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 17</h5>
                        <p><strong>(PROMOVER). Leia o texto abaixo.</strong></p>
                        <p>[...] Na segunda-feira, como de costume, Virinha saiu de madrugada para fuçar latas de lixo. Ele achava que aquela era a melhor hora de procurar comida: fresquinho, tudo calmo, as famílias donas do lixo dormindo em paz. [...]</p>
                        <p>Encontrou uma enorme lata no jardim de uma casa, e começou a fuçar lá dentro até encontrar o fundo. Mas fuçou com tanta força (ele estava com uma fome danada), que a lata virou, emborcou, e emborcada ficou.</p>
                        <p>Não foi mole o que Virinha sofreu espremido lá dentro como se fosse lixo também, sem ter lugar nem para espernear, só podendo respirar por um buraquinho de ferrugem que tinha na lata. Um buraquinho de nada.</p>
                        <p>Se o caminhão de lixo não tivesse passado bem cedo e se o lixeiro não fosse logo desemborcando a lata e dando aquele grito de susto [...]</p>
                        <p>– Tem cachorro vivo dentro do lixo!</p>
                        <p>[...] Virinha não tinha escapado [...]</p>
                        <p>Saiu tonto lá de dentro. Cambaleou até a praia. E foi preciso um banho de mar um bocado comprido pra ele acalmar o nervosismo e se sentir limpo daquele lixo todo. [...]</p>
                        <p>NUNES, Lygia Bójunga; OLYMPIO, José. Os colegas.</p>
                    
                        <p>A lata de lixo que a Virinha fuçava virou porque</p>
                        <ol type="A">
                            <li><input type="radio" name="q17" value="A" maxlength="1"> estava com muita fome.</li>
                            <li><input type="radio" name="q17" value="B" maxlength="1"> ficou muito espremido lá dentro.</li>
                            <li><input type="radio" name="q17" value="C" maxlength="1"> fuçou com muita força.</li>
                            <li><input type="radio" name="q17" value="D" maxlength="1"> estava muito nervoso.</li>
                        </ol>
                    </div>
                    
   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 18</h5>
                        <div class="text-center">
                            <img src="/img/simulado2/18.png" alt="Imagem do Texto">
                        </div>
                        <p>O assunto do texto é como:</p>
                        <ol type="A">
                            <li><input type="radio" name="q18" value="A" maxlength="1"> as pessoas resolvem seus problemas.</li>
                            <li><input type="radio" name="q18" value="B" maxlength="1"> as pessoas tiram carteira de identidade.</li>
                            <li><input type="radio" name="q18" value="C" maxlength="1"> o condomínio de um prédio é formado.</li>
                            <li><input type="radio" name="q18" value="D" maxlength="1"> o Frankenstein ganhou um sobrenome.</li>
                        </ol>
                    </div>
                    
     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      
                      <div class="container">
                        <h5 class="card-title">Questão 19</h5>
                        <p><strong>Pelo mundo das letrinhas</strong></p>
                        <p>Já imaginou aprender o alfabeto através de histórias e desafios? Pois é isso que traz o livro, da editora Ática, Alfabeto de histórias, do autor Gilles Eduar. É uma obra bem legal para as crianças que estão descobrindo as nossas letrinhas.</p>
                        <p>Para cada letra do nosso alfabeto, há uma história curta na qual todas as palavras começam com a mesma letra. Não entendeu? Assim, na letra “j”, por exemplo, aparece esta historinha “No meio do jardim dois jovens jacarés lutam judô, Jussara, a jiboia, é a juíza. Quem ganhar leva uma jaca para o jantar”. Além dessas pequenas histórias, o livro vem com vários desenhos, bem coloridos e conta com alguns jogos e desafios. A publicação tem 60 páginas e é indicada para crianças a partir dos 6 anos. Preço: R$ 23,90.</p>
                        <p>Diarinho (Suplemento infantil do Diário de Pernambuco), Recife, 10 de maio de 2008, p. 6. *Adaptado: Reforma Ortográfica.</p>
                        <p>Segundo esse texto, o livro “Alfabeto de histórias” é bem legal para:</p>
                        <ol type="A">
                            <li><input type="radio" name="q19" value="A" maxlength="1"> as crianças que estão aprendendo a ler.</li>
                            <li><input type="radio" name="q19" value="B" maxlength="1"> as crianças que estão brincando de esconde-esconde.</li>
                            <li><input type="radio" name="q19" value="C" maxlength="1"> as crianças que ainda não sabem desenhar.</li>
                            <li><input type="radio" name="q19" value="D" maxlength="1"> as crianças que querem ler histórias muito pequenas.</li>
                        </ol>
                    </div>
                    

                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 20</h5>
                        <p>BALEIA-AZUL HUMANOS</p>
                        <div class="text-center">
                            <img src="/img/simulado2/20.png" alt="Imagem do Texto">
                        </div>
                        <p>De acordo com esse quadro, acima de 35 metros é o:</p>
                        <ol type="A">
                            <li><input type="radio" name="q20" value="A" maxlength="1"> peso do cérebro da baleia azul.</li>
                            <li><input type="radio" name="q20" value="B" maxlength="1"> peso do cérebro do homem.</li>
                            <li><input type="radio" name="q20" value="C" maxlength="1"> tamanho do corpo da baleia azul.</li>
                            <li><input type="radio" name="q20" value="D" maxlength="1"> tamanho do corpo do homem.</li>
                        </ol>
                    </div>                    
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 21</h5>
                        <p><strong>Só serei feliz</strong></p>
                        <p>Se tiver grana, roupas legais e puder gastar com o que bem entender.</p>
                        <p>A gente não vai aqui repetir o velho ditado dizendo que “dinheiro não traz felicidade”, como se isso fosse um consolo para quem está sem grana. Mas também não dá para bancar a cínica e rebater afirmando que “trazer, não traz, mas compra”. Brincadeiras à parte, a verdade é que a felicidade é um estado que não se compra, mas pode ser encontrada nas coisas mais simples da vida. Você pode experimentar, por exemplo:</p>
                        <ul>
                            <li>Tomar um picolé;</li>
                            <li>Levar seus olhos para passear e ver quanta coisa bonita existe na natureza para ser apreciada;</li>
                            <li>Dividir uma pizza com os amigos;</li>
                            <li>Andar de mãos dadas com o namorado;</li>
                            <li>Surpreender seu pai que chegou cansado do trabalho com um beijo carinhoso;</li>
                            <li>Sair para passear com seu cachorrinho;</li>
                            <li>Tomar conta da filhinha da vizinha e brincar de fazer bolinhas de sabão.</li>
                        </ul>
                        <p>Enfim, dá para resumir em poucas palavras: encontrar a felicidade é bem mais fácil do que você imaginava, não é mesmo?</p>
                        <p>(Revista.Atrevida.Número161.janeiro/2008.pág.32.Fragmento adaptado)</p>
                        <p>Esse texto foi escrito para:</p>
                        <ol type="A">
                            <li><input type="radio" name="q21" value="A" maxlength="1"> idosos.</li>
                            <li><input type="radio" name="q21" value="B" maxlength="1"> namorados.</li>
                            <li><input type="radio" name="q21" value="C" maxlength="1"> garotas.</li>
                            <li><input type="radio" name="q21" value="D" maxlength="1"> pais.</li>
                        </ol>
                    </div>
                    
                
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 22</h5>
                        <p><strong>Texto I</strong></p>
                        <p>Manual de etiqueta sustentável</p>
                        <p>50 Dicas para enfrentar o aquecimento global e outros desafios da atualidade.</p>
                        <p>“Passe adiante este manual. Discuta-o com os amigos, vizinhos, o pessoal do prédio.</p>
                        <p>Dissiminar as práticas aqui sugeridas é uma atitude sustentável. Depois de lido e discutido, recicle a revista.
                            Ou faça origamis, calço de mesa. Aproveite o embalo para ajudar uma ONG. Melhor: invente sua própria ONG e
                            cobre ações de seus representantes.</p>
                        <p>O futuro a gente faz agora”.</p>
                        <p>Fonte: <a href="http://planetasustentavel.abril.com.br/cartilha/" target="_blank">planetasustentavel.abril.com.br/cartilha/</a></p>
                
                        <p><strong>Texto II</strong></p>
                        <p>“Nossas idéias comprometidas com o bem comum, são como sementes. Se as guardamos, nunca darão frutos. Se as
                            distribuímos, estamos possibilitando que os outros as plantem e colham os frutos de um novo mundo, melhor e
                            possível.”</p>
                        <p>Beatriz Dornelas</p>
                        <p>Fonte: <a href="http://noticias.ambientebrasil.com.br/noticia/?id=21414" target="_blank">noticias.ambientebrasil.com.br/noticia/?id=21414</a></p>
                
                        <p>Os textos lidos tratam do mesmo assunto. Sobre o que eles falam:</p>
                        <ol type="A">
                            <li><input type="radio" name="q22" value="A" maxlength="1"> A necessidade de plantar árvores.</li>
                            <li><input type="radio" name="q22" value="B" maxlength="1"> A valorização da conversa entre os amigos.</li>
                            <li><input type="radio" name="q22" value="C" maxlength="1"> Os cuidados que devemos ter ao plantar e colher.</li>
                            <li><input type="radio" name="q22" value="D" maxlength="1"> A importância de partilhar ideias e práticas visando o bem comum.</li>
                        </ol>
                    </div>
            

                                                                       
                    </div>
                  </div>
                </div>
              </div>            
       
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                         
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
      
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
  
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                                        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
         
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
     
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>