<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SEGUNDO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">SEGUNDO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/envio_segundo_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 1</h5>
                        <p class="card-text">Leia os textos abaixo.</p>
                        <p><strong>Texto I</strong></p>
                        <p>GRIPE SUÍNA (INFLUENZA A)</p>
                        <p>O que fazer para evitar o contágio?</p>
                        <ul>
                            <li>Cubra seu nariz e boca com um lenço quando tossir ou espirrar. Jogue no lixo o lenço após o uso.</li>
                            <li>Lave suas mãos constantemente com água e sabão, especialmente depois de tossir ou espirrar. Produtos à base de álcool para limpar as mãos também são efetivos.</li>
                            <li>Evite tocar seus olhos, nariz ou boca. Os germes se espalham deste modo.</li>
                            <li>Evite contato próximo com pessoas doentes.</li>
                            <li>Se você ficar doente, fique em casa e limite o contato com outros, para evitar infectá-los.</li>
                        </ul>
                        <p>Fonte: <a href="http://www.sempretops.com/saude/como-prevenir-se-da-gripe-suina/">http://www.sempretops.com/saude/como-prevenir-se-da-gripe-suina/</a></p>
                    
                        <p><strong>Texto II</strong></p>
                        <div class="text-center">
                        <img src="/img/simulado2/1.png" alt="Imagem do Texto II">
                      </div>
                    
                        <p>O traço comum entre os textos I e II é o seguinte:</p>
                        <ol type="A">
                            <li><input type="radio" name="q1" value="A" maxlength="1"> Dão informações sobre a gripe suína (Influenza A).</li>
                            <li><input type="radio" name="q1" value="B" maxlength="1"> Solicitam informações do leitor atento.</li>
                            <li><input type="radio" name="q1" value="C" maxlength="1"> Dizem que a nova gripe não é contagiosa.</li>
                            <li><input type="radio" name="q1" value="D" maxlength="1"> Afirmam não ser necessário tomar cuidado com a nova gripe.</li>
                        </ol>
                    </div>                    
                    </div>
                  </div>
                </div>
              </div>            
                
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 2</h5>
                        <p class="card-text">Leia o texto abaixo e responda.</p>
                    
                        <p>LIÇÃO QUE SE APRENDE CEDO</p>
                        <p>Dia 14 de março, segunda-feira, é comemorado o Dia Internacional do Consumidor.</p>
                        <p>Talvez você ache que essa informação não tenha muito a ver com você, que ainda não é adulto e não tem um salário todo mês. Egano seu. Mesmo quando se compra só um chocolate na padaria da esquina, essa atitude vem acompanhada de direitos e deveres – tanto de quem compra quanto de quem vende – e que, muitas vezes, a gente nem se dá conta.</p>
                        <p>E, se você reparar bem, vai notar que boa parte das propagandas é voltada para o público infantil – ou seja, existem muitos produtos nas prateleiras das lojas esperando que você, consumidor mirim, os leve para casa. Isso pode ser perigoso, porque não é difícil chegar a um ponto em que se quer tudo o que é oferecido. Para fazer crianças e adolescentes consumidores responsáveis, agora e no futuro, nada melhor que a informação.</p>
                        <p>LENOIR, Carolina. Estado de Minas, Gurilândia. 13 mar. 2010. p.4.</p>
                    
                        <p>Leia novamente o trecho.</p>
                        <p>"<b>Talvez</b> você ache que essa informação não tenha muito a ver com você,..." (ℓ. 2)</p>
                        <p>Nesse trecho, a palavra destacada indica</p>
                        <ol type="A">
                            <li><input type="radio" name="q2" value="A" maxlength="1"> Dúvida.</li>
                            <li><input type="radio" name="q2" value="B" maxlength="1"> Intensidade.</li>
                            <li><input type="radio" name="q2" value="C" maxlength="1"> Negação.</li>
                            <li><input type="radio" name="q2" value="D" maxlength="1"> Tempo.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 3</h5>
                        <p class="card-text">Leia o texto e responda à questão.</p>
                    
                        <p><strong>MELHORES AMIGOS DA CIÊNCIA</strong></p>
                        <p>Cães farejadores ajudam cientistas a saber mais sobre animais ameaçados de extinção.</p>
                        <p>É ainda madrugada quando Mason, Ally, Marvín e Gator saem para o trabalho. Apesar de terem pela frente de cinco a sete horas de labuta, os quatro não estão nem um pouco desanimados. Ao contrário: parecem em-polgados em começar mais um dia de atividades no Parque Nacional das Emas, em Goiás, embora a tarefa que os aguarde, aparentemente, não seja das mais entusiasmantes.</p>
                        <p>Os quatro têm quê localizar fezes de animais ameaçados de extinção, como o tamanduá-bandeira e a onça-pintada. O cocô, acredite se puder, é material fundamental para uma pesquisa que está sendo realizada por uma cientista americana na região, com o apoio de instituições brasileiras. Mas se você pensa que Mason, Ally, Marvin e Gator são também pesquisadores, cuidado para não ficar de queixo caído: na verdade, os quatro são cães farejadores - grandes amigos do homem que, agora, também se tornaram aliados da ciência.</p>
                        <p>Fonte: Melhores amigos do homem. In: Revista Ciência Hoje das Crianças. Disponível em: <a href="http://cienciahoje.uol.com.br/124507">http://cienciahoje.uol.com.br/124507</a> Acesso em: 25 jul. 2008.</p>
                    
                        <p>Assinale a alternativa em que se evidencia uma opinião da enunciadora.</p>
                        <ol type="A">
                            <li><input type="radio" name="q3" value="A" maxlength="1"> Os quatro cães farejadores saem de madrugada para o trabalho.</li>
                            <li><input type="radio" name="q3" value="B" maxlength="1"> Os quatro cães farejadores trabalham de cinco a sete horas diárias.</li>
                            <li><input type="radio" name="q3" value="C" maxlength="1"> A atividade de Mason, Ally, Marvin e Gator não é muito entusiasmante.</li>
                            <li><input type="radio" name="q3" value="D" maxlength="1"> As fezes de alguns animais em extinção constituem importante material de pesquisa.</li>
                        </ol>
                    </div>
                    
 
                                                           
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 4</h5>
                        <p class="card-text">Leia o texto abaixo.</p>
                    
                        <p><strong>PAPO FURADO</strong></p>
                        <p>O dente de Ana estava mole – nheco, nheco – pra lá e pra cá. Mas como era um dente muito teimoso, não tinha jeito de cair. Nem amarrando linha, prendendo na porta e batendo com toda força – BUM – no danado se arrancava! Nem assim!</p>
                        <p>O dente caiu quando ele bem quis, logo no primeiro dia de aula, quando Aninha comia uma bala puxa. Puxa vida! E era justo o dente da frente!</p>
                        <p>Daí todo mundo entrou na classe e a professora chamou assim:</p>
                        <p>– Ana! Quem é Ana?</p>
                        <p>Só quando viu a turma inteira de olhão pregado nela, Aninha espichou a mão e fez:</p>
                        <p>– UUMMM – de boca fechada para ninguém ver a banguela.</p>
                        <p>Stella Carr. As confusões de Aninha.São Paulo: Moderna, 1985.</p>
                    
                        <p>Pode-se afirmar que o dente de Ana caiu porque Ana</p>
                        <ol type="A">
                            <li><input type="radio" name="q4" value="A" maxlength="1"> amarrou-o e bateu a porta.</li>
                            <li><input type="radio" name="q4" value="B" maxlength="1"> ficou nervosa quando entrou na sala.</li>
                            <li><input type="radio" name="q4" value="C" maxlength="1"> se assustou com a professora.</li>
                            <li><input type="radio" name="q4" value="D" maxlength="1"> comeu uma bala puxa.</li>
                        </ol>
                    </div>
                    
      
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 5</h5>
                        <p class="card-text">Leia o texto abaixo.</p>
                        <p><strong>SAPATO É MUITO CHATO,</strong></p>
                        <p>Mas é um fato: em pata de pato não cabe sapato.</p>
                        <p>Não há sapato pra pata de gato ou pata de rato.</p>
                        <p>E eu constato que nem no mato se encontra sapato pra carrapato!</p>
                        <p>Fonte: CIÇA. Trava-Trela. Rio de Janeiro: Nova Fronteira, 2009.</p>
                    
                        <p>A palavra que retrata o tema da poesia é</p>
                        <ol type="A">
                            <li><input type="radio" name="q5" value="A" maxlength="1"> carrapato.</li>
                            <li><input type="radio" name="q5" value="B" maxlength="1"> sapato.</li>
                            <li><input type="radio" name="q5" value="C" maxlength="1"> gato.</li>
                            <li><input type="radio" name="q5" value="D" maxlength="1"> pato.</li>
                        </ol>
                    </div>
                    
  
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 6</h5>
                        <p class="card-text">Leia o texto abaixo.</p>
                        <p><strong>O Bicho Formigueiro</strong></p>
                        <p>Cada formiga faz um pouco do trabalho para manter o formigueiro funcionando.</p>
                        <p>BRAÇOS: As soldadas são formigas maiores e mais fortes. Diante de qualquer ameaça avisam as demais e dilaceram o inimigo com mordidas. SISTEMA IMUNOLÓGICO: As formigas produzem uma substância bactericida que mata todo tipo de germe. CIRCULAÇÃO: Os corredores do formigueiro permitem o transporte de nutrientes e ajudam a manter a temperatura num nível mais agradável. ESTÔMAGO: Algumas operárias não digerem alimentos sólidos. As larvas recebem folhas picadas e as regurgitam como substância (...).</p>
                        <p>Almanaque Super Interessante. 2003. P. 28 – Adaptado.</p>
                    
                        <p>As palavras que estabelecem uma ligação entre as partes do texto, mantendo o sentido da expressão “cada formiga faz um pouco do trabalho” são:</p>
                        <ol type="A">
                            <li><input type="radio" name="q6" value="A" maxlength="1"> avisam, produzem, permitem, digerem.</li>
                            <li><input type="radio" name="q6" value="B" maxlength="1"> fortes, inimigo, germe, transporte, substância.</li>
                            <li><input type="radio" name="q6" value="C" maxlength="1"> as soldadas, diante de, as formigas, os corredores.</li>
                            <li><input type="radio" name="q6" value="D" maxlength="1"> braços, sistema imunológico, circulação, estômago.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 7</h5>
                        <div class="text-center">
                          <img src="/img/simulado2/07.png" alt="Imagem da Questão 7">
                        </div>                      
                        <p>O lixo que não pode ser reciclado é o</p>
                        <ol type="A">
                            <li><input type="radio" name="q7" value="A" maxlength="1"> vidro.</li>
                            <li><input type="radio" name="q7" value="B" maxlength="1"> plástico.</li>
                            <li><input type="radio" name="q7" value="C" maxlength="1"> orgânico.</li>
                            <li><input type="radio" name="q7" value="D" maxlength="1"> metal.</li>
                        </ol>
                    </div>
                    

                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 8</h5>
                        <p>A POMBA E A FORMIGA</p>
                        <p>Uma pomba branca bebia água no riacho quando, de repente, ouviu uma vozinha muito fraca:</p>
                        <p>– Socorro, socorro, estou me afogando!</p>
                        <p>Era uma formiga, que a correnteza forte arrastava.</p>
                        <p>A pomba branca ficou penalizada. “Coitadinha da formiga”, pensou. “Como poderei ajudá-la?” Arrancou com o bico uma graminha e a jogou na água. A formiga subiu no barco e alcançou a outra margem.</p>
                        <p>Aliviada, a formiga queria agradecer a pomba, mas onde será que ela estava?</p>
                        <p>Dias depois, a formiguinha andava pelo bosque quando viu um camponês descalço, armado de arco e flecha. O homem mirava alguma coisa no alto de um galho. Era justamente a pomba branca que, sem desconfiar de nada, dormia tão profundamente que até roncava.</p>
                        <p>“Preciso avisá-la”, pensou a formiga, desesperada.</p>
                        <p>Nhec!!!... A formiguinha enterrou suas mandíbulas cortantes no pé descalço do camponês malvado.</p>
                        <p>– Ai! Ai! Ai! Ui! Ui! Ui! – Gritou o homem, uivando de dor. E largou o arco e a flecha, que ficaram caídos na terra.</p>
                        <p>Com o barulho, a pombinha acordou assustada. E mais que depressa tratou de voar para bem longe. O camponês foi embora, furioso, resmungando:</p>
                        <p>– Que azar, pisei num espinho! Adeus, pomba assada...</p>
                        <p>MORAL DA HISTÓRIA: “O bem que fazemos, um dia volta para nós.”</p>
                        <p>VI EIRA, Isabel. Fabulinhas Famosas. São Paulo: Rideel, 2001. p. 201.</p>
                    
                        <p>O narrador dessa história é</p>
                        <ol type="A">
                            <li><input type="radio" name="q8" value="A" maxlength="1"> a pomba.</li>
                            <li><input type="radio" name="q8" value="B" maxlength="1"> a formiga.</li>
                            <li><input type="radio" name="q8" value="C" maxlength="1"> um camponês.</li>
                            <li><input type="radio" name="q8" value="D" maxlength="1"> um observador.</li>
                        </ol>
                    </div>
                    
   
                      </div>
                  
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 9</h5>
                        <p>Observando toda a tirinha podemos concluir que na 3ª tirinha</p>
                        <div class="text-center">
                          <img src="/img/simulado2/09.png" alt="Tirinha Mafalda">

                        </div>
                        <p>Fonte: <a href="http://3.bp.blogspot.com/_kJ5hT2ajHIM/TFnv2D1XpJI/AAAAAAAAABw/ubyysxIDltY/s1600/image001.jpg" target="_blank">http://3.bp.blogspot.com/_kJ5hT2ajHIM/TFnv2D1XpJI/AAAAAAAAABw/ubyysxIDltY/s1600/image001.jpg</a> (último acesso em 04/08/2011)</p>
                        <ol type="A">
                            <li><input type="radio" name="q9" value="A" maxlength="1"> há uma certa cena de susto que o pai passa pra filha.</li>
                            <li><input type="radio" name="q9" value="B" maxlength="1"> só há humor a partir desta tirinha.</li>
                            <li><input type="radio" name="q9" value="C" maxlength="1"> Mafalda leva um susto pelo pai diante da declaração dita.</li>
                            <li><input type="radio" name="q9" value="D" maxlength="1"> não há cena de humor e sim uma cena de susto.</li>
                        </ol>
                    </div>
                    
      
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">


                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
           
               
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
              
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">                   

                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                                                       
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                         
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
      
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
  
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                                        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
         
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
     
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>