<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TERCEIRO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">TERCEIRO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/envio_terceiro_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

              
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 1</h5>
                        <div class="text-center">
                            <img src="/img/simulado3/01.png" alt="Objetivo do texto" class="img-fluid">
                        </div>
                        <p>O objetivo do texto é:</p>
                        <ol type="A">
                            <li><input type="radio" name="q1" value="A" maxlength="1"> mostrar a importância dos livros.</li>
                            <li><input type="radio" name="q1" value="B" maxlength="1"> divulgar uma feira de livros.</li>
                            <li><input type="radio" name="q1" value="C" maxlength="1"> explicar como são feitos os livros.</li>
                            <li><input type="radio" name="q1" value="D" maxlength="1"> indicar locais onde se vendem livros.</li>
                        </ol>
                    </div>
                    
                     
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 2</h5>
                        <p>Leia o texto abaixo.</p>
                        <p class="texto_paragrafo">
                            <strong>A onça</strong><br>
                            O miado soou de novo, desta vez, bem perto, e logo depois, surgiu, por entre as folhas, a cabeça de uma formidável onça-pintada. Era um animal de extrema beleza, quase tão grande como o tigre de Bengala. Parou; farejou o ar. Depois, ergueu os olhos para a árvore. Dando com o menino e o Saci lá em cima, soltou um rugido de satisfação, como quem diz: “Achei o meu jantar!”
                            E tentou subir à árvore. Vendo que isso lhe era impossível, sacudiu o tronco tão violentamente que, por um triz, Pedrinho não veio abaixo, como se fosse jaca madura. Mas não caiu, e a onça, desanimada, resolveu esperar que ele descesse. Sentou-se nas patas traseiras e ali ficou quieta, só movendo a cauda e passando de quando em quando a língua pelos beiços.
                        </p>
                        <p>No contexto da frase, “... resolveu esperar que ele descesse”, a palavra ELE refere-se a</p>
                        <ol type="A">
                            <li><input type="radio" name="q2" value="A" maxlength="1"> animal.</li>
                            <li><input type="radio" name="q2" value="B" maxlength="1"> Pedrinho.</li>
                            <li><input type="radio" name="q2" value="C" maxlength="1"> saci.</li>
                            <li><input type="radio" name="q2" value="D" maxlength="1"> tigre.</li>
                        </ol>
                    </div>
                    
 
                                                           
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 3</h5>
                        <p>Leia o texto abaixo e responda.</p>
                        <p class="texto_paragrafo">No Brasil, o basquetebol foi introduzido em São Paulo no ano de 1896 por um missionário norte-americano, Augusto F. Shaw. No início, era praticado no Mackenzie College, na Escola Normal da Praça e nas ACMs. Porém, logo se disseminou rapidamente, ainda que como uma atividade de lazer.</p>
                        <p>Qual é o tema desse texto?</p>
                        <ol type="A">
                            <li><input type="radio" name="q3" value="A" maxlength="1"> A vida de missionário norte-americano.</li>
                            <li><input type="radio" name="q3" value="B" maxlength="1"> A história do basquetebol no Brasil.</li>
                            <li><input type="radio" name="q3" value="C" maxlength="1"> As escolas de São Paulo.</li>
                            <li><input type="radio" name="q3" value="D" maxlength="1"> A prática de atividades de lazer.</li>
                        </ol>
                    </div>
                    
      
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 4</h5>
                        <p>Leia os textos abaixo.</p>
                    
                        <p><strong>TEXTO 1</strong></p>
                        <p><em>Não deixe seu melhor amigo com raiva</em></p>
                        <p class="texto_paragrafo">A vacina contra a raiva protege seu animal, evitando que ele fique doente e ameace a saúde de sua família. No dia 28 de setembro, a Secretaria Municipal de Saúde realiza a Campanha Antirábica Animal. Procure o posto de vacinação mais perto de sua casa, levando seu cachorro ou gato, no horário de 9 às 17 horas.</p>
                        <p>Prefeitura Municipal de Betim.</p>
                    
                        <p><strong>TEXTO 2</strong></p>
                        <p><em>Mordida de cão, gato, rato e cia</em></p>
                        <p class="texto_paragrafo">De repente, o cachorro do vizinho ou um vira-lata não simpatiza com seu filho e lhe dá uma mordida. O que fazer? Primeiro, acalme-se e veja o estrago. Depois de cuidar do ferimento da criança, passe a prestar atenção no animal.</p>
                        <p class="texto_paragrafo"> Se for possível, observe como se comporta o animal (esta observação pode mudar tudo). Por exemplo: se o animal não puder ser observado para saber se está com alguma doença, o esquema de vacina contra a raiva deverá ser o mais rigoroso possível. Por outro lado, se o animal, depois de 10 dias de observação, permanecer saudável, a criança poderá se livrar de um esquema vacinal na maioria das vezes longo, cansativo e doloroso.</p>
                        <p class="texto_paragrafo">Em todos os postos de saúde do Brasil você pode encontrar o esquema de vacinas contra raiva. recomendado pela Organização Mundial de Saúde, baseado no local da mordida, na gravidade da lesão e nas condições de saúde do animal.</p>
                        <p>Ziraldo e Dr. Tuta. Manual de sobrevivência do Menino Maluquinho. Porto Alegre: L&PM, 1997. p. 40-41.</p>
                    
                        <p>O assunto desses dois textos é</p>
                        <ol type="A">
                            <li><input type="radio" name="q4" value="A" maxlength="1"> a saúde das crianças.</li>
                            <li><input type="radio" name="q4" value="B" maxlength="1"> a vacina das crianças.</li>
                            <li><input type="radio" name="q4" value="C" maxlength="1"> a saúde no Brasil.</li>
                            <li><input type="radio" name="q4" value="D" maxlength="1"> a vacina contra a raiva.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 5</h5>
                        <p>Leia o texto a seguir e responda.</p>
                    
                        <p><strong>O pastor e seus carneiros</strong></p>
                        <p class="texto_paragrafo">Um pastor levou seus carneiros para uma floresta de carvalhos. Sob uma enorme árvore cheia de frutos, ele estendeu seu casaco. Depois subiu para sacudi-la e assim os frutos cairiam. Mas os carneiros comeram indistintamente as bolotas e o casaco. Quando desceu, vendo o que tinha acontecido, o pastor exclamou:</p>
                        <p class="texto_paragrafo">― Suas bestas, aos outros vocês dão sua lã para abrigá-los, a mim que lhes dou o sustento, vocês destroem até o casaco!</p>
                        <p class="texto_paragrafo">Muita gente, sem se dar conta, serve a desconhecidos e faz mal aos que lhes são próximos.</p>
                        <p>(ESOPO 550 a.C. Fábulas de Esopo. Trad. Antonio Carlos Vianna. Porto Alegre: L&PM, 1997. p.157.)</p>
                    
                        <p>O texto “O pastor e seus carneiros” é</p>
                        <ol type="A">
                            <li><input type="radio" name="q5" value="A" maxlength="1"> uma carta contando o que os carneiros fizeram com o casaco.</li>
                            <li><input type="radio" name="q5" value="B" maxlength="1"> uma fábula que ensina uma lição de moral a partir de um fato.</li>
                            <li><input type="radio" name="q5" value="C" maxlength="1"> uma notícia de um fato que ocorreu com o pastor.</li>
                            <li><input type="radio" name="q5" value="D" maxlength="1"> um poema sobre a vida do pastor e seus carneiros.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 6</h5>
                        <p>Leia o texto abaixo e responda a questão.</p>
                    
                        <p><strong>Domingão</strong></p>
                        <p class="texto_paragrafo">Domingo, eu passei o dia todo de bode. Mas, no começo da noite, melhorei e resolvei bater um fio para o Zeca.</p>
                        <p class="texto_paragrafo">— E ai, cara? Vamos ao cinema?</p>
                        <p class="texto_paragrafo">— Sei lá, Marcos. Estou meio pra baixo....</p>
                        <p class="texto_paragrafo">— Eu também tava, cara. Mas já estou melhor!</p>
                        <p class="texto_paragrafo">E lá fomos nós. O ônibus atrasou, e nós pagamos o maior mico, porque, quando chegamos, o filme já tinha começado. Teve até um mane que perguntou se a gente tinha chegado para a próxima sessão.</p>
                        <p class="texto_paragrafo">Saímos de lá, comentando:</p>
                        <p class="texto_paragrafo">— Que filme massa!</p>
                        <p class="texto_paragrafo">— Maneiro mesmo!</p>
                        <p class="texto_paragrafo">Mas já era tarde, e nem deu para contar os últimos babados pro Zeca. Afinal, segunda-feira é de trampo e eu detesto queimar o filme com o patrão. Não vejo a hora de chegar de novo para eu agitar um pouco mais.</p>
                        <p>CAVÉQUIA. Márcia Paganini. In: <a href="http://ensinocomalegria.blogspot.com" target="_blank">http://ensinocomalegria.blogspot.com</a></p>
                    
                        <p>Os dois personagens que conversam nesse texto são</p>
                        <ol type="A">
                            <li><input type="radio" name="q6" value="A" maxlength="1"> adultos.</li>
                            <li><input type="radio" name="q6" value="B" maxlength="1"> crianças.</li>
                            <li><input type="radio" name="q6" value="C" maxlength="1"> idosos.</li>
                            <li><input type="radio" name="q6" value="D" maxlength="1"> jovens.</li>
                        </ol>
                    </div>
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 7</h5>
                        <p>O DESPERDÍCIO DA ÁGUA</p>
                        <p class="texto_paragrafo">Quando abrimos uma torneira, não estamos apenas consumindo água. Estamos também alimentando a rede de esgoto, para onde vai praticamente toda a água que consumimos. No ano 2000, os seres humanos estarão consumindo aproximadamente 150 bilhões de m³ de água por ano e gerando 90 bilhões de m³ de esgoto.</p>
                        <p class="texto_paragrafo">O consumo de água cresce a cada dia, mas a quantidade de água disponível para o consumo no planeta não cresce. Em um futuro não muito distante haverá escassez. Alguns hábitos devem ser adquiridos em nosso cotidiano, tais como fechar a torneira ao escovar os dentes, cuidar para que as torneiras fiquem fechadas de forma correta, reaproveitar a água da lavagem da roupa para lavar o quintal etc. Um pequeno filete de água escorrendo um dia inteiro por um vazamento pode equivaler ao consumo diário de água de uma família de cinco pessoas.</p>
                        <p>Fonte: O desperdício da água. Disponível em: <a href="http://www.tvcultura.com.br/aloescola/ciencias/aguanaboca/index.htm" target="_blank">http://www.tvcultura.com.br/aloescola/ciencias/aguanaboca/index.htm</a>. Acesso em: 15 jul. 2008</p>
                    
                        <p>Segundo o texto, é preciso reduzir o desperdício de água porque</p>
                        <ol type="A">
                            <li><input type="radio" name="q7" value="A" maxlength="1"> a água usada para lavar roupa deve ser reaproveitada.</li>
                            <li><input type="radio" name="q7" value="B" maxlength="1"> algumas famílias têm menos de cinco pessoas.</li>
                            <li><input type="radio" name="q7" value="C" maxlength="1"> o consumo cresce, mas a água disponível no planeta não aumenta.</li>
                            <li><input type="radio" name="q7" value="D" maxlength="1"> quando abrimos uma torneira não consumimos apenas água.</li>
                        </ol>
                    </div>
                    
                      </div>
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
      
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">


                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
           
               
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
              
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
   
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">                   

                                     
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                                                       
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
     
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                         
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            

                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
  
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
            
    
                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
      
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
  
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                                        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
         
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
     
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>