<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TERCEIRO SIMULADO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body class="bg-primary">
    <hr>
       <div class="container bg-light">
            <div class="text-center">
                <a class="navbar-brand" href="/juslany"><img src="/img/meu_saeb.png" width="290" height="130" class="d-inline-block align-top" alt=""></a>
            </div>
            <div class=" display-3 text-center">TERCEIRO SIMULADO</div>
       </div>
        <br>

    <hr>
    <div class="container">
        <form method="POST" action="/envio_terceiro_simulado" onsubmit="return validarFormulario()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome:</span>
              <input type="text" class="form-control" placeholder="Digite seu nome completo aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
            </div>

            <h1 class="text-center text-light">LÍNGUA PORTUGUESA</h1>

            <div class="container">

              
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 1</h5>
                        <div class="text-center">
                            <img src="/img/simulado3/01.png" alt="Objetivo do texto" class="img-fluid">
                        </div>
                        <p>O objetivo do texto é:</p>
                        <ol type="A">
                            <li><input type="radio" name="q1" value="A" maxlength="1"> mostrar a importância dos livros.</li>
                            <li><input type="radio" name="q1" value="B" maxlength="1"> divulgar uma feira de livros.</li>
                            <li><input type="radio" name="q1" value="C" maxlength="1"> explicar como são feitos os livros.</li>
                            <li><input type="radio" name="q1" value="D" maxlength="1"> indicar locais onde se vendem livros.</li>
                        </ol>
                    </div>
                    
                     
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 2</h5>
                        <p>Leia o texto abaixo.</p>
                        <p class="texto_paragrafo">
                            <strong>A onça</strong><br>
                            O miado soou de novo, desta vez, bem perto, e logo depois, surgiu, por entre as folhas, a cabeça de uma formidável onça-pintada. Era um animal de extrema beleza, quase tão grande como o tigre de Bengala. Parou; farejou o ar. Depois, ergueu os olhos para a árvore. Dando com o menino e o Saci lá em cima, soltou um rugido de satisfação, como quem diz: “Achei o meu jantar!”
                            E tentou subir à árvore. Vendo que isso lhe era impossível, sacudiu o tronco tão violentamente que, por um triz, Pedrinho não veio abaixo, como se fosse jaca madura. Mas não caiu, e a onça, desanimada, resolveu esperar que ele descesse. Sentou-se nas patas traseiras e ali ficou quieta, só movendo a cauda e passando de quando em quando a língua pelos beiços.
                        </p>
                        <p>No contexto da frase, “... resolveu esperar que ele descesse”, a palavra ELE refere-se a</p>
                        <ol type="A">
                            <li><input type="radio" name="q2" value="A" maxlength="1"> animal.</li>
                            <li><input type="radio" name="q2" value="B" maxlength="1"> Pedrinho.</li>
                            <li><input type="radio" name="q2" value="C" maxlength="1"> saci.</li>
                            <li><input type="radio" name="q2" value="D" maxlength="1"> tigre.</li>
                        </ol>
                    </div>
                    
 
                                                           
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 3</h5>
                        <p>Leia o texto abaixo e responda.</p>
                        <p class="texto_paragrafo">No Brasil, o basquetebol foi introduzido em São Paulo no ano de 1896 por um missionário norte-americano, Augusto F. Shaw. No início, era praticado no Mackenzie College, na Escola Normal da Praça e nas ACMs. Porém, logo se disseminou rapidamente, ainda que como uma atividade de lazer.</p>
                        <p>Qual é o tema desse texto?</p>
                        <ol type="A">
                            <li><input type="radio" name="q3" value="A" maxlength="1"> A vida de missionário norte-americano.</li>
                            <li><input type="radio" name="q3" value="B" maxlength="1"> A história do basquetebol no Brasil.</li>
                            <li><input type="radio" name="q3" value="C" maxlength="1"> As escolas de São Paulo.</li>
                            <li><input type="radio" name="q3" value="D" maxlength="1"> A prática de atividades de lazer.</li>
                        </ol>
                    </div>
                    
      
                              
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 4</h5>
                        <p>Leia os textos abaixo.</p>
                    
                        <p><strong>TEXTO 1</strong></p>
                        <p><em>Não deixe seu melhor amigo com raiva</em></p>
                        <p class="texto_paragrafo">A vacina contra a raiva protege seu animal, evitando que ele fique doente e ameace a saúde de sua família. No dia 28 de setembro, a Secretaria Municipal de Saúde realiza a Campanha Antirábica Animal. Procure o posto de vacinação mais perto de sua casa, levando seu cachorro ou gato, no horário de 9 às 17 horas.</p>
                        <p>Prefeitura Municipal de Betim.</p>
                    
                        <p><strong>TEXTO 2</strong></p>
                        <p><em>Mordida de cão, gato, rato e cia</em></p>
                        <p class="texto_paragrafo">De repente, o cachorro do vizinho ou um vira-lata não simpatiza com seu filho e lhe dá uma mordida. O que fazer? Primeiro, acalme-se e veja o estrago. Depois de cuidar do ferimento da criança, passe a prestar atenção no animal.</p>
                        <p class="texto_paragrafo"> Se for possível, observe como se comporta o animal (esta observação pode mudar tudo). Por exemplo: se o animal não puder ser observado para saber se está com alguma doença, o esquema de vacina contra a raiva deverá ser o mais rigoroso possível. Por outro lado, se o animal, depois de 10 dias de observação, permanecer saudável, a criança poderá se livrar de um esquema vacinal na maioria das vezes longo, cansativo e doloroso.</p>
                        <p class="texto_paragrafo">Em todos os postos de saúde do Brasil você pode encontrar o esquema de vacinas contra raiva. recomendado pela Organização Mundial de Saúde, baseado no local da mordida, na gravidade da lesão e nas condições de saúde do animal.</p>
                        <p>Ziraldo e Dr. Tuta. Manual de sobrevivência do Menino Maluquinho. Porto Alegre: L&PM, 1997. p. 40-41.</p>
                    
                        <p>O assunto desses dois textos é</p>
                        <ol type="A">
                            <li><input type="radio" name="q4" value="A" maxlength="1"> a saúde das crianças.</li>
                            <li><input type="radio" name="q4" value="B" maxlength="1"> a vacina das crianças.</li>
                            <li><input type="radio" name="q4" value="C" maxlength="1"> a saúde no Brasil.</li>
                            <li><input type="radio" name="q4" value="D" maxlength="1"> a vacina contra a raiva.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 5</h5>
                        <p>Leia o texto a seguir e responda.</p>
                    
                        <p><strong>O pastor e seus carneiros</strong></p>
                        <p class="texto_paragrafo">Um pastor levou seus carneiros para uma floresta de carvalhos. Sob uma enorme árvore cheia de frutos, ele estendeu seu casaco. Depois subiu para sacudi-la e assim os frutos cairiam. Mas os carneiros comeram indistintamente as bolotas e o casaco. Quando desceu, vendo o que tinha acontecido, o pastor exclamou:</p>
                        <p class="texto_paragrafo">― Suas bestas, aos outros vocês dão sua lã para abrigá-los, a mim que lhes dou o sustento, vocês destroem até o casaco!</p>
                        <p class="texto_paragrafo">Muita gente, sem se dar conta, serve a desconhecidos e faz mal aos que lhes são próximos.</p>
                        <p>(ESOPO 550 a.C. Fábulas de Esopo. Trad. Antonio Carlos Vianna. Porto Alegre: L&PM, 1997. p.157.)</p>
                    
                        <p>O texto “O pastor e seus carneiros” é</p>
                        <ol type="A">
                            <li><input type="radio" name="q5" value="A" maxlength="1"> uma carta contando o que os carneiros fizeram com o casaco.</li>
                            <li><input type="radio" name="q5" value="B" maxlength="1"> uma fábula que ensina uma lição de moral a partir de um fato.</li>
                            <li><input type="radio" name="q5" value="C" maxlength="1"> uma notícia de um fato que ocorreu com o pastor.</li>
                            <li><input type="radio" name="q5" value="D" maxlength="1"> um poema sobre a vida do pastor e seus carneiros.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 6</h5>
                        <p>Leia o texto abaixo e responda a questão.</p>
                    
                        <p><strong>Domingão</strong></p>
                        <p class="texto_paragrafo">Domingo, eu passei o dia todo de bode. Mas, no começo da noite, melhorei e resolvei bater um fio para o Zeca.</p>
                        <p class="texto_paragrafo">— E ai, cara? Vamos ao cinema?</p>
                        <p class="texto_paragrafo">— Sei lá, Marcos. Estou meio pra baixo....</p>
                        <p class="texto_paragrafo">— Eu também tava, cara. Mas já estou melhor!</p>
                        <p class="texto_paragrafo">E lá fomos nós. O ônibus atrasou, e nós pagamos o maior mico, porque, quando chegamos, o filme já tinha começado. Teve até um mane que perguntou se a gente tinha chegado para a próxima sessão.</p>
                        <p class="texto_paragrafo">Saímos de lá, comentando:</p>
                        <p class="texto_paragrafo">— Que filme massa!</p>
                        <p class="texto_paragrafo">— Maneiro mesmo!</p>
                        <p class="texto_paragrafo">Mas já era tarde, e nem deu para contar os últimos babados pro Zeca. Afinal, segunda-feira é de trampo e eu detesto queimar o filme com o patrão. Não vejo a hora de chegar de novo para eu agitar um pouco mais.</p>
                        <p>CAVÉQUIA. Márcia Paganini. In: <a href="http://ensinocomalegria.blogspot.com" target="_blank">http://ensinocomalegria.blogspot.com</a></p>
                    
                        <p>Os dois personagens que conversam nesse texto são</p>
                        <ol type="A">
                            <li><input type="radio" name="q6" value="A" maxlength="1"> adultos.</li>
                            <li><input type="radio" name="q6" value="B" maxlength="1"> crianças.</li>
                            <li><input type="radio" name="q6" value="C" maxlength="1"> idosos.</li>
                            <li><input type="radio" name="q6" value="D" maxlength="1"> jovens.</li>
                        </ol>
                    </div>
                    
                   
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 7</h5>
                        <p>O DESPERDÍCIO DA ÁGUA</p>
                        <p class="texto_paragrafo">Quando abrimos uma torneira, não estamos apenas consumindo água. Estamos também alimentando a rede de esgoto, para onde vai praticamente toda a água que consumimos. No ano 2000, os seres humanos estarão consumindo aproximadamente 150 bilhões de m³ de água por ano e gerando 90 bilhões de m³ de esgoto.</p>
                        <p class="texto_paragrafo">O consumo de água cresce a cada dia, mas a quantidade de água disponível para o consumo no planeta não cresce. Em um futuro não muito distante haverá escassez. Alguns hábitos devem ser adquiridos em nosso cotidiano, tais como fechar a torneira ao escovar os dentes, cuidar para que as torneiras fiquem fechadas de forma correta, reaproveitar a água da lavagem da roupa para lavar o quintal etc. Um pequeno filete de água escorrendo um dia inteiro por um vazamento pode equivaler ao consumo diário de água de uma família de cinco pessoas.</p>
                        <p>Fonte: O desperdício da água. Disponível em: <a href="http://www.tvcultura.com.br/aloescola/ciencias/aguanaboca/index.htm" target="_blank">http://www.tvcultura.com.br/aloescola/ciencias/aguanaboca/index.htm</a>. Acesso em: 15 jul. 2008</p>
                    
                        <p>Segundo o texto, é preciso reduzir o desperdício de água porque</p>
                        <ol type="A">
                            <li><input type="radio" name="q7" value="A" maxlength="1"> a água usada para lavar roupa deve ser reaproveitada.</li>
                            <li><input type="radio" name="q7" value="B" maxlength="1"> algumas famílias têm menos de cinco pessoas.</li>
                            <li><input type="radio" name="q7" value="C" maxlength="1"> o consumo cresce, mas a água disponível no planeta não aumenta.</li>
                            <li><input type="radio" name="q7" value="D" maxlength="1"> quando abrimos uma torneira não consumimos apenas água.</li>
                        </ol>
                    </div>
                    
                      </div>
                    </div>
                  </div>
                </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 8</h5>
                        <p>A festa das bonecas</p>
                        <p class="texto_paragrafo">Sofia e suas colegas da escola combinaram de fazer uma festa das bonecas. Cada uma levaria uma bonequinha, não importando se fosse grande ou pequena, loura ou morena, o importante era que ninguém faltasse. Todos os preparativos foram feitos e o dia tão esperado chegou. A festa estava muito divertida, parecia uma grande casa onde moravam muitas amigas. Tudo ia bem até perceberem a falta de Marcela, que estava do lado de fora.</p>
                        <p class="texto_paragrafo">– O que você está fazendo aí, Marcela?</p>
                        <p class="texto_paragrafo">– Não sei se posso entrar Sofia. Minha boneca está sem vestido.</p>
                        <p class="texto_paragrafo">Sofia respirou fundo e teve uma grande ideia: entrou e conversou com as outras meninas. Depois de alguns minutos, elas foram até a porta e cada uma deu um vestido diferente à Marcela.</p>
                        <p class="texto_paragrafo">– Marcela, temos um presente para você. Sua boneca terá um pouquinho de cada uma das nossas.</p>
                        <p class="texto_paragrafo">Marcela recebeu muitos vestidos e sua boneca acabou tendo mais roupas para trocar que todas as outras. Alguns vestidos ficaram grandes para a boneca e nem todos combinavam muito, mas essa foi a boneca mais bem-vestida que Marcela já teve.</p>
                        <p class="texto_paragrafo">Que bonito esse exemplo de amizade! A presença de Marcela era mais importante que as próprias bonecas. Você teria coragem de abrir mão de alguma coisa para fazer um amigo feliz?</p>
                        <p>LEMOS, Agatha. Nosso Amiguinho, jan. 2011, p. 38.</p>
                    
                        <p>No trecho “... e sua boneca acabou tendo mais roupas para trocar que todas as <b>outras</b>.” (5° parágrafo), a palavra destacada refere-se a</p>
                        <ol type="A">
                            <li><input type="radio" name="q8" value="A" maxlength="1"> amigas.</li>
                            <li><input type="radio" name="q8" value="B" maxlength="1"> bonecas.</li>
                            <li><input type="radio" name="q8" value="C" maxlength="1"> meninas.</li>
                            <li><input type="radio" name="q8" value="D" maxlength="1"> roupas.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 9</h5>
                        <div class="text-center">
                            <p>Deixando a bola e a peteca</p>
                            <p>Com que inda há pouco brincavam,</p>
                            <p>Por causa de uma boneca,</p>
                            <p>Duas meninas brigavam.</p>
                            <p>Dizia a primeira: “É minha!”</p>
                            <p>“É minha!” a outra gritava;</p>
                            <p>E nenhuma se continha,</p>
                            <p>Nem a boneca largava.</p>
                            <p>Quem mais sofria (coitada!)</p>
                            <p>Era a boneca. Já tinha</p>
                            <p>Toda a roupa estraçalhada,</p>
                            <p>E amarrotada a carinha.</p>
                            <p>Tanto puxaram por ela,</p>
                            <p>Que a pobre rasgou-se ao meio,</p>
                            <p>Perdendo a estopa amarela</p>
                            <p>Que lhe formava o recheio.</p>
                            <p>E, ao fim de tanta fadiga,</p>
                            <p>Voltando à bola e à peteca,</p>
                            <p>Ambas, por causa da briga,</p>
                            <p>Ficaram sem a boneca...</p>
                            <p>Olavo Bilac</p>
                        </div>
                    
                        <p>O texto fala sobre</p>
                        <ol type="A">
                            <li><input type="radio" name="q9" value="A" maxlength="1"> a briga das meninas.</li>
                            <li><input type="radio" name="q9" value="B" maxlength="1"> como brincar de boneca.</li>
                            <li><input type="radio" name="q9" value="C" maxlength="1"> brincadeiras infantis.</li>
                            <li><input type="radio" name="q9" value="D" maxlength="1"> brincadeiras de meninos.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <br>
    
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">

                      <div class="container">
                        <h5 class="card-title">Questão 10</h5>
                        <p>Texto I</p>
                        <p>A cigarra e as formigas</p>
                        <p>No inverno, as formigas estavam fazendo secar o grão molhado, quando uma cigarra faminta lhes pediu algo para comer. As formigas lhe disseram: “Por que, no verão, não reservaste também o teu alimento?” A cigarra respondeu: “Não tinha tempo, pois cantava melodiosamente”. E as formigas, rindo, disseram: “Pois bem, se cantavas no verão, dança agora no inverno.</p>
                        <p>A fábula mostra que não se deve negligenciar em nenhum trabalho, para evitar tristeza e perigos.</p>
                        <p>Fonte: Esopo. Fábulas. Porto Alegre: L&M Pocket, 1997.</p>
                    </div>
                    
                    <div class="container">
                        <h5 class="card-title">Questão 10</h5>
                        <p>Texto II</p>
                        <p>Muita comoção e tristeza no adeus à Cigarra</p>
                        <p>Milhares de insetos compareceram, ontem, ao enterro da Cigarra. Muita tristeza e revolta marcaram o adeus à maior cantora que a Floresta já teve. Várias manifestações de carinho aconteceram durante toda a cerimônia. O prefeito Lagarto e a primeira dama Borboleta compareceram ao funeral. Eles pediram às autoridades pressa nas investigações para que o verdadeiro culpado pela morte da cantora seja punido. O público não deixou de homenagear sua querida artista. Os fãs entoaram os sucessos da Cigarra que faziam a alegria dos habitantes da Floresta durante o verão. Um outro grupo erguia faixas de protesto chamando a principal suspeita da morte, a Formiga, de cruel e de egoísta. Nenhuma formiga foi vista no enterro.</p>
                        <p>Fonte: Donizete Aparecido Batista – Professor da Rede Pública do Estado do Paraná.</p>
                    </div>
                    
                    <div class="container">
                        <p>Os dois textos apresentam:</p>
                        <ol type="A">
                            <li><input type="radio" name="q10" value="A" maxlength="1"> O egoísmo da formiga.</li>
                            <li><input type="radio" name="q10" value="B" maxlength="1"> A morte da cigarra cantora.</li>
                            <li><input type="radio" name="q10" value="C" maxlength="1"> A fome da formiga.</li>
                            <li><input type="radio" name="q10" value="D" maxlength="1"> O trabalho da formiga.</li>
                        </ol>
                    </div>
                    
                                         
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 11</h5>
                        <p class="card-title">O caso da lagarta que tomou chá-de-sumiço</p>
                        <p> <b>A Joaninha</b> – Dona Coruja, há poucos dias eu jogava conversa fora com a minha amiga Lagarta, que morava nesta folha. Hoje pela manhã, procuro aqui, procuro ali, e nada. Parece que ela sumiu do mapa.</p>

                        <p><b>Coruja</b> – O caso é intrigante, mas conte mais: alguém poderia estar implicado nesse fato?</p>
                        <p>[...]</p>
                        <p><b>A Abelha</b> – Eu, hein? Como uma boa operária, trabalho para a colmeia. Minha vida é um livro aberto! Mas quem se esconde do mundo enterrando o focinho pelos buracos que encontra?</p>
                        <p></p>
                        <p></p>
                        <p><b>Coruja</b> – Uh! Uh! Uh! Já vou ter com...</p>
                        <p><b>O Tatu</b> – Querem fazer de mim um bode expiatório. Pois dona Coruja, vou contar um segredo: tem um bicho aqui ao lado que se esconde na folhagem, mudando de cor todo o tempo. E que língua! Não pode ser o seu alvo?</p>
                        <p></p>
                        <p></p>
                        <p><b>Coruja</b> – Luz, ação! Para achar...</p>
                        <p><b>O Camaleão</b> – Desculpe-me dona Coruja! Mas uma vez insultado, acabo assim mesmo: vermelho como um camarão. Este é o meu talento, ir do verde ao amarelo, do azul ao escarlate, conforme mudo de humor. Mas quem mais poderia sumir com a lagarta, sem ter um bico notável?</p>
                        <p></p>
                        <p></p>
                        <p><b>Coruja</b> – Meu plano, então, é procurar...</p>
                        <p><b>O Tucano</b> – Só pelo bico longo acham que sou o culpado? Ledo engano! Às vezes a solução está a um passo! Pense, dona Coruja, no nome de uma gravata, pois... a lagarta agora tem asas!</p>
                        <p></p>
                        <p></p>
                        <p><b>Coruja</b> – Esta eu tiro de letra: a Lagarta cresceu, cresceu e virou...</p>
                        <p>A Borboleta!</p>
                        <p>Essa história terminou, quando</p>
                        <ol type="A">
                            <li><input type="radio" name="q11" value="A" maxlength="1"> a Coruja descobriu o que aconteceu com a Lagarta.</li>
                            <li><input type="radio" name="q11" value="B" maxlength="1"> a Joaninha conta seu problema a dona Coruja.</li>
                            <li><input type="radio" name="q11" value="C" maxlength="1"> o Camaleão acusou o Tucano.</li>
                            <li><input type="radio" name="q11" value="D" maxlength="1"> o Tatu acusou o Camaleão.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 12</h5>
                        <strong>O ouriço viajante</strong>
                        <p class="texto_paragrafo">Pipo era um ouriço jovem, desesperado para conhecer a cidade. Tanto que, um dia, ele foi para a estação comprar uma passagem. No dia da partida, com a sua malinha, ele aguarda calmamente sobre a plataforma quase deserta. Mas quando o trem finalmente chega, que horror! Os vagões estão cheios de pessoas. “Mas como conseguir um lugar?”</p>
                        <p class="texto_paragrafo">– Pipo se pergunta. O jeito é forçar um caminho no meio da multidão, mas, ao tentar isso, ele machuca sem querer todos os passageiros que se aproximam. Os passageiros começam a reclamar, a gritar e, então, Pipo acaba expulso do trem! Pacientemente, o ouriço espera o segundo trem, que chega tão lotado quanto o primeiro e Pipo resolve esperar o próximo. “Isso é demais!” – disse ele – “Já que é assim, não vou mais para a cidade, é isso aí!”. Irritado, Pipo se prepara para sair da estação, quando ouve um grito: “Ei, Pipo! Aquele é o maquinista do próximo trem.” Ele se aproxima e descobre que o maquinista não é outro senão seu primo Pipoca. “Pipo, meu primão! Há quanto tempo, hein? Estou indo para a cidade, você quer vir junto?” E Pipo, todo feliz, senta confortavelmente ao lado de seu primo. Há muito espaço na locomotiva e o melhor é que ali ele não machuca ninguém. O trem apita e lá vai Pipo a caminho da cidade.</p>
                        <p>No trecho “... ele aguarda <b>calmamente</b> sobre a plataforma...” (1° parágrafo), a palavra destacada indica</p>
                        <ol type="A">
                            <li><input type="radio" name="q12" value="A" maxlength="1"> o lugar onde o ouriço aguardava o trem.</li>
                            <li><input type="radio" name="q12" value="B" maxlength="1"> o modo como o ouriço esperou.</li>
                            <li><input type="radio" name="q12" value="C" maxlength="1"> o motivo de o ouriço aguardar o trem.</li>
                            <li><input type="radio" name="q12" value="D" maxlength="1"> o tempo que o ouriço esperou.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 13</h5>
                        <h3 class="texto_paragrafo">Crianças no lixo</h3>
                    
                        <p class="texto_paragrafo">[...] Grande parte das crianças em idade escolar – cerca de 30% – nunca foi à escola. O lixo é sua sala de aula, seu parque de diversões, sua alimentação e sua fonte de renda. Ganham de R$1 a R$ 6 por dia, mas o trabalho que fazem é fundamental para aumentar a renda de suas famílias. Vivem em condições de pobreza absoluta. Realizam um trabalho cruel. São crianças no lixo. Uma situação dramática e comum no Brasil. [...]</p>
                    
                        <p>Nesse texto, há uma opinião no trecho:</p>
                        <ol type="A">
                            <li><input type="radio" name="q13" value="A" maxlength="1"> “... cerca de 30% – nunca foi à escola.”.</li>
                            <li><input type="radio" name="q13" value="B" maxlength="1"> “Ganham de R$ 1 a R$ 6 por dia,...”.</li>
                            <li><input type="radio" name="q13" value="C" maxlength="1"> “São crianças no lixo.”.</li>
                            <li><input type="radio" name="q13" value="D" maxlength="1"> “Uma situação dramática e comum no Brasil.”.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 14</h5>
                        
                        <!-- Inclusão da imagem com identificação -->
                        <div class="text-center">
                            <img src="/img/simulado3/14.png" alt="Objetivo do texto" class="img-fluid">
                        </div>
                    
                        <p class="texto_paragrafo">Nesse texto, no último quadrinho, o pássaro e a menina</p>
                        <ol type="A">
                            <li><input type="radio" name="q14" value="A" maxlength="1"> estão assustados.</li>
                            <li><input type="radio" name="q14" value="B" maxlength="1"> estão de mau humor.</li>
                            <li><input type="radio" name="q14" value="C" maxlength="1"> gostaram da piada.</li>
                            <li><input type="radio" name="q14" value="D" maxlength="1"> riram do jacaré.</li>
                        </ol>
                    </div>
                    
               
                    </div>
                  </div>
                </div>
              </div>            
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 15</h5>
                        
                        <!-- Inclusão da imagem com identificação -->
                        <div class="text-center">
                            <img src="/img/simulado3/15.png" alt="Objetivo do texto" class="img-fluid">
                        </div>
                    
                        <p class="texto_paragrafo">No último quadrinho, a expressão “arrastando uma asinha” sugere que o anjinho</p>
                        <ol type="A">
                            <li><input type="radio" name="q15" value="A" maxlength="1"> arrasta as asas no chão.</li>
                            <li><input type="radio" name="q15" value="B" maxlength="1"> bate suas asas no ar.</li>
                            <li><input type="radio" name="q15" value="C" maxlength="1"> está apaixonado pela menina.</li>
                            <li><input type="radio" name="q15" value="D" maxlength="1"> está com a asinha quebrada.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 16</h5>
                        <p class="h5">LIÇÃO QUE SE APRENDE CEDO</p>
                        <p class="texto_paragrafo">Dia 14 de março, segunda-feira, é comemorado o Dia Internacional do Consumidor.</p>
                        <p class="texto_paragrafo">Talvez você ache que essa informação não tenha muito a ver com você, que ainda não é adulto e não tem um salário todo mês. Egano seu. Mesmo quando se compra só um chocolate na padaria da esquina, essa atitude vem acompanhada de direitos e deveres – tanto de quem compra quanto de quem vende – e que, muitas vezes, a gente nem se dá conta.</p>
                        <p class="texto_paragrafo">E, se você reparar bem, vai notar que boa parte das propagandas é voltada para o público infantil – ou seja, existem muitos produtos nas prateleiras das lojas esperando que você, consumidor mirim, os leve para casa. Isso pode ser perigoso, porque não é difícil chegar a um ponto em que se quer tudo o que é oferecido. Para fazer crianças e adolescentes consumidores responsáveis, agora e no futuro, nada melhor que a informação.</p>
                        <p class="font-weight-bold">De acordo com esse texto, a propaganda dirigida ao público infantil é perigosa porque</p>
                        <ol type="A">
                            <li><input type="radio" name="q16" value="A" maxlength="1"> a criança pode querer comprar tudo o que lhe é oferecido.</li>
                            <li><input type="radio" name="q16" value="B" maxlength="1"> a criança se torna consciente de seus direitos e deveres.</li>
                            <li><input type="radio" name="q16" value="C" maxlength="1"> o público infantil pode querer ter um salário mensal.</li>
                            <li><input type="radio" name="q16" value="D" maxlength="1"> o público infantil se torna mais responsável no futuro.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 17</h5>
                        
                        <p class="texto_paragrafo">O CONSELHO DOS RATOS</p>
                        <p class="texto_paragrafo">Esopo</p>
                        <p class="texto_paragrafo">Os ratos resolveram organizar um conselho para decidir qual seria a melhor alternativa para que eles pudessem saber, com antecedência, quando o inimigo deles, o gato, estava por perto. Dentre as muitas idéias apresentadas, uma delas, que logo foi aprovada por todos, considerava que um sino deveria ser pendurado no pescoço do gato. Assim, ao escutarem o tilintar do mesmo, todos poderiam correr a tempo para seus buracos. Além de gostarem do plano, todos ficaram extasiados com tão criativa solução.</p>
                        <p class="texto_paragrafo">E um velho rato então questionou:</p>
                        <p class="texto_paragrafo">“Meus amigos, percebo que o plano é realmente muito bom. Mas, quem dentre nós prenderá o sino no pescoço do gato?”</p>
                        <p class="texto_paragrafo">E nenhum voluntário se fez presente.</p>
                        
                        <p class="font-weight-bold">O impedimento para que o plano dos ratos fosse realizado foi</p>
                        <ol type="A">
                            <li><input type="radio" name="q17" value="A" maxlength="1"> a falta de planejamento para pôr em prática a ideia.</li>
                            <li><input type="radio" name="q17" value="B" maxlength="1"> não ter tido uma reunião do conselho para decisão.</li>
                            <li><input type="radio" name="q17" value="C" maxlength="1"> falta de tempo para executar o plano.</li>
                            <li><input type="radio" name="q17" value="D" maxlength="1"> faltar alguém para executar o plano.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">                   

                      <div class="container">
                        <h5 class="card-title">Questão 18</h5>
                        
                        <p class="texto_paragrafo">Berto era um abominável homem das Neves. Ele gostava tanto das montanhas nevadas, quanto das distantes florestas.</p>
                        <p class="texto_paragrafo">Certo dia, Berto estava perseguindo duas borboletas quando elas pousaram em uma pedra.</p>
                        <p class="texto_paragrafo">Silenciosamente, ele rastejou para perto delas. Mas do outro lado da pedra havia um garotinho.</p>
                        <p class="texto_paragrafo">Que susto! Ele nunca havia visto nada igual! Berto mergulhou na moita para se esconder. Mas ...</p>
                        <p class="texto_paragrafo">AAAAIIII ! Os galhos tinham vários espinhos!</p>
                        <p class="texto_paragrafo">O garotinho andou até Berto:</p>
                        <p class="texto_paragrafo">– Desculpe-me – ele disse. Eu não quis assustá-lo. Meu nome é Tom. Quem é você?</p>
                        <p class="texto_paragrafo">– Eu sou Berto, um abominável homem das neves!</p>
                        
                        <p class="font-weight-bold">De acordo com esse texto, Berto ficou assustado porque</p>
                        <ol type="A">
                            <li><input type="radio" name="q18" value="A" maxlength="1"> não conhecia seres humanos.</li>
                            <li><input type="radio" name="q18" value="B" maxlength="1"> não sabia voltar para a casa.</li>
                            <li><input type="radio" name="q18" value="C" maxlength="1"> viu duas borboletas na pedra.</li>
                            <li><input type="radio" name="q18" value="D" maxlength="1"> viu espinhos no meio do mato.</li>
                        </ol>
                    </div>
                                      
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 19</h5>
                        <p class="texto_paragrafo">A água é uma substância química. Um elemento da natureza, transparente, sem sabor e odor, composto por dois gases: duas partes de hidrogênio (símbolo H) e uma parte de oxigênio (símbolo O). Sua fórmula química é H2O.</p>
                        <p class="texto_paragrafo">A água pode ser doce ou salgada. A água do mar é salgada porque os rios carregam para o mar cloro e sódio que se desprendem na erosão das rochas dos seus leitos. Como os rios recebem mais água doce das chuvas do que evaporam, sua água continua doce.</p>
                        <p class="texto_paragrafo">Com o mar é diferente: ele perde mais água por meio da evaporação do que ganha com a chuva. Assim, como o sal não evapora com a água, essa substância vai se acumulando e se concentrando no mar. A repetição desse fenômeno durante centenas de milhões de anos aumentou a concentração de cloreto de sódio nos oceanos, tornando-os salgados como são hoje. A água pode se apresentar em diversos estados: líquido, sólido (gelo) e gasoso (vapor d’água).</p>
                        <p class="texto_paragrafo">GARCEZ, Lucília; GARCEZ, Cristina. Água. São Paulo: Callis, 2010. p. 5. Coleção Planeta sustentável.</p>
                    
                        <p>Esse texto serve para</p>
                        <ol type="A">
                            <li><input type="radio" name="q19" value="A" maxlength="1"> contar uma experiência.</li>
                            <li><input type="radio" name="q19" value="B" maxlength="1"> contar uma história.</li>
                            <li><input type="radio" name="q19" value="C" maxlength="1"> dar uma informação.</li>
                            <li><input type="radio" name="q19" value="D" maxlength="1"> dar uma instrução.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div> 
              <br>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 20</h5>
                        <p class="texto_paragrafo">Marijane só não fica mais furiosa porque a cara do Jefferson está tão engraçada que ela cai numa sonora gargalhada, chamando até a atenção dos outros fregueses.</p>
                        <p class="texto_paragrafo">– Não é à toa que eu nunca vi peixe...</p>
                        <p class="texto_paragrafo">– Viu, sim, esqueceu? Logo na primeira vez eu trouxe um baita peixe que você convidou a família inteira pra comer.</p>
                        <p class="texto_paragrafo">– Ué, onde você conseguiu?</p>
                        <p class="texto_paragrafo">É a vez do Jefferson rir:</p>
                        <p class="texto_paragrafo">– Ué, na peixaria; na papelaria é que não podia ser.</p>
                        <p class="texto_paragrafo">– Seu mentiroso de uma figa...</p>
                        <p class="texto_paragrafo">– Tudo por amor, Marijane...</p>
                        <p class="texto_paragrafo">– Você devia levar umas palmadas, boboca...</p>
                        <p class="texto_paragrafo">Jefferson aproveita a deixa:</p>
                        <p class="texto_paragrafo">– Quer mesmo conhecer meu povo, amor? Eles são ótimos. Vovô é o fotógrafo oficial da cidade. Vovó é modista famosa.</p>
                        <p>Nesse texto, o trecho que mostra humor é:</p>
                        <ol type="A">
                            <li><input type="radio" name="q20" value="A" maxlength="1"> “– Não é à toa que eu nunca vi peixe...”. (2° parágrafo)</li>
                            <li><input type="radio" name="q20" value="B" maxlength="1"> “– Ué, onde você conseguiu?”. (4° parágrafo)</li>
                            <li><input type="radio" name="q20" value="C" maxlength="1"> “... na papelaria é que não podia ser”. (6° parágrafo)</li>
                            <li><input type="radio" name="q20" value="D" maxlength="1"> “– Quer mesmo conhecer meu povo, amor?”. (11° parágrafo)</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 21</h5>
                        <p class="texto_paragrafo">Você já notou que muitos bichos preferem ficar em turma? Vivendo em grupo, os mais velhos protegem os mais novos. E os filhotes aprendem a encarar a vida na mata observando os adultos.</p>
                        <p class="texto_paragrafo">Com os humanos acontece a mesma coisa. Rodeado pelos familiares, nos sentimos protegidos.</p>
                        <p class="texto_paragrafo">Deles recebemos carinho, cuidados e aprendemos uma porção de coisas.</p>
                        <p>O texto tem a finalidade de:</p>
                        <ol type="A">
                            <li><input type="radio" name="q21" value="A" maxlength="1"> ensinar uma brincadeira.</li>
                            <li><input type="radio" name="q21" value="B" maxlength="1"> divertir o leitor.</li>
                            <li><input type="radio" name="q21" value="C" maxlength="1"> fazer um convite.</li>
                            <li><input type="radio" name="q21" value="D" maxlength="1"> informar sobre alguns hábitos.</li>
                        </ol>
                    </div>
                                                                                           
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 22</h5>
                        <p class="texto_paragrafo">Já eram nove horas da noite. Chovia fino. Estava cansado e com sono. Teve vontade de dormir por ali mesmo, debaixo de algum toldo ou em algum vão de porta, como já fizera várias vezes. E justo quando pensou isto ele estava defronte da loja do senhor Serafim. O vão da porta era largo e fundo. Espiou através do vidro, para ver o que havia lá dentro. Viu muitos brinquedos, mas o brinquedo que mais chamou a sua atenção foi um palhacinho de pano, nariz vermelho, grandes olhos e boca enorme. Pensou: “Aqui está bom. Brinquedos não vão me mandar embora...” Encolheu-se num canto e logo estava dormindo profundamente. Dormiu e sonhou.</p>
                        <p class="texto_paragrafo">– Ei! Ei! Você, menino. Acorde! Nossa hora chegou! O relógio acaba de bater meia-noite!</p>
                        <p class="texto_paragrafo">Pedrinho acordou assustado, sem entender o que estava acontecendo. Achou que era a polícia. Muitas vezes a polícia o acordara no meio da noite e o levara, com empurrões e bolachas. Até já estava acostumado.</p>
                        <p class="texto_paragrafo">Mas desta vez o susto foi maior. No vidro da porta aparecia a cara alegre do Palhacinho de brinquedo que lhe acenava e batia no vidro para acordá-lo:</p>
                        <p class="texto_paragrafo">– Venha, repetiu o Palhacinho. – Chegou a hora dos brinquedos...</p>
                        <p>O pensamento de Pedrinho é indicado no texto por:</p>
                        <ol type="A">
                            <li><input type="radio" name="q22" value="A" maxlength="1"> pelas aspas.</li>
                            <li><input type="radio" name="q22" value="B" maxlength="1"> pelas reticências.</li>
                            <li><input type="radio" name="q22" value="C" maxlength="1"> pelo ponto de exclamação.</li>
                            <li><input type="radio" name="q22" value="D" maxlength="1"> pelo travessão.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <h1 class="text-center text-light">MATEMÁTICA</h1>           
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 23</h5>
                        <p>Veja, abaixo, os preços de alguns brinquedos da loja Seta.</p>

                        <div class="text-center">
                          <img class="img-fluid" src="/img/simulado3/23.png" alt="">
                        </div>
                   
                        <p>Dentre esses brinquedos, qual é o mais caro?</p>
                        <ol type="A">
                            <li><input type="radio" name="q23" value="A" maxlength="1"> A bola.</li>
                            <li><input type="radio" name="q23" value="B" maxlength="1"> A peteca.</li>
                            <li><input type="radio" name="q23" value="C" maxlength="1"> O carrinho.</li>
                            <li><input type="radio" name="q23" value="D" maxlength="1"> O jogo.</li>
                        </ol>
                    </div>
                                                  
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 24</h5>
                        <div class="text-center">
                            <img src="/img/simulado3/24.png" alt="Gráfico de notas do teste de Matemática">
                        </div>
                        <p>Qual desses alunos tirou a nota mais baixa nesse teste?</p>
                        <ol type="A">
                            <li><input type="radio" name="q24" value="A" maxlength="1"> Carla.</li>
                            <li><input type="radio" name="q24" value="B" maxlength="1"> Joana.</li>
                            <li><input type="radio" name="q24" value="C" maxlength="1"> Maria.</li>
                            <li><input type="radio" name="q24" value="D" maxlength="1"> Saulo.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 25</h5>
                        <p>A porta de entrada de minha casa aparece no desenho abaixo. Observe.</p>
                        <div class="text-center">
                            <img src="/img/simulado3/25.png" alt="Desenho da porta de entrada">
                        </div>
                        <p>No meu desenho, todas as formas representadas são</p>
                        <ol type="A">
                            <li><input type="radio" name="q25" value="A" maxlength="1"> retângulos.</li>
                            <li><input type="radio" name="q25" value="B" maxlength="1"> triângulos.</li>
                            <li><input type="radio" name="q25" value="C" maxlength="1"> trapézios.</li>
                            <li><input type="radio" name="q25" value="D" maxlength="1"> losangos.</li>
                        </ol>
                    </div>
                                            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 26</h5>
                        <p>O peso de Carla é 57,2kg e o de Márcia é 56,25kg. Luís pesa 57 kg e Rui pesa 56,5kg.</p>
                        <p>Se todos têm a mesma altura, a pessoa mais magrinha é</p>
                        <ol type="A">
                            <li><input type="radio" name="q26" value="A" maxlength="1"> Carla.</li>
                            <li><input type="radio" name="q26" value="B" maxlength="1"> Luís.</li>
                            <li><input type="radio" name="q26" value="C" maxlength="1"> Márcia.</li>
                            <li><input type="radio" name="q26" value="D" maxlength="1"> Rui.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 27</h5>
                        <p>Observe, na malha quadriculada abaixo, o desenho de uma galinha que Andréa fez na aula de Artes. O lado de cada quadradinho dessa malha quadriculada equivale a 1 cm.</p>
                        <div class="text-center">
                            <img src="/img/simulado3/27.png" alt="Desenho da galinha" class="img-fluid">
                        </div>
                        <p>Qual é a medida da área dessa galinha que Andréa fez?</p>
                        <ol type="A">
                            <li><input type="radio" name="q27" value="A" maxlength="1"> 39 cm².</li>
                            <li><input type="radio" name="q27" value="B" maxlength="1"> 49 cm².</li>
                            <li><input type="radio" name="q27" value="C" maxlength="1"> 58 cm².</li>
                            <li><input type="radio" name="q27" value="D" maxlength="1"> 72 cm².</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <h5 class="card-title">Questão 28</h5>
                        <p>A calculadora de Suely registrava o seguinte número:</p>
                        <p class="text-center operacao">28 364</p>
                        <p>Um possível cálculo para esse número pode ter sido:</p>
                        <ol type="A">
                            <li><input type="radio" name="q28" value="A" maxlength="1"> 2×10.000 + 8×10.000 + 3×100 + 6×10 + 4×1</li>
                            <li><input type="radio" name="q28" value="B" maxlength="1"> 2×10.000 + 8×1.000 + 3×100 + 6×10 + 4×1</li>
                            <li><input type="radio" name="q28" value="C" maxlength="1"> 2×10.000 + 8×100 + 3×10 + 6×10 + 4×1</li>
                            <li><input type="radio" name="q28" value="D" maxlength="1"> 2×100.000 + 8×10 + 3×10 + 6×10 + 4×1</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">            
                      <div class="container">
                        <h5 class="card-title">Questão 29</h5>
                        <p>Em uma grande loja de departamentos, um operador de caixa recebe 1 560 reais por mês e um supervisor de vendas 2 950 reais por mês.</p>
                        <p>Quanto um supervisor de vendas recebe a mais do que um operador de caixa por mês nessa loja?</p>
                        <ol type="A">
                            <li><input type="radio" name="q29" value="A" maxlength="1"> 1 390 reais.</li>
                            <li><input type="radio" name="q29" value="B" maxlength="1"> 1 410 reais.</li>
                            <li><input type="radio" name="q29" value="C" maxlength="1"> 2 950 reais.</li>
                            <li><input type="radio" name="q29" value="D" maxlength="1"> 4 510 reais.</li>
                        </ol>
                    </div>
                    
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
            
                    </div>
                  </div>
                </div>
              </div>            
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>            
              <br>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           

                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>               
              <br> 

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
   
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
  
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
      
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                                        
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
         
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br> 
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">           
     
                    
                    <br>                                 
                    </div>
                  </div>
                </div>
              </div>  
              <br>              
              
            </div>
        
            <div class="d-grid gap-2 m-xl-3">        
              <button type="reset" class="btn btn-danger">LIMPAR</button>
              <button type="submit" class="btn btn-success">RESPONDER</button>
            </div>
          </form>
        
    </div>   
      <%- include('partials/footer.ejs') %>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>