<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <img class="img-fluid rounded float-left" src="/img/logo_pmbv.png" alt="">
                <h3 class="display-5">TESTES DE LEITURA MENSAIS</h3>
            </header>
        </div>

        <div class="container-sm">
            <div class="row">
                <div class="col-6">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <th><h1 class="display-6 text-center">TESTE 05</h1></th>
                            </tr>
                            <tr>
                                <td class="centralizado" width="100%" height="150"><div class="text-center"><img class="img-fluid" src="/img/thumb-teste-5.png" alt=""></div></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-block" href="/teste-leitura-julho">IR PARA O TESTE 5</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

                <div class="col-6">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <th><h1 class="display-6 text-center">TESTE 06</h1></th>
                            </tr>
                            <tr>
                                <td class="centralizado" width="100%" height="150"><div class="text-center"><img class="img-fluid" src="/img/thumb-teste-6.png" alt=""></div></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-block" href="/teste-leitura-agosto">IR PARA O TESTE 6</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-6">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <th><h1 class="display-6 text-center">TESTE 07</h1></th>
                            </tr>
                            <tr>
                                <td class="centralizado" width="100%" height="150"><div class="text-center"><img class="img-fluid" src="/img/thumb-teste-7.png" alt=""></div></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-block" href="/teste-leitura-setembro">IR PARA O TESTE 7</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

                <div class="col-6">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <th><h1 class="display-6 text-center">TESTE 08</h1></th>
                            </tr>
                            <tr>
                                <td class="centralizado" width="100%" height="150"><div class="text-center"><img class="img-fluid" src="/img/thumb-teste-8.png" alt=""></div></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-block" href="/teste-leitura-outubro">IR PARA O TESTE 8</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <th><h1 class="display-6 text-center">TESTE 09</h1></th>
                            </tr>
                            <tr>
                                <td class="centralizado" width="100%" height="150"><div class="text-center"><img class="img-fluid" src="/img/thumb-teste-9.png" alt=""></div></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-block" href="/teste-leitura-novembro">IR PARA O TESTE 9</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div class="col-6">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <th><h1 class="display-6 text-center">TESTE 10</h1></th>
                            </tr>
                            <tr>
                                <td class="centralizado" width="100%" height="150"><div class="text-center"><img class="img-fluid" src="/img/thumb-teste-10.png" alt=""></div></td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-block" href="/teste-leitura-dezembro">IR PARA O TESTE 10</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

                </div>
        </div>    
        <%- include('partials/footer.ejs') %>
    <br>
    <br>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>