<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <img class="img-fluid rounded float-left" src="/img/logo_pmbv.png" alt="">
                <h3 class="display-5">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</h3>
            </header>
        </div>

        <br>
        <br>

  

        <br>
        <br>
  

        <div class="container-sm">
            <footer class="d-flex align-items-md-center bg-primary">
                <h1 class="display-6">PROFESSOR TONY COSTA</h1>
            </footer>
        </div>
    <br>
    <br>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>