<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Professor Tony Costa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-sm">
            <header class="d-flex align-items-md-center bg-primary">
                <img class="img-fluid rounded float-left" src="/img/logo_pmbv.png" alt="">
                <h3 class="display-5">TRABAHOS DE CIÊNCIAS HUMANAS (HISTÓRIA E GEOGRAFIA)</h3>
            </header>
        </div>
        <br>
        <div class="container">
          <div class="row">
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <td><h3>HISTÓRIA</h3></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>3º BIMESTRE</th>
                        </tr>
                        <tr>
                            <td><a href="/historiaBim3" class="btn btn-primary btn-block">CULTURA E TRANSMISSÃO DE SABERES</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <td><h3>GEOGRAFIA</h3></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>3º BIMESTRE</th>
                        </tr>
                        <tr>
                            <td><a href="/geografiaBim3" class="btn btn-primary btn-block">AS CIDADES E O TRABALHO</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>

        </div>
        <%- include('partials/footer.ejs') %>  
    <br>
    <br>
    </body>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</html>