table {
    border-collapse: collapse;
    width: 40%;
    margin: auto;
}

th, td {
    border: 1px solid black;
    width: 5vw;
    height: 10vh;
    text-align: center;
    font-size: larger;
}

input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    text-align: center;

}

input.correto {
    background-color: green;
    color: white;
}

input.incorreto {
    background-color: red;
    color: white;
}
.fixado{
    position: sticky;
    top: 0;
    background-color: #fff; /* Cor de fundo para cobrir o texto abaixo quando rolar */
    z-index: 1;
}
