header{
    width: 100%;
    height:12vmax;
    color: #fff;
    text-shadow: 0.5vh 0.5vh 0.5vh black;
    box-shadow: 0.5vh 0.5vh 0.5vh black;
}

footer{
    width: 100%;
    height:6vmax;
    text-align: right;
    color: #fff;
    text-shadow: 0.5vh 0.5vh 0.5vh black;
    box-shadow: 0.5vh 0.5vh 0.5vh black;
    padding: auto;
}

.card{
    box-shadow: 0.5vh 0.5vh 0.5vh black;
}
h1{
    font-size: 4.5vh;
}

h2{
    color: #fff;
    text-shadow: 0.5vh 0.5vh 0.5vh black;
}

h3{
    font-size: 3vw;
}
#temporizador{
    position: fixed;
    margin-top: 1vh;
    margin-left: 1vh;
    text-align: center;
    background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}






