table {
    border-collapse: collapse;
    width: 40%;
    margin: auto;
}

th, td {
    border: 2px solid black;
    width: 5vw;
    height: 10vh;
    text-align: center;
    font-size: larger;
}

input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    text-align: center;

}

input.correto {
    background-color: green;
    color: white;
}

input.incorreto {
    background-color: red;
    color: white;
}
